-#     Chicago Ideas Week
-#     volunteer/new.html.haml
-#     01/025/2012


%section.banner.container-fluid
  .banner_wrapper{:style => "background: url(#{asset_path "application/volunteer.jpg"}) top center no-repeat;"}


-# Main Talk content
%section.container#main_content

  #page_header
    #page_title.left
      %h1 Volunteer for CIW
    = render "partials/share"
    
    
  -# Left column, Main content
  .box.double.left
    .column_row#volunteer_form
      .column.column_double
      
        %p Be part of Chicago Ideas Week, and experience all it has to offer in a unique way.
        
        .form_section.noborder
          = semantic_form_for(@volunteer) do |f|
            = f.inputs :name => "#{current_user.name} volunteer application", :class => "v_list" do
              = f.input :first_name, :label => "First Name"
              = f.input :last_name, :label => "Last Name"
              = f.input :email, :label => "Email Address"
              = f.input :phone, :label => "Phone Number"            
              = f.input :postcode 
              = f.input :employed, :label => "Are you currently employed?" 
              = f.input :why, :label => "Why are you interested in volunteering?" 
              = f.input :what, :label => "What specific areas of expertise/experience do you have?" 
              = f.input :availability, :label => "What is your availability leading up to CIW?" 
              = f.input :street_team, :label => "Are you interested in volunteering on the CIW Event Promotion / Street Team?"
            = f.inputs :name => "Which days during the week of CIW are you available?", :class => "c_list v_lists" do
              = f.input :avail_mon, :label => "Monday"
              = f.input :avail_tue, :label => "Tuesday"
              = f.input :avail_wed, :label => "Wednesday"
              = f.input :avail_thu, :label => "Thursday"
              = f.input :avail_fri, :label => "Friday"
              = f.input :avail_sat, :label => "Saturday"
              = f.input :avail_sun, :label => "Sunday"
            = f.inputs :name => "What times during the week of CIW are you available?", :class => "c_list v_lists" do
              = f.input :avail_time_1, :label => "8am - 1pm"
              = f.input :avail_time_2, :label => "10am - 3pm"
              = f.input :avail_time_3, :label => "12am - 5pm"
              = f.input :avail_time_4, :label => "2pm - 7pm"
              = f.input :avail_time_5, :label => "4pm - 9pm"
              = f.input :avail_time_6, :label => "6pm - 11pm"
              = f.input :hours, :as => :select, :collection => ['1 - 3','2 - 5','5 - 10','10 - 25','25 - 40','I don\'t know'] 
            = f.inputs :class => "v_lists" do 
              = f.input :type_of_position, :label => "What type of position are you interested in?", :as => :select, :collection => ['Customer Service', 'Graphic Design', 'Logistics', 'Registration', 'Ushering', 'Other']
              = f.input :specific_event_interest, :label => "Are you interested in specific events during the week?"
              = f.input :interested_in_youth_program, :label => "Are you interested in volunteering for our CIW Youth program?"
              = f.input :anything_else, :label => "Is there anything else you would like us to know about?"
              
              = f.buttons do
                = f.submit :value => "Submit Application", :class => "btn submit", :id => "submit_application"
                  

  -# Include Sidebar Items
  #sidebar
    = render "partials/buy_tickets_now"
    = render "partials/sponsors"
    = render "partials/social"
    = render "partials/newsletter_form"
    

:javascript
  $('#submit_application').bind('click', function(e) {
    $(this).val('processing...');
  });
