#model_detail
  .section
    %h1 Volunteer Application
    .row.no_margin
      .column
        %strong Volunteer
      .column_double
        = @volunteer.get_first_name 
        = @volunteer.get_last_name
      .column_double= @volunteer.get_email
      .column_double= @volunteer.get_phone

    .row.no_margin
      .column
        %strong Postcode
      .column_double= @volunteer.postcode

    
    .row.no_margin
      .column
        %strong Student, Work, and Community Organiations that you belong to:
      .column_double
        = @volunteer.organization_name_1 
        = @volunteer.organization_department_1 
        = @volunteer.organization_title_1
    
    .row.no_margin
      .column
      .column_double
        = @volunteer.organization_name_2 
        = @volunteer.organization_department_2 
        = @volunteer.organization_title_2
    
    .row.no_margin
      .column
      .column_double
        = @volunteer.organization_name_3 
        = @volunteer.organization_department_3 
        = @volunteer.organization_title_3
    

    %strong Why are you interested in volunteering?
    %p= @volunteer.why

    %strong Is there anything else you would like us to know about?
    %p= @volunteer.anything_else



