-#       Chicago Ideas Week
-#       Featured Banner Partial
-#       _banner.html.haml
-#       01/01/2012


%section#featured.container-fluid

  #banner_container

    .banner_item#banner_1{:style => "background: url(#{asset_path "application/temp/banner_1.jpg"}) center center no-repeat;"}
      .banner_content
        .banner_box
          .banner_top
            %span{:class => "banner_title"}= "What Ideas Inspire Marc Ecko?"
            %span{:class => "b_link video_link"}= "Watch the video"
          .banner_bottom
            %span{:class => "banner_dates"}= "CIW 2012: October 8 - 14"
            %span{:class => "banner_purchase"}= "Buy Tickets"

    .banner_item#banner_2{:style => "background: url(#{asset_path "application/temp/banner_2.jpg"}) center center no-repeat;"}
      .banner_content
        .banner_box
          .banner_top
            %span{:class => "banner_title"}= "Me gusta el front end development"
            %span{:class => "b_link video_link"}= "Watch the video"
          .banner_bottom
            %span{:class => "banner_dates"}= "CIW 2012: October 8 - 14"
            %span{:class => "banner_purchase"}= "Buy Tickets"

    .banner_item#banner_3{:style => "background: url(#{asset_path "application/temp/banner_1.jpg"}) center center no-repeat;"}
      .banner_content
        .banner_box
          .banner_top
            %span{:class => "banner_title"}= "What Ideas Inspire Marc Ecko?"
            %span{:class => "b_link video_link"}= "Watch the video"
          .banner_bottom
            %span{:class => "banner_dates"}= "CIW 2012: October 8 - 14"
            %span{:class => "banner_purchase"}= "Buy Tickets"

    .banner_item#banner_4{:style => "background: url(#{asset_path "application/temp/banner_1.jpg"}) center center no-repeat;"}
      .banner_content
        .banner_box
          .banner_top
            %span{:class => "banner_title"}= "What Ideas Inspire Marc Ecko?"
            %span{:class => "b_link video_link"}= "Watch the video"
          .banner_bottom
            %span{:class => "banner_dates"}= "CIW 2012: October 8 - 14"
            %span{:class => "banner_purchase"}= "Buy Tickets"

    .banner_item#banner_5{:style => "background: url(#{asset_path "application/temp/banner_1.jpg"}) center center no-repeat;"}
      .banner_content
        .banner_box
          .banner_top
            %span{:class => "banner_title"}= "What Ideas Inspire Marc Ecko?"
            %span{:class => "b_link video_link"}= "Watch the video"
          .banner_bottom
            %span{:class => "banner_dates"}= "CIW 2012: October 8 - 14"
            %span{:class => "banner_purchase"}= "Buy Tickets"


    .banner_item#banner_6{:style => "background: url(#{asset_path "application/temp/banner_1.jpg"}) center center no-repeat;"}
      .banner_content
        .banner_box
          .banner_top
            %span{:class => "banner_title"}= "What Ideas Inspire Marc Ecko?"
            %span{:class => "b_link video_link"}= "Watch the video"
          .banner_bottom
            %span{:class => "banner_dates"}= "CIW 2012: October 8 - 14"
            %span{:class => "banner_purchase"}= "Buy Tickets"


    .container-fluid#banner_nav_wrapper
      %ul{:id => "banner_nav"}
        %li= link_to image_tag("application/temp/banner_thumb.jpg"), "#", :class => "b_thumb b_thumb_active", :id => "thumb_1"
        %li= link_to image_tag("application/temp/banner_thumb_2.jpg"), "#", :class => "b_thumb", :id => "thumb_2"
        %li= link_to image_tag("application/temp/banner_thumb.jpg"), "#", :class => "b_thumb", :id => "thumb_3"
        %li= link_to image_tag("application/temp/banner_thumb.jpg"), "#", :class => "b_thumb", :id => "thumb_4"
        %li= link_to image_tag("application/temp/banner_thumb.jpg"), "#", :class => "b_thumb", :id => "thumb_5"
        %li= link_to image_tag("application/temp/banner_thumb.jpg"), "#", :class => "b_thumb", :id => "thumb_6"
