= f.inputs do
  = f.input :name 
  = f.input :title 
  = f.input :about 
  = f.input :portrait, :as => :file, :title => "Portrait Photo", :hint => "portrait photo must be #{@model.portrait_dimensions_string}"
  = f.input :banner, :as => :file, :title => "Banner Photo", :hint => "a #{@model.banner_dimensions_string} blessed photo for displaying on the site"