- content_for :breadcrumbs do
  = breadcrumbs @staff_bio
  .crumb.end= section_title   

- content_for :top_links do
  = new_model_link Note, @staff_bio

- @active_tab = 'staff_bios'

- content_for :content_navigation do
  %h2 StaffBios
  %ul
    %li{:class => active_for('index')}= icon_link_to "Search", admin_staff_bios_path, 'search'
  %h2= @staff_bio.name
  %ul
    %li{:class => active_for('show')}= icon_link_to "Detail", admin_staff_bio_path(@staff_bio), 'circle-zoomin'
    %li{:class => active_for('notes')}= icon_link_to "Notes", notes_admin_staff_bio_path(@staff_bio), 'comment'
