%tr{:staff_bio => staff_bio.id}
  %td.user= staff_bio.user.name
  %td.sort= staff_bio.sort
  %td.title= staff_bio.title
  %td.about= staff_bio.about
  %td.options
    = edit_model_link staff_bio
    = destroy_model_link staff_bio
