%tr{:staff_bio => staff_bio.id}
  %td.name= link_to staff_bio.name, admin_staff_bio_path(staff_bio)
  %td.title= staff_bio.title
  %td.about= staff_bio.about
  %td.portrait= staff_bio.portrait
  %td.sort= staff_bio.sort
  %td.options
    = edit_model_link staff_bio
    = destroy_model_link staff_bio
 