%table#staff_bios
  %tr
    %th.name= ssp_sort_link :name
    %th.title= ssp_sort_link :title
    %th.about= ssp_sort_link :about
    %th.portrait= ssp_sort_link :portrait
    %th.sort= ssp_sort_link :sort
    %th 
  = render :partial => 'admin/staff_bios/staff_bio.html.haml', :collection => staff_bios
