= render 'admin/admin/collection_controls'

- content_for :top_links do
  = new_model_link StaffBio

= ssp_search_form StaffBio

.table_section
  %h3 
    Staff Bios
    = new_model_link StaffBio
  .table_wrapper
    = render 'admin/staff_bios/table.html.haml', :staff_bios => @staff_bios

