= render 'admin/admin/collection_controls'
= render 'controls'

- content_for :top_links do
  = edit_model_link @staff_bio, true
  = destroy_model_link @staff_bio, true

%h1
  = @staff_bio.name
  = icon_link_to 'notes', notes_admin_staff_bio_path(@staff_bio), 'script'
  = new_model_link Note, @staff_bio
  
  
#model_detail
  %h4 Name
  %p= @staff_bio.name

  %h4 Title
  %p= @staff_bio.title

  %h4 About
  %p= @staff_bio.about_html

  %h4 Portrait
  %p= image_tag @staff_bio.portrait.url

  %h4 Sort
  %p= @staff_bio.sort


