-#     Chicago Ideas Week
-#     about/staff.html.haml
-#     01/03/2012


%section.banner.container-fluid
  .banner_wrapper{:style => "background: url(#{asset_path "application/temp/speaker_landing_banner.jpg"}) top center no-repeat;"}


%section#main_content.row.full
  .container

    .span-two-thirds.entry_column.content_column

      %h2 CIW Staff

      %p Lorem ipsum dolor sit amet consectetuer adipiscing elit. Duis iaculis tempus lacus. Maecenas sceleri sque neque ac mauris. Duis eleifend vivamus lacus lorem euismod ultrices fringilla mol estie et quam. Nam eget nisl aliquam erat volutpat. Vestibulum ultrices consectetuer sapien.



      -# Render the loop of all captured speakers
      = render :partial => 'application/about/loop.html.haml'



    .span-one-third.entry_column.sidebar.right#community

      %h2 Community

      = render "application/partials/sponsors"
      = render "application/partials/newsletter_form"
      = render "application/partials/volunteer_info"
      = render "application/partials/social"
      = render "application/partials/tweets"








