= f.inputs do
  = f.input :event_brand, :include_blank => false 
  = f.input :name 
  = f.input :description 
  = f.input :partner, :include_blank => true, :hint => "use this to assign this event with a specific partner", :as => :select, :collection => Partner.by_name.all
  = f.input :day, :include_blank => false 
  = f.input :venue, :include_blank => false 
  = f.input :start_time, :input_html => {:class => 'timepicker', :value => @model.start_time.present? ? @model.start_time.to_s(:time) : nil}, :as => :string 
  = f.input :end_time, :input_html => {:class => 'timepicker', :value => @model.end_time.present? ? @model.end_time.to_s(:time) : nil}, :as => :string 
  = f.input :banner, :as => :file, :title => "Banner Photo", :hint => "a #{@model.banner_dimensions_string} blessed photo for displaying on the site"