- content_for :breadcrumbs do
  = breadcrumbs @event
  .crumb.end= section_title   

- content_for :top_links do
  = new_model_link Note, @event


- content_for :content_navigation do
  %h2 Events
  %ul
    %li{:class => active_for('index')}= icon_link_to "Search", admin_events_path, 'search'
  %h2= @event.name
  %ul
    %li{:class => active_for('show')}= icon_link_to "Detail", admin_event_path(@event), 'circle-zoomin'
    %li{:class => active_for('notes')}= icon_link_to "Notes", notes_admin_event_path(@event), 'comment'
