-#     Chicago Ideas Week
-#     devise/passwords/edit.html.haml
-#     01/29/2012


-# Breadcrumbs and Explore button
%section#header_toolbar.container-fluid
  .container
    #breadcrumbs
      %ul
        %li= link_to "Home", "/"
        %li
          %span Edit Account



-# Main content
%section.container#main_content

  #page_header
    #page_title.left
      %h1 Edit Account
    = render "partials/share"

  -# Left column, main content: About Us information
  .box.double.left
    .column_row
      .column.column_double
        = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
          = devise_error_messages!
          %p.left
            = f.label "Connected to Facebook?"
            - if current_user.connected_to_facebook?
              = link_to "Connect to Facebook", disconnect_facebook_user(current_user), :class => 'facebook_connect fb_connect_btn fb_connected'
            - else
              = link_to "Connect to Facebook", user_omniauth_authorize_path(:facebook), :class => 'facebook_connect fb_connect_btn'
          .clearfix
          %p
            = f.label :email
            = f.text_field :email
          %p
            = f.label :password
            = f.password_field :password
            %br
            %i (leave blank if you don't want to change it)
          %p
            = f.label :password_confirmation
            = f.password_field :password_confirmation
          %p
            = f.label :current_password
            = f.password_field :current_password
            %br
            %i (we need your current password to confirm your changes)
          %p= f.submit "Save Changes", :class => "btn blue_btn"
        
    .column_row
      .column.column_double
        %h3 Cancel my account
        %p
          Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete}.
        

  -# Include Sidebar Items
  #sidebar
    = render "partials/member_program_callout"
    = render "partials/sponsors"
    = render "partials/social"
    = render "partials/newsletter_form"
