= render 'collection_controls'

- content_for :top_links do
  = new_model_link Partner

= ssp_search_form Partner

.table_section
  %h3 
    Partners
    = new_model_link Partner
  .table_wrapper
    = render 'admin/partners/table.html.haml', :partners => @partners

