= render 'member_controls'

- content_for :top_links do
  = edit_model_link @partner, true
  = destroy_model_link @partner, true

%h1
  = @partner.name
  = icon_link_to 'notes', notes_admin_partner_path(@partner), 'script'
  = new_model_link Note, @partner
  
#model_detail
  %h4 Name
  %p= @partner.name

  %h4 Description
  %p= @partner.description

  %h4 Logo
  %p= image_tag @partner.logo


