-#     Chicago Ideas Week
-#     press_clippings/index.html.haml
-#     01/19/2012


-# Breadcrumbs and Explore button
%section#header_toolbar.container-fluid
  .container
    #breadcrumbs
      %ul
        %li= link_to "Home", "/"
        %li= link_to "News", press_clippings_path
    = render "partials/explore_dropdown"


-# Main Labs content
%section.container#main_content

  #page_header
    #page_title.left
      %h1 Press Clippings
    = render "partials/share"
    
  -# Left column, main content
  .box.double.left

    - if @press_clippings.present?
      #news_list
        - @press_clippings.each do |news|
          .column_row.divided_row{:id => "news_#{news.id}"}
            %a{:name => "news_#{news.id}"}
            .column.column_double
              %h2= news.title
              %span.timestamp= news.created_at
              %pre= news.description
    - else
      .column_row
        .column.column_double
        %p Sorry, there are currently no affiliate events. Please join our mailing list to get updates on events.
        
  
  - if @events.present?
    .box.right#labs_list
      .box_header
        %span Affiliate Event Quicklinks
      .column_row
        %ul.filter_list.labs_filter
          - @events.each do |event|
            %li
              %a{:class => "event_#{lab.id}", :href => "#event_#{lab.id}"}= event.name



  -# Include Sidebar Items
  #sidebar
    = render "partials/sponsors"
    = render "partials/social"
    = render "partials/newsletter_form"