
-# 		Chicago Ideas Week
-# 		events/talks.html.haml
-# 		01/10/2012


%section{:class => "banner container-fluid"}
	
	.banner_wrapper{:style => "background: url(#{asset_path "application/temp/speaker_landing_banner.jpg"}) top center no-repeat;"}



%section{:id => "main_content", :class => "row full"}
	.container{}
		
		.span-full.entry_column.general_#talks_overview
		
			%h2 CIW Talks
			
			%ul{:class => "entry_list"}

				- @talks.each do |talk|

					%li{:class => "entry", :id => "entry_#{talk.id}"}
						%h3= link_to talk.name, event_talk_path(talk)
						.img_wrapper= link_to image_tag(asset_path "application/temp/blog_thumb.jpg"), "#"
						%p= talk.description[0..105]

				%li{:class => "entry"}
					%h3= link_to "Chicago Ideas Week 2011 Recap, Review and Photos", "#"
					.img_wrapper= link_to image_tag(asset_path "application/temp/blog_thumb.jpg"), "#"
					%p
						= link_to "Category", "#", :class => "category_" 
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris quam, malesuada sit amet dapibus eget...

				%li{:class => "entry"}
					%h3= link_to "Chicago Ideas Week 2011 Recap, Review and Photos", "#"
					.img_wrapper= link_to image_tag(asset_path "application/temp/blog_thumb.jpg"), "#"
					%p
						= link_to "Category", "#", :class => "category_" 
						Lorem ipsum dolor sit amet, consectetur adipiscing elit...


				%li{:class => "entry"}
					%h3= link_to "Chicago Ideas Week 2011 Recap, Review and Photos", "#"
					.img_wrapper= link_to image_tag(asset_path "application/temp/blog_thumb.jpg"), "#"
					%p
						= link_to "Category", "#", :class => "category_" 
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris quam, malesuada sit amet dapibus eget...

				%li{:class => "entry"}
					%h3= link_to "Chicago Ideas Week 2011 Recap, Review and Photos", "#"
					.img_wrapper= link_to image_tag(asset_path "application/temp/blog_thumb.jpg"), "#"
					%p
						= link_to "Category", "#", :class => "category_" 
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris quam, malesuada sit amet dapibus eget...



				%li{:class => "entry"}
					%h3= link_to "Chicago Ideas Week 2011 Recap, Review and Photos", "#"
					.img_wrapper= link_to image_tag(asset_path "application/temp/blog_thumb.jpg"), "#"
					%p
						= link_to "Category", "#", :class => "category_" 
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris quam, malesuada sit amet dapibus eget...

				%li{:class => "entry"}
					%h3= link_to "Chicago Ideas Week 2011 Recap, Review and Photos", "#"
					.img_wrapper= link_to image_tag(asset_path "application/temp/blog_thumb.jpg"), "#"
					%p
						= link_to "Category", "#", :class => "category_" 
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris quam, malesuada sit amet dapibus eget...


			


<script type="text/javascript">
$('#gn-event').addClass('nav_parent_active'); // show the 2012 CIW sub menu by default
</script>		
