-#     Chicago Ideas Week
-#     partners/index.html.haml
-#     01/18/2012


%section.banner.container-fluid
  .banner_wrapper{:style => "background: url(#{asset_path "application/temp/sponsors_banner.jpg"}) top center no-repeat;"}


-# Main Talk content
%section.container#main_content

  #page_header
    #page_title.left
      %h1 CIW Community Partners
    = render "partials/share"

  -# Left column, main content: About Us information
  .box.double.left

    .column_row#about_description
      .column.column_double
        %p The CIW Community Partner program is designed to identify, develop, and sustain relationships that will bring fresh perspectives, leverage resources, and further the inclusiveness of the Chicago Ideas Week community.
        %p 
          CIW Community Partners are:
          %ul
            %li Local, national, or global non-profit organizations and businesses having an impact in Chicago
            %li Dedicated to the philosophy and ideals of Chicago Ideas Week 
            %li Representative of an engaged and active group of citizens 
            %li Committed to promoting and supporting CIW to the absolute best of their ability
            %li By becoming a Community Partner, organizations will receive access to CIW networking events, brand promotion/exposure on our website and CIW ShowGuide, and early access to CIW ticket registration.
        


  -# Include Sidebar Items
  #sidebar
    = render "partials/sponsors"
    = render "partials/social"
    = render "partials/newsletter_form"
