-#     Chicago Ideas Week
-#     partners/index.html.haml
-#     01/18/2012


%section.banner.container-fluid
  .banner_wrapper{:style => "background: url(#{asset_path "application/temp/sponsors_banner.jpg"}) top center no-repeat;"}


-# Main Talk content
%section.container#main_content

  #page_header
    #page_title.left
      %h1 CIW Community Partners
    = render "partials/share"

  -# Left column, main content: About Us information
  .box.double.left

    #about_description.column_row.divided_row
      .column.column_double
        %p The CIW Community Partner program is designed to identify, develop, and sustain relationships that will bring fresh perspectives, leverage resources, and further the inclusiveness of the Chicago Ideas Week community.
        %p 
          CIW Community Partners are:
          %ul
            %li Local, national, or global non-profit organizations and businesses having an impact in Chicago
            %li Dedicated to the philosophy and ideals of Chicago Ideas Week 
            %li Representative of an engaged and active group of citizens 
            %li Committed to promoting and supporting CIW to the absolute best of their ability
            %li By becoming a Community Partner, organizations will receive access to CIW networking events, brand promotion/exposure on our website and CIW ShowGuide, and early access to CIW ticket registration.
      
    .column_row.divided_row
      .column.column_double
        %p
          %strong Thanks to our amazing 2012 Community Partners for helping us bring CIW to life!
        
        %table#partners_list
          %tr
            %td
              = link_to "ACCION Chicago", "http://www.accionchicago.org/", :target => "_blank" 
              = link_to "Advocates for Adolescent Mothers", "http://www.advocatesforadolescentmothers.com/", :target => "_blank" 
              = link_to "Alternate Power Initiative", "http://alternatepowerinitiative.com/", :target => "_blank" 
              = link_to "Architecture for Humanity Chicago", "http://chicago.architectureforhumanity.org/", :target => "_blank" 
              = link_to "Arts Alliance Illinois", "http://www.artsalliance.org/", :target => "_blank" 
              = link_to "Associated Colleges of Midwest – Chicago Program", "http://www.acm.edu/programs/18/chicago/index.html?src=maphome", :target => "_blank" 
              = link_to "Beyond Age", "http://beyondage.com/", :target => "_blank" 
              = link_to "Bike and Park", "http://bikeandpark.com/city/chicago", :target => "_blank"  
              = link_to "BinDonated", "http://www.bindonated.org/", :target => "_blank" 
              = link_to "Blackboard", "http://www.blackboard.com/", :target => "_blank"  
              = link_to "Deals Magazine", "http://www.dealsmagazine.com/", :target => "_blank"  
              = link_to "Braintree", "https://www.braintreepayments.com/", :target => "_blank" 
              = link_to "Bright Endeavors, a social enterprise of New Moms, Inc.", "http://www.brightendeavors.org/Site/Home.html", :target => "_blank"  
              = link_to "Bright Pink", "http://www.BrightPink.org/", :target => "_blank" 
              = link_to "BucketFeet", "http://www.bucketfeet.com/", :target => "_blank" 
              = link_to "Built in Chicago", "http://www.builtinchicago.org/", :target => "_blank"  
              = link_to "Center for Enhanced Health", "http://www.debracampbell.com/", :target => "_blank" 
              = link_to "CEOs for Cities", "http://www.ceosforcities.org/", :target => "_blank" 
              = link_to "Chicago Awesome Foundation", "http://awesomechicago.org/", :target => "_blank"  
              = link_to "Chicago Botanic Garden", "http://www.chicagobotanic.org/", :target => "_blank" 
              = link_to "Chicago Cares", "http://www.chicagocares.org/", :target => "_blank" 
              = link_to "Chicago Children's Museum", "http://www.chicagochildrensmuseum.org/", :target => "_blank"  
              = link_to "Chicago Council on Science & Technology", "http://C2ST.org/", :target => "_blank" 
              = link_to "Chicago Department of Cultural Affairs and Special Events", "http://www.cityofchicago.org/city/en/depts/dca.html", :target => "_blank"  
              = link_to "Chicago Innovation Awards", "http://www.chicagoinnovationawards.com/", :target => "_blank" 
              = link_to "Chicago International Charter School", "http://www.chicagointl.org/", :target => "_blank" 
              = link_to "Chicago Metropolitan Agency for Planning", "http://www.cmap.illinois.gov/", :target => "_blank"  
              = link_to "Chicago Net Impact Professional Chapter", "http://www.chicagonetimpact.org/", :target => "_blank" 
              = link_to "Chicago Tech Academy High School", "http://www.chitech.org/", :target => "_blank" 
              = link_to "Chicago Urban Art Society (CUAS)", "http://chicagourbanartsociety.com/", :target => "_blank"  
              = link_to "Children's Home + Aid", "http://www.childrenshomeandaid.org/", :target => "_blank" 
              = link_to "CNT Energy", "http://www.cntenergy.org/", :target => "_blank" 
              = link_to "Community Housing Advocacy and Development", "http://chadhousing.org/home", :target => "_blank"  
              = link_to "Compass to Care Childhood Cancer Foundation", "http://www.compasstocare.org/", :target => "_blank"  
              = link_to "Compass(x) Strategy", "http://compassxstrategy.com/", :target => "_blank" 
              = link_to "Connect VETS.org", "http://www.ConnectVETS.org/", :target => "_blank" 
              = link_to "CoreFitChicago", "http://www.corefitchicago.com/", :target => "_blank"  
              = link_to "Corvus Blue, LLC", "http://www.foodproductdesign.com/s.aspx?exp=1&u=http%3A//www.foodproductdesign.com/buyers-guide.aspx%3Fli%3D57857", :target => "_blank"  
              = link_to "Coshowo Youth Tech Accelerator", "http://coshowo.org/", :target => "_blank" 
              = link_to "Culinary Connections", "http://www.culinaryconnections.net/", :target => "_blank"  
              = link_to "DePaul University Center for Creativity and Innovation", "http://innovation.depaul.edu/index.asp", :target => "_blank"  
              = link_to "DePaul University College of Computing and Digital Media", "http://www.cdm.depaul.edu/Pages/default.aspx", :target => "_blank" 
              = link_to "Design Cloud, LLC", "http://designcloudchicago.com/", :target => "_blank" 
              = link_to "Design for America", "http://designforamerica.com/", :target => "_blank" 
              = link_to "Dobbs Law Offices", "http://www.dobbslawoffices.com/", :target => "_blank"  
              = link_to "Donors Forum", "http://www.donorsforum.org/s_donorsforum/index.asp", :target => "_blank" 
              = link_to "Dreams for Kids", "http://dreamsforkids.org/", :target => "_blank" 
              = link_to "E.A.T. – Education, Agriculture & Technology", "http://eat-chicago.org/", :target => "_blank"  
              = link_to "Edison Awards", "http://www.edisonawards.com/", :target => "_blank" 
              = link_to "EMBARC", "http://www.embarcchicago.org", :target => "_blank" 
              = link_to "Energy BBDO", "http://www.energybbdo.com/", :target => "_blank"  
              = link_to "EPIC", "http://iamepic.org/", :target => "_blank" 
              = link_to "Erikson Institute", "http://www.erikson.edu/", :target => "_blank"  
              = link_to "Evening Flow", "http://eveningflow.com/", :target => "_blank" 
              = link_to "Eventbrite Chicago", "http://www.eventbrite.com/", :target => "_blank" 
              = link_to "Faith in Place", "http://www.faithinplace.org/", :target => "_blank" 
              = link_to "Fellowship MB Church", "http://www.fellowshipchicago.com/index-x.htm", :target => "_blank"  
              = link_to "FFOCAL", "http://ffocal.com/", :target => "_blank" 
              = link_to "Field Museum", "http://fieldmuseum.org/", :target => "_blank"  
              = link_to "Firebelly University", "http://firebellyu.com/", :target => "_blank" 
              = link_to "FOAF", "http://alpha.thefoaf.com/", :target => "_blank" 
              = link_to "Fourfoldmasters", "http://www.fourfoldmasters.org/", :target => "_blank"  
              = link_to "Fragrance Belles-Lettres: The Magazine", "http://fragrancebelleslettres.blogspot.com/", :target => "_blank"  
              = link_to "Frank Lloyd Wright Preservation Trust", "http://www.GoWright.org/", :target => "_blank" 
              = link_to "Free Spirit Media", "http://www.freespiritmedia.org/", :target => "_blank" 
              = link_to "From the Barrio Foundation", "http://www.fromthebarrio.com/", :target => "_blank"  
              = link_to "Furnishly", "http://furnishly.com/", :target => "_blank" 
              = link_to "GameFilm360", "http://www.gamefilm360.com/", :target => "_blank" 
              = link_to "Generation Mirror", "http://genmirror.org/", :target => "_blank" 
              = link_to "George M. Pullman Educational Foundation", "http://www.pullmanfoundation.org/", :target => "_blank"  
              = link_to "GirlForward", "http://www.girlforward.org/", :target => "_blank" 
              = link_to "GlobeMed", "http://globemed.org/", :target => "_blank" 
              = link_to "Good News Only", "http://gnonly.com/", :target => "_blank"  
              = link_to "Goodman Theatre", "http://www.goodmantheatre.org", :target => "_blank" 
              = link_to "Green Chicago Restaurant Coalition", "http://www.buygreenchicago.org/", :target => "_blank"  
              %p Green Era
              = link_to "Groundswell Educational Films", "http://groundswellfilms.org/index2.php", :target => "_blank" 
              = link_to "Hannah's Bretzel", "http://www.hannahsbretzel.com/", :target => "_blank" 
              = link_to "Health & Disability Advocates", "http://www.hdadvocates.org/", :target => "_blank"  
              = link_to "Health Leads Chicago", "http://www.healthleadsusa.org/", :target => "_blank" 
              = link_to "Heshima Kenya", "http://www.heshimakenya.org/", :target => "_blank" 
              = link_to "Hip Hop Democrat", "http://TheHipHopDemocrat.Com/", :target => "_blank"  
              = link_to "HRInsights", "http://www.hrinsights.com/", :target => "_blank" 
              = link_to "Hyde Park Angels", "http://www.hydeparkangels.com/", :target => "_blank"  
              = link_to "I-GO Car Sharing", "http://www.igocars.org/", :target => "_blank" 
              = link_to "IJ Clinic on Entrepreneurship", "http://ij.org/clinic", :target => "_blank"  
              = link_to "Illinois Destination ImagiNation, Inc.", "http://www.illinoisdi.org/", :target => "_blank" 
              = link_to "Illinois Education Foundation", "http://www.iledfoundation.org/", :target => "_blank" 
              = link_to "Illinois Science & Technology Coalition", "http://istcoalition.org/", :target => "_blank"  
            %td
              = link_to "Illinois Science Council", "http://www.illinoisscience.org/", :target => "_blank" 
              = link_to "Illinois Technology Association", "http://www.illinoistech.org/", :target => "_blank"
              = link_to "Imerman Angels", "http://www.imermanangels.org/", :target => "_blank" 
              = link_to "Impact Engine", "http://www.theimpactengine.com/", :target => "_blank" 
              = link_to "Improvapy", "http://improvapy.wordpress.com/", :target => "_blank" 
              = link_to "Inspire Excellence Training & Coaching", "http://www.InspirExcellence.com/", :target => "_blank" 
              = link_to "Inspirited Media Music + Interactive", "http://www.inspiritedmedia.com/", :target => "_blank" 
              = link_to "Inter-American Magnet School", "http://iamschicago.com/", :target => "_blank" 
              = link_to "International Beethoven Project", "http://internationalbeethovenproject.com/", :target => "_blank" 
              = link_to "Intersport", "http://www.intersportnet.com/", :target => "_blank" 
              = link_to "Jumpstart Chicago", "http://jstart.org/where/midwest", :target => "_blank" 
              = link_to "Junior Achievement of Chicago", "http://www.jachicago.org/", :target => "_blank" 
              = link_to "kickSprout", "http://kicksprout.com/", :target => "_blank" 
              = link_to "Kumbuya, LLC", "https://www.kumbuya.com/", :target => "_blank" 
              = link_to "Landmarks Illinois", "http://www.Landmarks.org/", :target => "_blank" 
              = link_to "LATENT DESIGN", "http://www.latentdesign.net/", :target => "_blank" 
              = link_to "League of Women Voters of Chicago", "http://lwvchicago.org/", :target => "_blank" 
              = link_to "Learnapalooza", "http://www.learnapaloozachi.com/", :target => "_blank" 
              = link_to "LiveHealth", "http://www.livehealth.me/", :target => "_blank" 
              = link_to "Loyola Limited", "http://www.loyolalimited.com/", :target => "_blank" 
              = link_to "Mac 'n Cheese Productions", "http://macncheeseproductions.com/", :target => "_blank" 
              = link_to "Majani Catering", "http://MajaniCatering.com/", :target => "_blank" 
              = link_to "Marketaero.com", "http://www.marketaero.com/", :target => "_blank" 
              = link_to "Metropolitan Planning Council", "http://www.metroplanning.org/index.html", :target => "_blank" 
              = link_to "Midwest High Speed Rail Association", "http://www.MidwestHSR.org/", :target => "_blank" 
              = link_to "Monitor (Chicago)", "http://www.monitor.com/", :target => "_blank" 
              = link_to "Music Blogger's Association of America", "http://MusicBloggers.org/", :target => "_blank" 
              = link_to "National Museum of Mexican Art", "http://www.nationalmuseumofmexicanart.org/", :target => "_blank" 
              = link_to "Network for Teach Entrepreneurship (NFTE Chicago)", "http://www.nfte.com/", :target => "_blank" 
              = link_to "New Venture Advisors LLC", "http://newventureadvisors.net/", :target => "_blank" 
              = link_to "Nimlok Chicago", "http://www.nimlok.com/chicago/", :target => "_blank" 
              = link_to "nonBored.com", "http://nonBored.com/", :target => "_blank" 
              = link_to "Omega Pi Psi Fraternity, Inc.", "http://omegapipsifraternityinc.org/", :target => "_blank" 
              = link_to "Open Books Ltd.", "http://www.open-books.org/", :target => "_blank" 
              = link_to "Paeon Partners", "http://www.paeonpartners.com/", :target => "_blank" 
              = link_to "Panzanzee", "http://www.panzanzee.com/", :target => "_blank" 
              = link_to "Plus Fashion Week (TM) Chicago", "http://www.pfwchicago.com/", :target => "_blank" 
              = link_to "Positive Coaching Alliance – Chicago", "http://chicago.positivecoach.org/", :target => "_blank" 
              = link_to "PreScouter", "http://www.prescouter.com/", :target => "_blank" 
              = link_to "Pumping Station: One", "http://pumpingstationone.org/", :target => "_blank" 
              = link_to "Rape Victim Advocates", "http://www.rapevictimadvocates.org/", :target => "_blank" 
              = link_to "Raw Energy Materials", "http://www.newrebar.com/", :target => "_blank" 
              = link_to "RECSOLU", "http://www.recsolu.com/", :target => "_blank" 
              = link_to "Science is Sexy", "http://science-is-sexy.com/", :target => "_blank" 
              = link_to "Seer Outfitters", "http://www.seeroutfitters.com/blog/", :target => "_blank" 
              = link_to "Skinny Socials", "http://skinnysocials.com/", :target => "_blank" 
              = link_to "Social Enterprise Alliance – Chicago Chapter", "http://socialenterprise-chicago.org/", :target => "_blank" 
              = link_to "Soham Dance Space", "http://sohamdancespace.org/", :target => "_blank" 
              = link_to "Sports Philanthropy Foundation", "http://www.sportsphilanthropyfoundation.org/", :target => "_blank" 
              %p Squirrel & Company
              = link_to "StartingUp Now", "http://www.startingupnow.com/", :target => "_blank" 
              = link_to "Student Veterans of America", "http://www.studentveterans.org/", :target => "_blank" 
              = link_to "Suite Partners", "http://suite.is/", :target => "_blank" 
              %p Sunshine Progressive Youth Alliance
              = link_to "Supplies for Dreams", "http://www.suppliesfordreams.org/", :target => "_blank" 
              = link_to "Susan Hyman Coaching & Facilitation", "http://susanhyman.com/", :target => "_blank" 
              = link_to "Table XI", "http://www.tablexi.com/", :target => "_blank" 
              = link_to "Technical Advocates", "http://www.technicaladvocates.net/", :target => "_blank" 
              %p Technology Access Television
              = link_to "TEDxUChicago", "http://tedxuchicago.com/", :target => "_blank" 
              = link_to "Teen Writers and Artists", "http://teenwritersandartists.ning.com/", :target => "_blank" 
              = link_to "Teleffective Corporation", "http://www.teleffect.com/", :target => "_blank" 
              = link_to "The Academy for Global Citizenship", "http://agcchicago.org/", :target => "_blank" 
              = link_to "The Cara Program", "http://www.thecaraprogram.org/", :target => "_blank" 
              = link_to "The Conservation Center", "http://www.theconservationcenter.com/", :target => "_blank" 
              = link_to "The G.L.A.R.E. Club", "http://www.theglareclub.org/", :target => "_blank" 
              = link_to "The Institute for Arts Entrepreneurship", "http://www.instituteforartsentrepreneurship.com/", :target => "_blank" 
              = link_to "The Kitchen Community", "http://www.thekitchencommunity.org/", :target => "_blank" 
              = link_to "The Monks of Invention", "http://monksofinvention.com/", :target => "_blank" 
              = link_to "The Pro Bono Thinking Society", "http://www.probonothinking.org/", :target => "_blank" 
              = link_to "The scienceFIST foundation", "http://sciencefist.org/", :target => "_blank" 
              = link_to "Think Tank Sound", "http://www.thinktanksound.com/", :target => "_blank" 
              = link_to "tix4cause, LLC", "http://www.tix4cause.com/", :target => "_blank" 
              = link_to "Unintended.org", "http://unintended.org/blog", :target => "_blank" 
              = link_to "United States Holocaust Memorial Museum, Midwest Regional Office", "http://www.ushmm.org/", :target => "_blank" 
              = link_to "Urban Initiatives", "http://www.urbaninitiatives.org/", :target => "_blank" 
              = link_to "Urban Prep Academies", "http://www.urbanprep.org/", :target => "_blank" 
              = link_to "Valeo Spa and Wellness Center", "http://valeochicago.com/", :target => "_blank" 
              = link_to "Valorem Law Group", "http://www.valoremlaw.com/", :target => "_blank" 
              = link_to "Virgo Project Consulting", "http://thevirgoproject.com/", :target => "_blank" 
              = link_to "Weave the People", "http://weavethepeople.com/", :target => "_blank" 
              = link_to "WMS Industries", "http://wms.com/Pages/default.aspx", :target => "_blank" 
              = link_to "Women's Initiative Network – WIN", "http://ladiesofwin.org/", :target => "_blank" 
              = link_to "World Sport Chicago", "http://www.worldsportchicago.org/", :target => "_blank" 
              = link_to "WorldChicago", "http://worldchicago.org/", :target => "_blank" 
              = link_to "Year Up – Chicago", "http://www.yearup.org/locations/main.php?page=chicago", :target => "_blank" 
              = link_to "Yellow Tractor", "http://www.yellowtractorprogram.org/", :target => "_blank" 
              = link_to "Yollocalli Arts Reach", "http://www.yollocalli.org/", :target => "_blank" 
              = link_to "Young Ambassadors for Opportunity", "http://www.opportunity.org/young-ambassadors-for-opportunity/", :target => "_blank" 
              = link_to "Zealous Good", "http://www.zealousgood.com/", :target => "_blank"
              
        %p *Note: The deadline to apply for the Community Partners program has passed. Please look out for information on the 2013 program after Chicago Ideas Week.


  -# Include Sidebar Items
  #sidebar
    = render "partials/member_program_callout"
    = render "partials/sponsors"
    = render "partials/social"
    = render "partials/newsletter_form"
