-#     Chicago Ideas Week
-#     partners/index.html.haml
-#     01/18/2012


%section.banner.container-fluid
  .banner_wrapper{:style => "background: url(#{asset_path "application/temp/sponsors_banner.jpg"}) top center no-repeat;"}


-# Main Talk content
%section.container#main_content

  #page_header
    #page_title.left
      %h1 CIW Community Partners
    = render "partials/share"

  -# Left column, main content: About Us information
  .box.double.left

    .column_row#about_description
      .column.column_double
        %p The CIW Community Partner program is designed to identify, develop, and sustain relationships that will bring fresh perspectives, leverage resources, and further the inclusiveness of the Chicago Ideas Week community.
        %p The CIW Community Partner program is created to ensure that the Chicago Ideas Week network extends to all corners of our city and consists of as many diverse, unique, and engaged individuals possible.
        %p Participants include local businesses, foundations, funds, non-profit organizations, or community centers located in and around the city of Chicago.
        %p 
          CIW Community Partners are:
          %ul
            %li Local businesses, foundations, funds, non profit organizations, or community centers located in and around the city of Chicago
            %li Engaged in supporting the City of Chicago and its citizens
            %li Committed to the goals and ideology of Chicago Ideas Week
            %li Dedicated to exposing their audiences to Chicago Ideas Week events
        %p If your organization is as passionate as we are about transformational ideas and building lasting connections, we’d love to hear from you! Chicago Ideas Week provides a unique promotional platform and, with your help, we can further extend the Chicago Ideas Week conversation around new ideas and innovation.
        %p 
          To apply to enroll in the CIW Community Partner program, please [click here]. For more information, please email
          %a{:href => "mailto:brooke@chicagoideas.com", :target => "_blank", :rel => "nofollow"} brooke@chicagoideas.com
        %p All applications are subject to evaluation by the CIW executive committee.



  -# Include Sidebar Items
  #sidebar
    = render "partners/signup_link"
    = render "partials/sponsors"
    = render "partials/social"
    = render "partials/newsletter_form"