-#     Chicago Ideas Week
-#     _chapters.html.haml
-#     01/15/2012

- if chapters.present? and chapters.any?{|c| c.vimeo_id.present?}
  .box.sidebar.right#chapters
    .box_header.yellow_header
      %span= title
    .column_row
      %ul.preview_list
        -chapters.each do |chapter|
          - if chapter.present? and chapter != this_chapter and chapter.vimeo_id.present?
            %li
              .img_frame
                = link_to "play", "#", :class => "play_btn", :rel => "bookmark", :title => "#{chapter.title}"
                = link_to image_tag(chapter.banner(:thumb)), video_path(chapter), :rel => "bookmark", :title => "#{chapter.title}"
              = link_to chapter.title, video_path(chapter), :rel => "bookmark", :title => "#{chapter.title}"
              - chapter.performances.limit(2).each do |performance|
                - if performance.speaker.present?
                  %span= performance.speaker.name
