-#    Chapter Loop
-#
-#    Standard template for an individual chapter item
-#    in the standard preview list


- @chapters.each do |chapter|
  %li{:id => "chapter_#{chapter.id}"}
    .img_frame
      = link_to "play", video_path(chapter), :class => "play_btn"
      = link_to image_tag(chapter.banner.url(:thumb), :width => "200"), video_path(chapter)
    = link_to chapter.title, video_path(chapter)
    - chapter.performances.limit(2).each do |performance|
      - if performance.speaker.present?
        %span= performance.speaker.name