- if chapters.present?
  .column_row#talks_speakers
    .column.column_double
      %span.column_header= title
      %ul.preview_list.speaker_list.double_rows
        - chapters.each do |c|
          - if c.present?
            - c.performances.each do |p| 
              - if p.speaker.present? && p.speaker != this_speaker
                %li
                  .img_frame 
                    = link_to image_tag(p.speaker.portrait(:thumb)), speaker_path(p.speaker), :rel => "bookmark", :title => "#{p.speaker.name}"
                  = link_to p.speaker.name, speaker_path(p.speaker), :rel => "bookmark", :title => "#{p.speaker.name}"
                  %span= p.speaker.title_abbreviated
