%ul
  = form_tag user_session_path do
    %li
      = label_tag 'user[email]', 'Email address' 
      = text_field_tag 'user[email]', "", {:placeholder => "Email address", :tabindex => 1}
    %li
      = label_tag 'user[password]', 'Password'
      = password_field_tag 'user[password]', "", {:placeholder => "password", :tabindex => 2}
    %li.divided#dd_submit
      = check_box_tag 'user[remember_me]'
      = label_tag 'user[remember_me]', 'Remember me'
      %button.btn.blue_btn.right Sign in
    %li#connect_to_facebook
      = link_to "Login with Facebook", user_omniauth_authorize_path(:facebook), :class => 'fb_connect_btn'
    %li#dd_forgot_pw
      = link_to "Forgot your password?", new_password_path('user')