.box.right#subscribe_to_newsletter
  .column_row
    = semantic_form_for User.new, :url => newsletter_users_path, :remote => true, :html => {:id => 'subscribe_to_newsletter'} do |f|
      = f.inputs :name => "Register for the CIW Newsletter" do
        = f.input :name, :input_html => {:placeholder => 'Your Name'}, :required => true 
        = f.input :email, :input_html => {:placeholder => 'Email Address'}, :required => true  
        = f.commit_button :label => 'Subscribe to Newsletter'
  
