-#     Chicago Ideas Week
-#     partials/_speakers.html.haml
-#     01/16/2012


.column_row#speakers
  .column.column_double
    %span.column_header Speakers
    %ul.preview_list.speaker_list.double_rows
      - @speakers.each do |speaker|
        %li{:id => "speaker_#{speaker.id}", :class => "speaker_#{speaker.id}"}
          .img_frame
            = link_to image_tag(speaker.portrait(:thumb)), speaker_path(speaker)
          = link_to speaker.name, speaker_path(speaker)
          %span= speaker.title_abbreviated

    -#= paginate @speakers
