-#    Speaker Loop
-#
-#    Standard template for an individual speaker item
-#    in the standard preview list

- speakers.each do |speaker|
  %li{:id => "speaker_#{speaker.id}", :class => "speaker_#{speaker.id}"}
    .img_frame
      = link_to image_tag(speaker.portrait(:thumb)), speaker_path(speaker), :rel => "bookmark", :title => "#{speaker.name}"
    = link_to speaker.name, speaker_path(speaker), :rel => "bookmark", :title => "#{speaker.name}"
    %span= speaker.title_abbreviated
