-#     Chicago Ideas Week
-#     speakers/_speaker_tweet.html.haml
-#     02/17/2012

- if @speaker.twitter_screen_name.present?
  .box.right
    .box_header
      %span= "Tweets by #{@speaker.name}"
    .column_row
      %ul#speaker_feed.kohtweet_feed
    
      = link_to "Follow #{@speaker.name} on Twitter", "http://www.twitter.com/#{@speaker.twitter_screen_name}", :class => "follow_"
    

//twitter integration
:javascript
  $('#speaker_feed').kohtweets({
    'preloader' : 'true',
    'preloader_url' : '/assets/images/large_preloader.gif',
    'type' : 'username',
    'template' : '{{#tweets}}<li id="tweet_{{id}}">{{#user}}<div class="avatar_container"><img src="{{profile_image_url}}" /></div><div class="tweet_content"><a href="http://twitter.com/{{screen_name}}">@{{screen_name}}:</a>{{/user}} {{text}}<a class="tweet_meta" href="http://www.twitter.com/{{#user}}{{screen_name}}{{/user}}/status/{{id_str}}">{{created_at}}</a></div></li>{{/tweets}}',
    'screen_name' : "#{escape_javascript speaker.twitter_screen_name}",
    'count' : '3'
  });