-#     Chicago Ideas Week
-#     partials/_talks.html.haml
-#     01/18/2012


- @talks.each do |talk|
  %li{:id => "talk_#{talk.id}"}
    - if talk.banner.present?
      .img_frame
        = link_to image_tag(talk.banner(:thumb)), talk_path(talk), :rel => "bookmark", :title => "#{talk.name}"
    = link_to talk.name, talk_path(talk), :rel => "bookmark", :title => "#{talk.name}"
    - if talk.track.present?
      %span= talk.track.name
    - chapters = talk.chapters
    - if chapters.present? and chapters.any?{|c| c.vimeo_id.present?}
      - video_count = 0
      - chapters.each do |c|
        - if c.vimeo_id.present?
          - video_count = video_count + 1
      %span= video_count > 1 ? "#{video_count} videos" : "#{video_count} video"
