-#     Chicago Ideas Week
-#     partials/_talks.html.haml
-#     01/18/2012


- @talks.each do |talk|
  %li{:id => "talk_#{talk.id}"}
    .img_frame
      = link_to "play", talk_path(talk), :class => "play_btn"
      = link_to image_tag(talk.banner_src), talk_path(talk)
    = link_to talk.name, talk_path(talk)
    - if talk.track.present?
      %span= talk.track.name
    - if talk.chapters.present?
      %span= talk.chapters.count > 1 ? "#{talk.chapters.count} videos" : "#{talk.chapters.count} video"