-#     Chicago Ideas Week
-#     _track_filter.html.haml
-#     01/15/2012

.box.right#community
  .box_header
    %span Topics
  .column_row.divided_row
    %ul.filter_list
      %li= link_to "All Talks", talks_path
      - @tracks.each do |track|
        %li= link_to track.name, track_path(track), :rel => "bookmark", :title => "View all #{track.name} Talks"
  
  .column_row
    %ul.filter_list
      %li= link_to "Megatalks", mega_talks_talks_path, :rel => "bookmark", :title => "View all Megatalks"
      %li= link_to "CIW Labs", labs_events_path, :rel => "bookmark", :title => "View all CIW Labs"
      %li= link_to "Partner Programs", partner_programs_events_path, :rel => "bookmark", :title => "View all Partner Programs"
      %li= link_to "Affiliate Events", affiliate_event_events_path, :rel => "bookmark", :title => "View all Affiliate Events"