-#     Chicago Ideas Week
-#     _track_filter.html.haml
-#     01/15/2012

.box.right#community
  .box_header
    %span Topics
  .column_row.divided_row
    %ul.filter_list
      %li= link_to "All Talks", talks_path
      - @tracks.each do |track|
        %li= link_to track.name, "#"
  
  .column_row
    %ul.filter_list
      %li= link_to "Mega Talks", mega_talks_talks_path
      %li= link_to "CIW Labs", labs_events_path
      %li= link_to "Partner Programs", partner_programs_events_path
      %li= link_to "Affiliate Events", affiliate_event_events_path