= render 'admin/admin/collection_controls'
- content_for :breadcrumbs do
  .crumb.end Topics

- content_for :top_links do
  = new_model_link Topic

= ssp_search_form Topic

.table_section
  %h3 
    Topics
    = new_model_link Topic
  .table_wrapper
    = render 'admin/topics/table.html.haml', :topics => @topics

