= render 'admin/admin/collection_controls'
= render 'controls'

- content_for :top_links do
  = edit_model_link @topic, true
  = destroy_model_link @topic, true

%h1
  = @topic.name
  = icon_link_to 'notes', notes_admin_topic_path(@topic), 'script'
  = new_model_link Note, @topic
  
#model_detail
  %h4 Name
  %p= @topic.name

  %h4 Description
  %p= @topic.description_html


