%tr{:bhsi_applications => bhsi_applications.id}
  %td.name= link_to bhsi_applications.first_name, admin_bhsi_application_path(bhsi_applications)
  %td.name= bhsi_applications.last_name
  %td.email= bhsi_applications.email
  %td.user_id= bhsi_applications.user_id
  %td.options
    = edit_model_link bhsi_applications
    = destroy_model_link bhsi_applications
 