= f.inputs do
  = f.input :first_name 
  = f.input :last_name 
  = f.input :address1 
  = f.input :address2
  = f.input :city 
  = f.input :state
  = f.input :country 
  = f.input :phone_number 
  = f.input :email 
  = f.input :gender 
  = f.input :birthdate 
  = f.input :applied_before 
  = f.input :about_yourself
   
  = f.input :title 
  = f.input :social_venture_name 
  = f.input :legal_structure 
  = f.input :url 
  = f.input :twitter_handle
  = f.input :video_url 
  
  = f.input :social_venture_description
  = f.input :venture_launched
  = f.input :number_people_affected
  = f.input :explain_number
  = f.input :three_standout_statistics
  = f.input :organizational_development
  = f.input :makes_social_innovation
  = f.input :inspiration
  = f.input :sustainability_model
  = f.input :improvements
  = f.input :distinguish_yourself
  
  = f.input :strong_midwest_connections_explained
  = f.input :additional_comments
  = f.input :previous_budget
  = f.input :reference_1_name
  = f.input :reference_1_relationship
  = f.input :reference_1_phone
  = f.input :reference_1_email
  = f.input :reference_2_name
  = f.input :reference_2_relationship
  = f.input :reference_2_phone
  = f.input :reference_2_email
  
  = f.input :press_clipping_1
  = f.input :press_clipping_2
  = f.input :press_clipping_3
  
  = f.input :agreement_accepeted
