= render 'collection_controls'

- content_for :top_links do
  = new_model_link BhsiApplication

= ssp_search_form BhsiApplication

.table_section
  %h3 
    BHSI Applications
    = new_model_link BhsiApplication
  .table_wrapper
    = render 'admin/bhsi_applications/table.html.haml', :bhsi_applications => @bhsi_applications

