-#     Chicago Ideas Week
-#     talks/chapter_individual.html.haml
-#     01/12/2012


-# Breadcrumbs and Explore button
%section#header_toolbar.container-fluid
  .container
    #breadcrumbs
      %ul
        %li= link_to "Home", "/"
        %li= link_to "Talks", talks_path
        %li= link_to @talk.name, talk_path(@talk)
        %li= link_to @chapter.name, video_path(@chapter)
    = link_to "Explore Talks", "#", :class => "explore_btn", :id => "explore_talks"

