-#     Chicago Ideas Week
-#     talks/index.html.haml
-#     01/15/2012



-# Breadcrumbs and Explore button
%section#header_toolbar.container-fluid
  .container
    #breadcrumbs
      %ul
        %li= link_to "Home", "/"
        %li= link_to "Talks", talks_path
    = link_to "Explore Talks", "#", :class => "explore_btn", :id => "explore_talks"


-# Begin Main Talk content
%section.container#main_content
  
  -# Featured Talks slider
  - if @megatalks.present?
    .slider
      - @megatalks.each do |featured|
        - begin
          = link_to image_tag(featured.banner.url, :title => '<span class="banner_head">featured.name</span><span class="banner_type">featured.track.name</span>'), talk_path(featured)
        - rescue
      
  
  -# Left column, main content
  .box.double.left
    .column_row.divided_row#talks
      .column.column_double
        %span.column_header Talks
        %ul.preview_list.double_rows
          - @talks.each do |talk|
            %li{:id => "talk_#{talk.id}"}
              .img_frame
                = link_to "play", talk_path(talk), :class => "play_btn"
                - begin
                  = link_to image_tag(talk.banner.url), talk_path(talk)
                - rescue
              = link_to talk.name, talk_path(talk)
              - if talk.track.present?
                %span= talk.track.name
              - if talk.chapters.present?
                %span= talk.chapters.count > 1 ? "#{talk.chapters.count} videos" : "#{talk.chapters.count} video"

    -# Speakers list
    = render "partials/speakers_loop", :locals => @speakers

  -# Include Sidebar Items
  = render "partials/track_filter"
  = render "partials/sponsors"
  = render "partials/newsletter_form"
  = render "partials/social"

