-#     Chicago Ideas Week
-#     talks/index.html.haml
-#     01/15/2012



-# Breadcrumbs and Explore button
%section#header_toolbar.container-fluid
  .container
    #breadcrumbs
      %ul
        %li= link_to "Home", "/"
        %li= link_to "Talks", talks_path
    = render "partials/explore_dropdown"

-# Begin Main Talk content
%section.container#main_content
  
  -# Featured Talks slider
  = render "talks/slider", :featured => @featured
      
  
  -# Left column, main content
  .box.double.left
  
    -# Talks Loop
    = render "talks/talks", :talks => @talks

    -# Speakers list
    = render "talks/speakers", :speakers => @speakers


  -# Include Sidebar Items
  #sidebar
    -#= render "partials/track_filter"
    = render "partials/sponsors"
    = render "partials/newsletter_form"
    = render "partials/social"

