-#     Chicago Ideas Week
-#     talks/mega_talks.html.haml
-#     01/018/2012


%section.banner.container-fluid
  .banner_wrapper{:style => "background: url(#{asset_path "application/temp/speaker_landing_banner.jpg"}) top center no-repeat;"}


-# Main Talk content
%section.container#main_content
  
  - if @megatalks.present?
    #events_section
      %ul
        - @megatalks.each do |talks|
          %li
            .img_frame
              = link_to image_tag(talks.banner_src), talk_path(talks)
            %h3= link_to talks.name, talk_path(talks)
        

  -# Left column, main content
  .box.double.left
    .column_row#about_description
      .column.column_double        
        - if @talks.present?
          %span.column_header Talks
          %ul.preview_list.double_rows
            = render "partials/talks_loop", :talks => @talks



  -# Include Sidebar Items
  #sidebar
    = render "partials/sponsors"
    = render "partials/social"
    = render "partials/newsletter_form"