-#     Chicago Ideas Week
-#     talks/mega_talks.html.haml
-#     01/10/2012


%section#main_content.row.full
  .container

    .row.entry_column.general_#ciw_talks
      %h2 CIW Talks
      
      - if @talks.present?
        %ul.entry_list.entry_featured.styled_thumbs
          - @talks.limit(3).each do |talk|
            %li.entry{:id => "entry_#{talk.id}"}
              .img_wrapper= link_to image_tag("application/temp/blog_thumb.jpg"), "#"
              %h3= link_to talk.name, talk_path(talk)
              - if talk.track.present?
                %p= talk.track.name
          
          %li.entry
            .img_wrapper= link_to image_tag("application/temp/blog_thumb.jpg"), "#"
            %h3= link_to "test item for shooo", "#"
            %p talk.track.name
            
          %li.entry
            .img_wrapper= link_to image_tag("application/temp/blog_thumb.jpg"), "#"
            %h3= link_to "test item for shooo", "#"
            %p talk.track.name
            
        
          %li.entry
            .img_wrapper= link_to image_tag("application/temp/blog_thumb.jpg"), "#"
            %h3= link_to "test item for shooo", "#"
            %p talk.track.name


<script type="text/javascript">
$('#gn-event').addClass('nav_parent_active'); // show the 2012 CIW sub menu by default
</script>