-#     Chicago Ideas Week
-#     talks/show.html.haml
-#     01/12/2012


-# Breadcrumbs and Explore button
%section#header_toolbar.container-fluid
  .container
    #breadcrumbs
      %ul
        %li= link_to "Home", "/"
        %li= link_to "CIW Talks", talks_path
        %li= link_to @talk.name
    = render "partials/explore_dropdown"



-# Main Talk content
%section.container#main_content

  #page_header
    #page_title.left
      %h1= @talk.name
      - if @talk.track.present?
        %span.sub_header= link_to @talk.track.name, "#"
    = render "partials/share"
      

  -# Left column, main content: Gallery, details, speakers, etc.
  .box.double.left
    
    - if @talk.talk_photos.present?
      .talk_gallery
        - @talk.talk_photos.each do |photo|
          = image_tag photo.photo(:album)
        

    .column_row.divided_row#talks_description
      .column.column_double
        %span.column_header About this Talk
        %pre= @talk.description
        
        -#- if @talk.is_current? && @talk.ticket_url.present?
        -#  %a{:href => "#{@talk.ticket_url}", :class => "btn blue_btn buy_your_tickets", :target => "_blank"}Buy Your Tickets
        
    .column_row.divided_row#talks_location
      .column
        %span.column_header
          Date &amp; Location
          - if !@talk.is_current?
            %span.expired_date Event Passed
        %table.talk_venue_details
          %tr
            %td.venue_label{:width => "85"} Date
            %td= @talk.formatted_date
          %tr
            %td.venue_label Time
            %td= @talk.formatted_time
          %tr
            %td.venue_label Venue
            %td
              = @talk.venue.name
              %address= @talk.venue.address
          - if @talk.is_current?
            %tr
              %td{:colspan => "2"}
                %span.hint *Please note: CIW Talk dates/times are subject to change
      .column.right
        .venue_map
          - if @talk.venue.present?
            = image_tag @talk.venue.bing_maps_src(300,145,zoom=15)
  
    
    = render "partials/chapters_speakers", :chapters => @chapters, :title => "Speakers", :this_speaker => @speaker

  -# Include Sidebar Items
  #sidebar
    = render "partials/buy_tickets_now"
    - if !@talk.is_current?
      = render "partials/chapters_sidebar", :chapters => @chapters, :title => "Videos in this Talk", :this_chapter => 'NULL'
    = render "partials/sponsors"
    = render "partials/social"
    = render "partials/newsletter_form"
