-#     Chicago Ideas Week
-#     talks/talk_individual.html.haml
-#     01/12/2012


-# Breadcrumbs and Explore button
%section#header_toolbar.container-fluid
  .container
    #breadcrumbs
      %ul
        %li= link_to "Home", "/"
        %li= link_to "Talks", talks_path
        %li= link_to @talk.name
    = link_to "Explore Talks", "#", :class => "explore_btn", :id => "explore_talks"


-# Main Talk content
%section.container#main_content

  -# Left column, main content: Gallery, details, speakers, etc.
  .box.double.left
    
    .talk_gallery
      -#- @talk.talk_photos.each do |photo|
      -#  = image_tag(photo.photo_file_name)
      = image_tag("application/temp/asdf.jpg")
      = image_tag("application/temp/asdffff.jpg")
      = image_tag("application/temp/asdfasdf.jpg")

    .column_row.divided_row#talks_description
      .column.column_double
        %span.column_header About this Talk
        %pre= @talk.description
        
    .column_row.divided_row#talks_location
      .column.column_double
        %span.column_header
          Date &amp; Location
          %span.expired_date Event Passed
        %table.talk_venue_details
          %tr
            %td.venue_label{:width => "85"} Date
            %td= @talk.day.name
          %tr
            %td.venue_label Time
            %td= '#{@talk.start_time} - #{@talk.end_time} PM'
          %tr
            %td.venue_label Venue
            %td
              = @talk.venue.name
              %address= @talk.venue.address
      .venue_map
        = image_tag venue.google_maps_src
