-#     Chicago Ideas Week
-#     application/staff_overview.html.haml
-#     01/03/2012


%section.banner.container-fluid
  .banner_wrapper{:style => "background: url(#{asset_path "application/temp/speaker_landing_banner.jpg"}) top center no-repeat;"}


%section#main_content.row.full
  .container

    .span-two-thirds.entry_column.content_column

      %h2 CIW Team

      %p Lorem ipsum dolor sit amet consectetuer adipiscing elit. Duis iaculis tempus lacus. Maecenas sceleri sque neque ac mauris. Duis eleifend vivamus lacus lorem euismod ultrices fringilla mol estie et quam. Nam eget nisl aliquam erat volutpat. Vestibulum ultrices consectetuer sapien.



      -# Render the loop of all captured speakers
      %ul{:id => "staff_list", :class => "image_grid three_span"}

        - @staff.present?

        - @staff.each do |staffmember| 

          %li
            = link_to team_member_path(staffmember) do
              .grid_img_wrapper
                = image_tag URI.decode(staffmember.portrait.url)
              .grid_content
                %span.title_= staffmember.name
                %span.desc_= staffmember.title



    .span-one-third.entry_column.sidebar.right#community

      %h2 Community

      = render "partials/sponsors"
      = render "partials/newsletter_form"
      = render "partials/volunteer_info"
      = render "partials/social"
      = render "partials/tweets"







