
-# 		Chicago Ideas Week
-# 		events/talks.html.haml
-# 		01/10/2012


%section{:class => "banner container-fluid"}
	
	.banner_wrapper{:style => "background: url(#{asset_path "application/temp/speaker_landing_banner.jpg"}) top center no-repeat;"}



%section{:id => "main_content", :class => "row full"}
	.container{}
		
		.span-full.entry_column.general_#talks_overview
		
			%h2 CIW Talks
			
			%ul{:class => "entry_list entry_featured"}

				- @talks.each do |talk|

					%li{:class => "entry", :id => "entry_#{talk.id}"}
						.img_wrapper= link_to image_tag(asset_path "application/temp/thumb_temp.jpg"), talk_path(talk)
						%h3= link_to talk.name, talk_path(talk)
						%p= talk.track.name

				%li{:class => "entry"}
					.img_wrapper= link_to image_tag(asset_path "application/temp/thumb_temp.jpg"), "#"
					%h3= link_to "Chicago Ideas Week 2011 Recap, Review and Photos", "#"
					%p Technology

				%li{:class => "entry"}
					.img_wrapper= link_to image_tag(asset_path "application/temp/thumb_temp.jpg"), "#"
					%h3= link_to "Chicago Ideas Week 2011 Recap, Review and Photos", "#"
					%p Technology


				%li{:class => "entry"}
					.img_wrapper= link_to image_tag(asset_path "application/temp/thumb_temp.jpg"), "#"
					%h3= link_to "Chicago Ideas Week 2011 Recap, Review and Photos", "#"
					%p Technology

				%li{:class => "entry"}
					.img_wrapper= link_to image_tag(asset_path "application/temp/thumb_temp.jpg"), "#"
					%h3= link_to "Chicago Ideas Week 2011 Recap, Review and Photos", "#"
					%p Technology



				%li{:class => "entry"}
					.img_wrapper= link_to image_tag(asset_path "application/temp/thumb_temp.jpg"), "#"
					%h3= link_to "Chicago Ideas Week 2011 Recap, Review and Photos", "#"
					%p Technology

				%li{:class => "entry"}
					.img_wrapper= link_to image_tag(asset_path "application/temp/thumb_temp.jpg"), "#"
					%h3= link_to "Chicago Ideas Week 2011 Recap, Review and Photos", "#"
					%p Technology


			


<script type="text/javascript">
$('#gn-event').addClass('nav_parent_active'); // show the 2012 CIW sub menu by default
</script>		
