-#     Chicago Ideas Week
-#     talks/talk_individual.html.haml
-#     01/12/2012


-#= @talk.name
-#= @talk.id
-#%br
-#%br
-#%br
-#- @chapters.each do |chapter|
-#  = chapter.title
-#  = chapter.vimeo_id
-#  = chapter.description
-#  %br
-#  %br
-#  - chapter.performances.each do |p|
-#    = link_to p.speaker.name, speaker_path(p.speaker.permalink)
-#    %br
-#    %br


%section.banner.container-fluid{:class => "banner container-fluid"}
  .banner_wrapper{:style => "background: url(#{@talk.banner.url}) top center no-repeat;"}


%section#main_content.row.full
  .container

    .row.talk_header#talk_header
      .span11.left
        %h1= @talk.name
        - if @talk.track.present?
          %span{:class => "sub_header"}= link_to @talk.track.name, "#"
      .span5.right
        social goes here


    .row.talk_body
     
      .span11#talk_content.noborder
        .row.content_section#talk_description
          %pre= @talk.description


      .span5#chapter_list
        %span.row_header Chapters

        %ul.list_reset.styled_thumbs
          - @chapters.each do |chapter|
            %li
              .img_wrapper
                = link_to "", "#",  :class => "play_btn"
                - if chapter.chapter_photos.first.present?
                  = image_tag URI.decode chapter.chapter_photos.first.photo.url(:thumb)
              = link_to chapter.title, chapter_path(chapter)
              %span= "#{chapter.performances.count} speakers"


<script type="text/javascript">
$('#gn-event').addClass('nav_parent_active'); // show the 2012 CIW sub menu by default
</script>