%tr{:community_partner_application => community_partner_application.id}
  %td.name= link_to community_partner_application.name, admin_community_partner_application_path(community_partner_application)
  %td.city= community_partner_application.city
  %td.state= community_partner_application.state
  %td.country= community_partner_application.country
  %td.user_id= community_partner_application.user_id
  %td.options
    = edit_model_link community_partner_application
    = destroy_model_link community_partner_application
 