= f.inputs do
    = f.input :name
    = f.input :description
    = f.input :address1
    = f.input :address2
    = f.input :city
    = f.input :state
    = f.input :country
    = f.input :facebook_page
    = f.input :twitter_handle
    = f.input :contact_name
    = f.input :contact_title
    = f.input :contact_email
    = f.input :contact_phone
    = f.input :previous_partner
    = f.input :why_partner
    = f.input :design_with_purpose_theme
    = f.input :start_something_theme
    = f.input :fashion_theme
    = f.input :sports_theme
    = f.input :cities_theme
    = f.input :politics_theme
    = f.input :philanthropy_theme
    = f.input :tech_theme
    = f.input :breathroughs_in_science_theme
    = f.input :creative_process_theme
    = f.input :health_wellness_theme
    = f.input :future_of_news_theme
    = f.input :influence_of_art_theme
    = f.input :food_theme
    = f.input :good_evil_theme
    = f.input :social_entrepreneurship_theme
    = f.input :explorers_theme
    = f.input :disruptive_innovation_theme
    = f.input :future_of_military_theme
    = f.input :music_theme
    = f.input :religion_theme
    = f.input :epic_friendships_theme
    = f.input :economy_theme
    = f.input :future_leaders_theme
    = f.input :education_theme
    = f.input :meaning_of_life_theme
    = f.input :environment_theme
    = f.input :criminal_justice_theme
    = f.input :storytellers_theme
    = f.input :gender_theme
    = f.input :most_important
    = f.input :most_important_other
    = f.input :organization_has_newsletter
    = f.input :organization_newsletter_frequency
    = f.input :other_newsletter_frequency
    = f.input :ciw_updates_in_newsletter
    = f.input :user.name


