= f.inputs do
  = f.input :name 
  = f.input :description 
  = f.input :address1 
  = f.input :address2 
  = f.input :city 
  = f.input :state 
  = f.input :country 
  = f.input :how_align 
  = f.input :art_theme 
  = f.input :education_theme 
  = f.input :finance_theme 
  = f.input :health_theme 
  = f.input :public_policy_theme 
  = f.input :social_theme 
  = f.input :technology_theme 
  = f.input :other_theme 
  = f.input :public_mailing_list 
  = f.input :user
