%table#community_partner_applications
  %tr
    %th.name= ssp_sort_link :name
    %th.city= ssp_sort_link :city
    %th.state= ssp_sort_link :state
    %th.country= ssp_sort_link :country
    %th.user_id= ssp_sort_link :user_id
    %th 
  = render :partial => 'admin/community_partner_applications/community_partner_application.html.haml', :collection => community_partner_applications
