= render 'member_controls'

- content_for :top_links do
  = edit_model_link @community_partner_application, true
  = destroy_model_link @community_partner_application, true

%h1
  = @community_partner_application.name
  = icon_link_to 'notes', notes_admin_community_partner_application_path(@community_partner_application), 'script'
  = new_model_link Note, @community_partner_application

#model_detail
  %h4 Name
  %p= @community_partner_application.name

  %h4 Description
  %p= @community_partner_application.description

  %h4 Address1
  %p= @community_partner_application.address1

  %h4 Address2
  %p= @community_partner_application.address2

  %h4 City
  %p= @community_partner_application.city

  %h4 State
  %p= @community_partner_application.state

  %h4 Country
  %p= @community_partner_application.country

  %h4 Facebook Page
  %p= @community_partner_application.facebook_page
  
  %h4 Twitter Handle
  %p= @community_partner_application.twitter_handle

  %h4 Contact Name
  %p= @community_partner_application.contact_name
  
  %h4 Contact Title
  %p= @community_partner_application.contact_title
  
  %h4 Contact email
  %p= @community_partner_application.contact_email
  
  %h4 Contact Phone
  %p= @community_partner_application.contact_phone
  
  %h4 Was your organization a 2011 Community Partner?
  %p= @community_partner_application.previous_partner? ? 'yes' : 'no'
  
  %h4 Why do you want to become a 2012 CIW Community Partner?
  %p= @community_partner_application.why_partner
  
  
  
  %h3 Design with Purpose
  %p= @community_partner_application.design_with_purpose_theme? ? 'yes' : 'no'

  %h3 Start Something
  %p= @community_partner_application.start_something_theme? ? 'yes' : 'no'

  %h3 Fashion
  %p= @community_partner_application.fashion_theme? ? 'yes' : 'no'

  %h3 Sports
  %p= @community_partner_application.sports_theme? ? 'yes' : 'no'

  %h3 Cities
  %p= @community_partner_application.cities_theme? ? 'yes' : 'no'

  %h3 Politics
  %p= @community_partner_application.politics_theme? ? 'yes' : 'no'

  %h3 Philanthropy
  %p= @community_partner_application.philanthropy_theme? ? 'yes' : 'no'

  %h3 Tech
  %p= @community_partner_application.tech_theme

  %h3 Breakthroughs in Science
  %p= @community_partner_application.breathroughs_in_science_theme? ? 'yes' : 'no'

  %h3 Creative Process
  %p= @community_partner_application.creative_process_theme? ? 'yes' : 'no'

  %h3 Health and Wellnesss
  %p= @community_partner_application.health_wellness_theme? ? 'yes' : 'no'

  %h3 Future of News
  %p= @community_partner_application.future_of_news_theme? ? 'yes' : 'no'

  %h3 Influence of Art
  %p= @community_partner_application.influence_of_art_theme? ? 'yes' : 'no'

  %h3 Food
  %p= @community_partner_application.food_theme? ? 'yes' : 'no'

  %h3 Good and Evil
  %p= @community_partner_application.good_evil_theme? ? 'yes' : 'no'

  %h3 Social Entrepreneurship
  %p= @community_partner_application.social_entrepreneurship_theme? ? 'yes' : 'no'

  %h3 Explorers
  %p= @community_partner_application.explorers_theme? ? 'yes' : 'no'

  %h3 Disruptive Innovation
  %p= @community_partner_application.disruptive_innovation_theme? ? 'yes' : 'no'

  %h3 Future of Military
  %p= @community_partner_application.future_of_military_theme? ? 'yes' : 'no'

  %h3 Music
  %p= @community_partner_application.music_theme? ? 'yes' : 'no'

  %h3 Religion
  %p= @community_partner_application.religion_theme? ? 'yes' : 'no'

  %h3 Epic Friendships and Relationships
  %p= @community_partner_application.epic_friendships_theme? ? 'yes' : 'no'

  %h3 Economy
  %p= @community_partner_application.economy_theme? ? 'yes' : 'no'

  %h3 Future Global Leaders
  %p= @community_partner_application.future_leaders_theme? ? 'yes' : 'no'

  %h3 Education
  %p= @community_partner_application.education_theme? ? 'yes' : 'no'

  %h3 Meaning of Life
  %p= @community_partner_application.meaning_of_life_theme? ? 'yes' : 'no'

  %h3 Environment
  %p= @community_partner_application.environment_theme? ? 'yes' : 'no'

  %h3 Criminal Justice
  %p= @community_partner_application.criminal_justice_theme? ? 'yes' : 'no'

  %h3 Storytellers
  %p= @community_partner_application.storytellers_theme? ? 'yes' : 'no'

  %h3 Gender
  %p= @community_partner_application.gender_theme? ? 'yes' : 'no'
  
  %h4 What is most important to you about being a Community Partner?
  %p= @community_partner_application.most_important
  
  %h4 Other?
  %p= @community_partner_application.most_important_other
  
  %h4 My organization has a newsletter
  %p= @community_partner_application.organization_has_newsletter
  
  %h4 Our newsletter is
  %p= @community_partner_application.organization_newsletter_frequency
  
  %h4 Other frequency
  %p= @community_partner_application.other_newsletter_frequency
  
  %h4 I agree to include relevant CIW updates in my organization’s newsletter
  %p= @community_partner_application.ciw_updates_in_newsletter
  
  %h4 User
  %p= @community_partner_application.user.name


