- if base_model.kind_of? User
  .crumb
    = link_to 'Users', admin_users_path
  .crumb
    = link_to base_model.name, admin_user_path(base_model)
    
- elsif base_model.kind_of? Speaker
  .crumb
    = link_to 'Speakers', admin_speakers_path
  .crumb
    = link_to base_model.name, admin_speaker_path(base_model)

- elsif base_model.kind_of? Partner
  .crumb
    = link_to 'Partners', admin_partners_path
  .crumb
    = link_to base_model.name, admin_partner_path(base_model)

- elsif base_model.kind_of? SponsorshipLevel
  .crumb
    = link_to 'Sponsorship Levels', admin_sponsorship_levels_path
  .crumb
    = link_to base_model.name, admin_sponsorship_level_path(base_model)

- elsif base_model.kind_of? Sponsor
  .crumb
    = link_to 'Sponsors', admin_sponsors_path
  .crumb
    = link_to base_model.name, admin_sponsor_path(base_model)

- elsif base_model.kind_of? Event
  .crumb
    = link_to 'Events', admin_events_path
  .crumb
    = link_to base_model.name, admin_event_path(base_model)

- elsif base_model.kind_of? Topic
  .crumb
    = link_to 'Topics', admin_topics_path
  .crumb
    = link_to base_model.name, admin_topic_path(base_model)

- elsif base_model.kind_of? Talk
  .crumb
    = link_to 'Talks', admin_talks_path
  .crumb
    = link_to base_model.name, admin_talk_path(base_model)

- elsif base_model.kind_of? Venue
  .crumb
    = link_to 'Venues', admin_venues_path
  .crumb
    = link_to base_model.name, admin_venue_path(base_model)

- elsif base_model.kind_of? StaffBio
  .crumb
    = link_to 'Staff Bios', admin_staff_bios_path
  .crumb
    = link_to base_model.name, admin_staff_bio_path(base_model)
