- if base_model.kind_of? User
  .crumb
    = link_to 'Users', admin_users_path
  .crumb
    = link_to base_model.name, admin_user_path(base_model)
    
- elsif base_model.kind_of? Partner
  .crumb
    = link_to 'Partners', admin_partners_path
  .crumb
    = link_to base_model.name, admin_partner_path(base_model)

- elsif base_model.kind_of? SponsorshipLevel
  .crumb
    = link_to 'Sponsorship Levels', admin_sponsorship_levels_path
  .crumb
    = link_to base_model.name, admin_sponsorship_level_path(base_model)

- elsif base_model.kind_of? Sponsor
  = render "shared/breadcrumbs_item", :base_model => base_model.sponsorship_level
  .crumb
    = link_to 'Sponsors', admin_sponsors_path
  .crumb
    = link_to base_model.name, admin_sponsor_path(base_model)

- elsif base_model.kind_of? Event
  .crumb
    = link_to 'Events', admin_events_path
  .crumb
    = link_to base_model.name, admin_event_path(base_model)

- elsif base_model.kind_of? Track
  .crumb
    = link_to 'Tracks', admin_tracks_path
  .crumb
    = link_to base_model.name, admin_track_path(base_model)

- elsif base_model.kind_of? Talk
  .crumb
    = link_to 'Talks', admin_talks_path
  .crumb
    = link_to base_model.name, admin_talk_path(base_model)

- elsif base_model.kind_of? Venue
  .crumb
    = link_to 'Venues', admin_venues_path
  .crumb
    = link_to base_model.name, admin_venue_path(base_model)

- elsif base_model.kind_of? Day
  .crumb
    = link_to 'Days', admin_days_path
  .crumb
    = link_to base_model.name, admin_day_path(base_model)

- elsif base_model.kind_of? TalkBrand
  .crumb
    = link_to 'Talk Brands', admin_talk_brands_path
  .crumb
    = link_to base_model.name, admin_talk_brand_path(base_model)

- elsif base_model.kind_of? EventBrand
  .crumb
    = link_to 'Event Brands', admin_event_brands_path
  .crumb
    = link_to base_model.name, admin_event_brand_path(base_model)

- elsif base_model.kind_of? Chapter
  = render "shared/breadcrumbs_item", :base_model => base_model.talk
  .crumb
    = link_to 'Chapters', admin_chapters_path
  .crumb
    = link_to 'Chapter', admin_chapter_path(base_model)

- elsif base_model.kind_of? Performance
  .crumb
    = link_to 'Performances', admin_performances_path
  .crumb
    = link_to 'Performance', admin_performance_path(base_model)

- elsif base_model.kind_of? Quote
  .crumb
    = link_to 'Quotes', admin_quotes_path
  .crumb
    = link_to 'Quote', admin_quote_path(base_model)

- elsif base_model.kind_of? EventPhoto
  .crumb
    = link_to 'Event Photos', admin_event_photos_path
  .crumb
    = link_to 'EventPhoto', admin_event_photo_path(base_model)

- elsif base_model.kind_of? ChapterPhoto
  .crumb
    = link_to 'Chapter Photos', admin_chapter_photos_path
  .crumb
    = link_to 'ChapterPhoto', admin_chapter_photo_path(base_model)

- elsif base_model.kind_of? TalkPhoto
  .crumb
    = link_to 'Talk Photos', admin_talk_photos_path
  .crumb
    = link_to 'TalkPhoto', admin_talk_photo_path(base_model)

- elsif base_model.kind_of? PressClipping
  .crumb
    = link_to 'Press Clippings', admin_press_clippings_path
  .crumb
    = link_to 'PressClipping', admin_press_clipping_path(base_model)

- elsif base_model.kind_of? Volunteer
  .crumb
    = link_to 'Volunteers', admin_volunteers_path
  .crumb
    = link_to 'Volunteer', admin_volunteer_path(base_model)

- elsif base_model.kind_of? CommunityPartnerApplication
  .crumb
    = link_to 'Community Partner Applications', admin_community_partner_applications_path
  .crumb
    = link_to base_model.name, admin_community_partner_application_path(base_model)

- elsif base_model.kind_of? Job
  .crumb
    = link_to 'Jobs', admin_jobs_path
  .crumb
    = link_to 'Job', admin_job_path(base_model)
