- if base_model.kind_of? User
  .crumb
    = link_to 'Users', admin_users_path
  .crumb
    = link_to base_model.name, admin_user_path(base_model)
    
- elsif base_model.kind_of? Partner
  .crumb
    = link_to 'Partners', admin_partners_path
  .crumb
    = link_to base_model.name, admin_partner_path(base_model)

- elsif base_model.kind_of? SponsorshipLevel
  .crumb
    = link_to 'Sponsorship Levels', admin_sponsorship_levels_path
  .crumb
    = link_to base_model.name, admin_sponsorship_level_path(base_model)

- elsif base_model.kind_of? Sponsor
  = render "shared/breadcrumbs_item", :base_model => base_model.sponsorship_level
  .crumb
    = link_to 'Sponsors', admin_sponsors_path
  .crumb
    = link_to base_model.name, admin_sponsor_path(base_model)

- elsif base_model.kind_of? Event
  .crumb
    = link_to 'Events', admin_events_path
  .crumb
    = link_to base_model.name, admin_event_path(base_model)

- elsif base_model.kind_of? Topic
  .crumb
    = link_to 'Topics', admin_topics_path
  .crumb
    = link_to base_model.name, admin_topic_path(base_model)

- elsif base_model.kind_of? Talk
  .crumb
    = link_to 'Talks', admin_talks_path
  .crumb
    = link_to base_model.name, admin_talk_path(base_model)

- elsif base_model.kind_of? Venue
  .crumb
    = link_to 'Venues', admin_venues_path
  .crumb
    = link_to base_model.name, admin_venue_path(base_model)

- elsif base_model.kind_of? Day
  .crumb
    = link_to 'Days', admin_days_path
  .crumb
    = link_to base_model.name, admin_day_path(base_model)

- elsif base_model.kind_of? TalkBrand
  .crumb
    = link_to 'Talk Brands', admin_talk_brands_path
  .crumb
    = link_to base_model.name, admin_talk_brand_path(base_model)

- elsif base_model.kind_of? EventBrand
  .crumb
    = link_to 'Event Brands', admin_event_brands_path
  .crumb
    = link_to base_model.name, admin_event_brand_path(base_model)

- elsif base_model.kind_of? Chapter
  = render "shared/breadcrumbs_item", :base_model => base_model.talk
  .crumb
    = link_to 'Chapters', admin_chapters_path
  .crumb
    = link_to 'Chapter', admin_chapter_path(base_model)

- elsif base_model.kind_of? Performance
  .crumb
    = link_to 'Performances', admin_performances_path
  .crumb
    = link_to 'Performance', admin_performance_path(base_model)
