= render '/admin/admin/collection_controls'

= ssp_search_form(Speaker)

.table_section
  %h3 
    Speakers
    = new_model_link Speaker
  .table_wrapper
    = render 'admin/speakers/table.html.haml', :speakers => @speakers
  = paginate @speakers

