-#     Chicago Ideas Week
-#     events/affiliate_event.html.haml
-#     01/03/2012


-# Banner Image
%section.banner.container-fluid
  .banner_wrapper{:style => "background: url(#{asset_path "application/affilliate_events_banner.jpg"}) top center no-repeat;"}


-# Main Affiliate Event content
%section.container#main_content

  #page_header
    #page_title.left
      %h1 Affiliate Events
    = render "partials/share"
    
  -# Left column, main content
  .box.double.left

    #affilliate_events.column_row.divided_row
      .column.column_double
        %p Chicago Ideas Week is an inclusive experience for the thinkers and doers of Chicago and the greater Midwest area.

        %p A CIW Affiliate Event is independently produced and programmed, exhibits an innovative theme, and takes place during Chicago Ideas Week (October 8-14, 2012).  Check out each day of our exciting Affiliate Event schedule to start planning your week:

        %ul
          %li= link_to "Monday, October 8", "#monday"
          %li= link_to "Tuesday, October 9", "#tuesday"
          %li= link_to "Wednesday, October 10", "#wednesday"
          %li= link_to "Thursday, October 11", "#thursday"
          %li= link_to "Friday, October 12", "#friday"
          %li= link_to "Saturday, October 13", "#saturday"
          %li= link_to "Sunday, October 14", "#sunday"
     
    .column_row.divided_row
      .column.column_double
        %h2#monday Monday, October 8
        
        %p
          %strong Mode Project's Ideasphere<br /> 
          In honor of Chicago Ideas Week Mode Project has created a fun tool to help the community get the creative juices flowing. Mode Project's Ideasphere is a web-app that randomly generates interesting ideas by mashing up user submitted concepts, technologies, and goals. 
        
        %p
          Hosted by Mode Project<br />
          Time: All day, every day!<br />
          Location: 
          = link_to "Click here", "http://www.ourideasphere.com/", :target => "_blank"
          to participate in this virtual experience! 
        
        %p
          %strong Thinking into the Future: An Evening with Rafael Viñoly<br />
          The Frank Lloyd Wright Preservation Trust presents "Thinking Into the Future" with architect Rafael Viñoly. He will discuss his University of Chicago Medical Pavilion and the future of architecture.
        %p
          Hosted by the Frank Lloyd Wright Preservation Trust<br />
          Time: 5:00 p.m. – 7:00 p.m.<br />
          Location: Logan Center for the Arts, 915 E. 60th Street, Chicago, IL<br />
          = link_to "Click here", "http://gowright.org/tif.html", :target => "_blank" 
          for more details and to RSVP.
        
        %p
          %strong Feel the Love: How Great Places Transform Cities<br />
          Love cities? Join MPC for a conversation with author Peter Kageyama, co-founder and producer of the Creative Cities Summit. Mr. Kageyama will make a few remarks, then host a round of his famed Urbanist Jeopardy. All attendees will receive a copy of Mr. Kageyama's book, "For the Love of Cities." The evening's program will be moderated by internationally acclaimed architect and placemaker Carol Ross Barney.
        %p
          Hosted by the Metropolitan Planning Council<br />
          Time: 4:00 p.m. – 6:00 p.m.<br />
          Location: 140 S. Dearborn Street, Chicago, IL<br />
          = link_to "Click here", "https://www.facebook.com/events/141431499331885/", :target => "_blank"
          for more details and to RSVP.
          
        %p
          %strong Tech In Motion IX<br />
          Tech In Motion Chicago focuses on one entrepreneur's idea to start a company and pitches the idea in front of a carefully selected panel of seasoned entrepreneurs for live feedback. Tech In Motion IX will be at 1871 and will feature an 1871 startup: BirdFeud. Founders Andrew Weber, Andrew Parnell and Vladimir Jornitski will present their startup that gives users a fun place to engage in the biggest conversations online.
        %p
          Hosted by Jobspring Partners and Workbridge Associates<br />
          Time: 6:00 p.m.<br />
          Location: 1871, Merchandise Mart, 222 W. Merchandise Mart Plaza, 12th Floor, Chicago, IL<br />
          = link_to "Click here", "http://www.meetup.com/TechinMotionChicago/events/82074342/", :target => "_blank"
          for more details and to RSVP.
        
        %p.back_to_top.right= link_to "back to top"
        
    
    .column_row.divided_row
      .column.column_double
        %h2#tuesday Tuesday, October 9
        
        %p
          %strong Mode Project's Ideasphere<br /> 
          In honor of Chicago Ideas Week Mode Project has created a fun tool to help the community get the creative juices flowing. Mode Project's Ideasphere is a web-app that randomly generates interesting ideas by mashing up user submitted concepts, technologies, and goals. 
        
        %p
          Hosted by Mode Project<br />
          Time: All day, every day!<br />
          Location: 
          = link_to "Click here", "http://www.ourideasphere.com/", :target => "_blank"
          to participate in this virtual experience! 
        
        %p
          %strong Plugging Into Placemaking: Technology's Role in Community Planning<br />
          While technology cannot replace traditional community outreach strategies, planners are exploring how online tools can engage new people in planning their communities.
        %p
          Hosted by the Metropolitan Planning Council<br />
          Time: 12:00 p.m. – 1:30 p.m.<br />
          Location: Metropolitan Planning Council, Conference Center, 140 S. Dearborn Street, Suite 1400, Chicago, IL<br />
          = link_to "Click here", "https://www.metroplanning.org/news-events/event/register.html?EventId=190", :target => "_blank" 
          to RSVP by October 5, 2012.
        
        %p
          %strong Leveraging the Affordable Care Act to Build Your Business<br />
          The talk will be aimed at showing both large and small businesses how to capitalize on the ACA. From recruiting and retaining a top notch workforce to innovating services to addressing cost drivers, business owners can be helped by understanding healthcare reform, social insurance programs and other policies. Panelists will share examples of big ideas that can lead to healthy people and healthy profits.
          
        %p 
          Hosted by Dobbs Law Offices, Health and Disability Advocates, Illinois Health Matters<br />
          Time: 12:30 p.m. – 1:30 p.m.<br />
          Location: Chicagoland Chamber of Commerce, Burnham Conference Room, Aon Center, 200 E. Randolph Street, Suite 2200, Chicago, IL<br />
          = link_to "Click here", "http://ciw2012.eventbrite.com/", :target => "_blank"
          to RSVP by October 9, 2012
        
        %p
          %strong Plus is Positive!<br />
          A panel discussion focusing on fashions influence on body image. Panelist will be from Chicago's fashion and entertainment industries. A portion of the proceeds will benefit the Chicago Chapter of Girl Scouts of America.
        %p
          Hosted by Plus Fashion Week Chicago(TM)<br />
          Time: 6:00 p.m.<br />
          Location: Quincy Wong Center HAUSE  Columbia College Chicago, 623 S. Wabash Avenue, Chicago, IL<br />
          = link_to "Click here", "http://www.pfwchicago.com/", :target => "_blank" 
          for more details and to RSVP.
        
        %p.back_to_top.right= link_to "back to top"
          
    .column_row.divided_row
      .column.column_double
        %h2#wednesday Wednesday, October 10
        
        %p
          %strong Mode Project's Ideasphere<br /> 
          In honor of Chicago Ideas Week Mode Project has created a fun tool to help the community get the creative juices flowing. Mode Project's Ideasphere is a web-app that randomly generates interesting ideas by mashing up user submitted concepts, technologies, and goals. 
        
        %p
          Hosted by Mode Project<br />
          Time: All day, every day!<br />
          Location: 
          = link_to "Click here", "http://www.ourideasphere.com/", :target => "_blank"
          to participate in this virtual experience! 
        
        %p
          %strong "Motivations" at The Cara Program<br />
          Experience true motivation, while glimpsing into the lives of those most affected by the recession. Together we will break the cycles of unemployment and poverty.
        %p
          Hosted by The Cara Program<br />
          Time: 8:25 a.m. – 9:30 a.m.<br />
          Location: The Cara Program, 237 S. Des Plaines Street, Chicago, IL<br />
          = link_to "Click here", "http://www.thecaraprogram.org/", :target => "_blank"
          for more details.  RSVP to 
          = link_to "jhoffmann@thecaraprogram.org.", "mailto:jhoffmann@thecaraprogram.org" 
        
        %p
          %strong WorldChicago Coffee Conversations – Religious Pluralism: Perspectives from Pakistan<br /> 
          WorldChicago will host a public forum for a delegation of U.S. Department of State sponsored international visitors who will be in Chicago to address a topic relevant to their professional field and areas of expertise. The visitors will be panelists discussing this topic. There will be time for Q&A with the audience. Continental breakfast provided.
        %p
          Hosted by WorldChicago<br />
          Time: 8:30 a.m.<br />
          Location: Chicago Cultural Center, 78 E. Washington Street, 1st Floor Garland Room, Chicago, IL<br />
          Members: RSVP to Lexy Gore at (312) 254-1800, ext. 103 or 
          = link_to "lgore@worldchicago.org.", "mailto:lgore@worldchicago.org" 
          <br />Non-members: 
          = link_to "Click here", "http://www.worldchicago.org/index.php?option=com_content&view=article&id=24&Itemid=21", :target => "_blank"
          for event details and to RSVP.
          
        %p
          %strong Great Lakes Water Scarcity and Regional Economic Development<br />
          The Great Lakes are being noticeably affected by climate change. How will warming affect freshwater quality and availability; how are regional governments and industry preparing?
        %p
          Hosted by Shedd Aquarium, the Midwest Energy and Sustainability Leadership Alliance (MESLA), and the Initiative for Sustainability and Energy at Northwestern (ISEN). Cameron Davis, Senior Advisor to the EPA Administrator will give opening remarks.<br />
          Time: 8:30 a.m. – 10:00 a.m. (8:00 a.m. registration)<br />
          Location: Northwestern University (Chicago Campus), Wieboldt Hall, 339 E. Chicago Avenue, Room 147<br />
          = link_to "Click here", "http://planitpurple.northwestern.edu/event/434562", :target => "_blank"
          for more details and to RSVP.
        
        %p
          %strong Controlled Environment Sustainable Urban Agriculture<br />
          Participate with industry experts in a discussion of the latest developments in Controlled Environments Sustainable Urban Agriculture in Chicago and globally.
        %p
          Hosted by Chicago Architectural Foundation<br />
          Time: 2:00 p.m. – 3:30 p.m.<br />
          Location: Chicago Architectural Foundation, 224 S. Michigan Avenue, Chicago, IL<br />
          = link_to "Click here", "http://cafciwurbanag.eventbrite.com/", :target => "_blank"
          for more details and to RSVP.
          
        %p
          %strong CSI: Picasso<br />
          Explore how the combination of scientific analysis and technical imaging can shed light on the innovative and unconventional materials and methods used by Pablo Picasso.
        %p
          Hosted by the Chicago Council on Science and Technology<br />
          Time: Reception and Registration begins at 5:00 p.m., Presentation begins at 6:00 p.m.<br />
          Location: IIT, McCormick Tribune Campus Center, McCloska Auditorium, 3201 S. State Street, Chicago, IL<br />
          = link_to "Click here", "http://c2st.org/", :target => "_blank"
          for more details and to RSVP.
          
        %p
          %strong Imagine Greater Health<br />
          Explore seven imaginative ideas changing the world in healthcare through an intimate discussion with healthcare innovators.
        %p
          Hosted by LiveHealth / Creative Media Groupe<br />
          Time: 2:00 p.m. – 4:00 p.m.<br />
          Location: 191 N. Wacker Drive, Suite 3700, Chicago, IL<br />
          = link_to "Click here", "http://ohsocreative.co/", :target => "_blank"
          for more details and to RSVP.
        
        %p
          %strong ChicagoQuest: Minds on a Mission<br />
          Tour CICS ChicagoQuest, a revolutionary charter school where students are challenged and engaged with a curriculum based on principles of video game design.
        %p
          Hosted by the Chicago International Charter School<br />
          Time: 4:00 p.m. – 6:00 p.m.<br />
          Location: CICS ChicagoQuest, 1443 N. Ogden Avenue, Chicago, IL<br />
          = link_to "Click here", "http://www.chicagoquest.org/", :target => "_blank"
          for more details and to RSVP.
          
        %p
          %strong Ideation Chicago: Generating Innovative Solutions for Chicago<br />
          DePaul's Center for Creativity & Innovation presents, "Ideation Chicago: Generating Innovative Solutions for Chicago," an interactive and facilitated session around challenges and opportunities for Chicago.
        %p
          Hosted by DePaul University Center for Creativity & Innovation<br />
          Time: 5:30 p.m. – 7:30 p.m.<br />
          Location: The DePaul Club, 11th Floor, 1 E. Jackson Boulevard, Chicago, IL<br />
          = link_to "Click here", "http://innovation.depaul.edu/", :target => "_blank"
          for more details and to RSVP by October 5, 2012.
        
        %p
          %strong Building Community through Technology<br />
          = link_to "Facing Disability.com", "http://www.facingdisability.com/", :target => "_blank"
          is the first website to connect individuals with spinal cord injuries to information, support, and other people who have faced similar traumas. Facing Disability partnered with 
          = link_to "Table XI", "http://www.tablexi.com/", :target => "_blank"
          , a Chicago-based digital consultancy, to refine and execute their vision.  Join Josh Golden, CEO and Founder of Table XI, Thea Flaum, Founder of FacingDisability.com, and experts from the Rehabilitation Institute of Chicago to discuss how one simple idea has impacted the lives of thousands Chicago and beyond.
        %p
          Hosted by Table XI and FacingDisability.com<br />
          Time: 5:30 p.m. – 7:00 p.m.<br />
          Location:  Access Living, 115 W. Chicago Avenue, Chicago, IL<br />
          = link_to "Click here", "http://www.meetup.com/Chicago-Innovation-Social-Good/events/78038432/", :target => "_blank"
          for more details and to RSVP.
        
        %p
          %strong Unleashing Chicago's Job Creators<br />
          This talk will discuss real life stories of entrepreneurs in order to explore why governments regulate, how regulations affect individual entrepreneurs and entire markets, and how removing regulatory barriers to entrepreneurship can make job creation possible.
        %p
          Hosted by IJ Clinic on Entrepreneurship<br />
          Time: 6:00 p.m. – 7:00 p.m.<br />
          Location:  University of Chicago Law School, 1111 E. 60th Street, Room V<br />
          = link_to "Click here", "http://ij.org/clinic/events", :target => "_blank"
          for more details and to RSVP.
          
        %p.back_to_top.right= link_to "back to top"
    
    .column_row.divided_row
      .column.column_double
        %h2#thursday Thursday, October 11
        
        %p
          %strong Mode Project's Ideasphere<br /> 
          In honor of Chicago Ideas Week Mode Project has created a fun tool to help the community get the creative juices flowing. Mode Project's Ideasphere is a web-app that randomly generates interesting ideas by mashing up user submitted concepts, technologies, and goals. 
        
        %p
          Hosted by Mode Project<br />
          Time: All day, every day!<br />
          Location: 
          = link_to "Click here", "http://www.ourideasphere.com/", :target => "_blank"
          to participate in this virtual experience! 
        
        %p
          %strong State-of-the-Smart: Maximizing Capacity with Intelligent Transportation Systems<br />
          How can technologies such as congestion pricing, variable priced parking, and universal fare cards make transportation smarter and more efficient in Chicago?
        %p
          Hosted by the Metropolitan Planning Council<br />
          Time: 12:00 p.m. – 1:30 p.m.<br />
          Location: 140 S. Dearborn Street, Suite 1400, Chicago, IL<br />
          = link_to "Click here", "http://metroplanning.org/news-events/event/193", :target => "_blank"
          for more details and to RSVP.
        
        %p
          %strong A Conversation with Chuck Templeton, Founder of OpenTable<br />
          SEA-Chicago hosts a conversation with Chuck Templeton where he will discuss his work developing early stage and emerging companies to find solutions to environmental and social challenges.
        %p
          Hosted by Social Enterprise Alliance<br />
          Time: 5:30 p.m. – 7:30 p.m.<br />
          Location: ING Direct Caf&eacute;, 21 E. Chestnut Street, Chicago, IL<br />
          = link_to "Click here", "http://seachicago-chucktempleton-es2.eventbrite.com/?rank=1", :target => "_blank"
          for more details and to RSVP.
        
        %p
          %strong Manifesting Ideas Presented by Destiny Speakers Bureau and International House Global Voices Program<br />
          A diverse group of speaker presents a 12-minute empowerment talk on the power of an idea and what it takes to manifest an idea.
        %p
          Hosted by Destiny Speakers Bureau<br />
          Time: 5:30 p.m. – 9:00 p.m.<br />
          Location: International House at the University of Chicago, Assembly Hall, 1414 E. 59th Street, Chicago, IL<br />
          = link_to "Click here", "http://www.destinyspeaks.net/", :target => "_blank"
          for more details and to RSVP.
        
        %p
          %strong Exploring the Universe from the Bottom of the World<br />
          Hear how the South Pole Telescope is testing theories of the origin and evolution of the Universe, and nature of mysterious dark energy.
        %p
          Hosted by the Chicago Council on Science and Technology, Kavil Institute for Cosmological Physics, and School of the Art Institute<br />
          Time: Reception and Registration begins at 5:00 p.m. (RSVP required for reception), Presentation begins at 6:00 p.m.<br />
          Location: School of the Art Institute of Chicago, SAIC Ballroom, 112 S. Michigan Avenue<br />
          = link_to "Click here", "http://c2st.org/", :target => "_blank"
          for more details and to RSVP.
        
        %p
          %strong Code Lounge Pop-Up<br />
          Great ideas cannot be hatched on empty stomachs. Enter Code Lounge: A unique pop-up restaurant specifically designed for programmers, designers, entrepreneurs, etc.
        %p
          Hosted by the Coshowo Youth Tech Accelerator<br />
          Time: 6:00 p.m. – 9:00 p.m.<br />
          Location: TBD<br />
          = link_to "Click here", "http://coshowo.org/", :target => "_blank"
          for more details and to RSVP.
        
        %p
          %strong Tweets for Tanzania<br />
          Happy Hour and "Tweetup" for social impact enthusiasts. Join us in leveraging social media for global impact! Find "YAO - Chicago" on Facebook for more information.
        %p
          Hosted by Young Ambassadors for Opportunity<br />
          Time: 6:15 p.m.<br />
          Location: Location: Old Town Pour House, 1419 N. Wells Street, Chicago, IL<br />
          = link_to "Click here", "http://www.ciwtweetup.eventbrite.com", :target => "_blank"
          for more details and to RSVP.
        
        %p
          %strong Organizational Communications<br />
          Yellow Duck PResents: Organizational Communications - Learn how to use the power of communications to capture your internal audience and influence your external public.
        %p
          Hosted by Yellow Duck PR<br />
          Time: 6:30 p.m.<br />
          Location: 600 N. McClurg Court, 3rd Floor, Chicago, IL<br />
          = link_to "Click here", "http://www.eventbrite.com/event/3793404174/eac2", :target => "_blank"
          for more details and to RSVP by October 10, 2012.
        
        %p 
          %strong Girl Jam<br />
          Girl Jam is a musical celebration and fundraising event to benefit GirlForward's programs for refugee girls in Chicago.
        %p
          Hosted by GirlForward<br />
          Time: 7:00 p.m. – 9:00 p.m.<br />
          Location: Uncommon Ground, 1401 W. Devon Avenue, Chicago, IL<br />
          = link_to "Click here", "http://girlforwardgirljam.eventbrite.com/", :target => "_blank"
          for more details.
        
        %p
          %strong Stephen Sondheim's <i>Assassins</i><br />
          Stephen Sondheim's <i>Assassins</i> brings to life Presidential Assassinations in our history. It is a musical comedy about alienation, regret, and failure to achieve the "American Dream." A discussion will be held after the performance about the political themes addressed in the play.  Special discount offered to CIW attendees.
        %p
          Hosted by Stephen Sondheim's <i>Assassins</i><br />
          Time: 7:30 p.m.<br />
          Location: The Viaduct Theater, 3111 N. Western Avenue, Chicago, IL<br />
          = link_to "Click here", "http://www.assassins-chicago.com/", :target => "_blank"
          to purchase tickets with the code "ideas"
          
        %p.back_to_top.right= link_to "back to top"
    
    .column_row.divided_row
      .column.column_double
        %h2#friday Friday, October 12
        
        %p
          %strong Mode Project's Ideasphere<br /> 
          In honor of Chicago Ideas Week Mode Project has created a fun tool to help the community get the creative juices flowing. Mode Project's Ideasphere is a web-app that randomly generates interesting ideas by mashing up user submitted concepts, technologies, and goals. 
        
        %p
          Hosted by Mode Project<br />
          Time: All day, every day!<br />
          Location: 
          = link_to "Click here", "http://www.ourideasphere.com/", :target => "_blank"
          to participate in this virtual experience! 
        
        %p
          %strong Historic Pilsen Pub Crawl<br />
          Enjoy an evening walking tour of Pilsen, highlighting the neighborhood's history through its taverns, pubs and architecture.
        %p
          Hosted by Landmarks Illinois<br />
          Time: 6:00 p.m. – 9:00 p.m.<br />
          Location: Pilsen neighborhood, Chicago, IL<br />
          = link_to "Click here", "http://www.landmarks.org/calendar.htm", :target => "_blank"
          for more details.  RSVP to Mina McMahon at 
          = link_to "mcmahonm@lpci.org", "mailto:mcmahonm@lpci.org"
          by October 11, 2012.
          
        %p.back_to_top.right= link_to "back to top"
    
    .column_row.divided_row
      .column.column_double
        %h2#saturday Saturday, October 13
        
        %p
          %strong Mode Project's Ideasphere<br /> 
          In honor of Chicago Ideas Week Mode Project has created a fun tool to help the community get the creative juices flowing. Mode Project's Ideasphere is a web-app that randomly generates interesting ideas by mashing up user submitted concepts, technologies, and goals. 
        
        %p
          Hosted by Mode Project<br />
          Time: All day, every day!<br />
          Location: 
          = link_to "Click here", "http://www.ourideasphere.com/", :target => "_blank"
          to participate in this virtual experience! 
        
        %p
          %strong Open House Chicago 2012<br />
          175 cool sites. 48 hours. Go. Discover Chicago's hidden treasures during Open House 2012.
        %p 
          Hosted by the Chicago Architecture Foundation<br />
          Time: 9:00 a.m. – 5:00 p.m.<br />
          Location: Chicago Architecture Foundation, 224 S. Michigan Avenue, Chicago, IL<br />
          = link_to "Click here", "http://www.openhousechicago.org/", :target => "_blank"
          for more details.
        
        %p
          %strong TEDxDePaulU City2.0<br />
          The TEDx platform will harness the power of people across the globe to encourage them to host a TEDx event themed "City 2.0" at their favorite local spots.  A revolutionary event that shares the powerful narratives of urban innovators and organizers, stewards and artists, builders and tastemakers.
        %p
          Hosted by TEDxDePaulU<br />
          Time: 10:00 a.m. – 12:30 p.m.<br />
          Location: The Greenhouse Theater Center, 2257 N. Lincoln Avenue, Chicago, IL<br />
          = link_to "Click here", "http://tedxdepaulu.com/", :target => "_blank"
          for more details and to RSVP.
        
        %p
          %strong Good Food: Stories of a Revolution<br />
          What does it take to change a food system?  Join a discussion with leading advocates making gutsy choices to change the way we eat.
        %p
          Hosted by New Venture Advisors<br />
          Time: 10:00 a.m. - 1:00 p.m.<br />
          Location: Growing Power at Iron Street Urban Farm, 3333 S. Iron Street, Chicago IL<br />
          = link_to "Click here", "http://ciwgoodfood.eventbrite.com/", :target => "_blank"
          for more details and to RSVP.
        
        %p
          %strong Jazz @ The People Spot<br />
          An indoor micro-festival celebrating the newly installed "People Spot" hitting the streets of innovative Chicago neighborhoods. This event will be an infusion of art, culture and Jazz music set on a backdrop of this new urban park.  
        %p
          Hosted by Quad Communities Development Corporation<br />
          Time: 12:00 p.m. – 5:30 p.m.<br />
          Location: Location: 1060 E. 47th Street, Chicago, IL<br />
          = link_to "Click here", "http://jazzinbronzeville.eventbrite.com", :target => "_blank"
          for more details and to RSVP.
        
        %p
          %strong MAS Context: Analog<br />
          An event organized by MAS Context in collaboration with NEW PROJECTS, will gather a group of emerging and established practitioners within the field of design who will discuss the ideas behind their work based on proposed themes.<br />
        %p
          Hosted by MAS Context<br />
          Time: 1:00 p.m. – midnight<br />
          Location: Location: NEW PROJECTS, 3621 S. State Street, Chicago, IL<br />
          = link_to "Click here", "http://www.mascontext.com/", :target => "_blank"
          for more details. RSVP to 
          = link_to "info@mascontext.com.", "mailto:info@mascontext.com"
        
        %p
          %strong Stephen Sondheim's <i>Assassins</i><br />
          Stephen Sondheim's <i>Assassins</i> brings to life Presidential Assassinations in our history. It is a musical comedy about alienation, regret, and failure to achieve the "American Dream." A discussion will be held after the performance about the political themes addressed in the play. Special discount offered to CIW attendees.  
        %p
          Hosted by Stephen Sondheim's <i>Assassins</i><br />
          Time: 7:30 p.m.<br />
          Location: The Viaduct Theater, 3111 N. Western Avenue, Chicago, IL<br />
          = link_to "Click here", "http://www.assassins-chicago.com/", :target => "_blank"
          to purchase tickets with the code "ideas"
        
        %p.back_to_top.right= link_to "back to top"
    
    .column_row.divided_row
      .column.column_double
        %h2#sunday Sunday, October 14
        
        %p
          %strong Mode Project's Ideasphere<br /> 
          In honor of Chicago Ideas Week Mode Project has created a fun tool to help the community get the creative juices flowing. Mode Project's Ideasphere is a web-app that randomly generates interesting ideas by mashing up user submitted concepts, technologies, and goals. 
        
        %p
          Hosted by Mode Project<br />
          Time: All day, every day!<br />
          Location: 
          = link_to "Click here", "http://www.ourideasphere.com/", :target => "_blank"
          to participate in this virtual experience! 
        
        %p
          %strong Open House Chicago 2012<br />
          175 cool sites. 48 hours. Go. Discover Chicago's hidden treasures during Open House 2012.
        %p
          Hosted by the Chicago Architecture Foundation<br />
          Time: 9:00 a.m. – 5:00 p.m.<br />
          Location: Chicago Architecture Foundation, 224 S. Michigan Avenue, Chicago, IL<br />
          = link_to "Click here", "http://www.openhousechicago.org/", :target => "_blank"
          for more details.
        
        %p
          %strong Stephen Sondheim's <i>Assassins</i> <br />
          Stephen Sondheim's <i>Assassins</i> brings to life Presidential Assassinations in our history. It is a musical comedy about alienation, regret, and failure to achieve the "American Dream." A discussion will be held after the performance about the political themes addressed in the play. Special discount offered to CIW attendees.
        %p
          Hosted by Stephen Sondheim's <i>Assassins</i><br />
          Time: 7:00 p.m.<br />
          Location: The Viaduct Theater, 3111 N. Western Avenue, Chicago, IL<br />
          = link_to "Click here", "http://www.assassins-chicago.com/", :target => "_blank"
          to purchase tickets with the code "ideas"
          
        %p.back_to_top.right= link_to "back to top"

    .column_row.divided_row
      .column.column_double
        %p
          For more information on Affiliate Events, please email 
          = link_to "patricia@chicagoideas.com.", "mailto: patricia@chicagoideas.com"

          
          
        

  -# Include Sidebar Items
  #sidebar
    = render "partials/buy_tickets_now"
    = render "partials/sponsors"
    = render "partials/social"
    = render "partials/newsletter_form"
    

:javascript
  $( function() {
    $('.back_to_top a').click( function() {
      window.scrollTo(0, 0);
      if('pushState' in history) {
        history.pushState('', document.title, window.location.pathname + window.location.search);
      } else {
        window.location.hash = '';
      }
      
      
      return false;
    });  
  });
