-#     Chicago Ideas Week
-#     events/affiliate_event.html.haml
-#     01/03/2012


-# Banner Image
%section.banner.container-fluid
  .banner_wrapper{:style => "background: url(#{asset_path "application/affilliate_events_banner.jpg"}) top center no-repeat;"}


-# Main Affiliate Event content
%section.container#main_content

  #page_header
    #page_title.left
      %h1 Affiliate Events
    = render "partials/share"
    
  -# Left column, main content
  .box.double.left

    .column_row#affilliate_events
      .column.column_double
      %p Chicago Ideas Week is an inclusive experience for the thinkers and doers of Chicago and the greater Midwest area.
      %p A CIW Affiliate Event is independently produced and programmed, exhibits an innovative theme, and takes place during Chicago Ideas Week (October 8-14, 2012).
      %p= link_to "Register your affiliate event", new_affiliate_event_application_path
      %p 
        If your organization is interested in hosting a CIW Affiliate Event, please
        = link_to "Click Here", new_affiliate_event_application_path
        and submit the required form. For more information, please email
        = link_to "brooke@chicagoideas.com", "mailto:brooke@chicagoideas.com"
      %p All submissions are subject to evaluation by the CIW executive committee.

  -# Include Sidebar Items
  #sidebar
    = render "partials/sponsors"
    = render "partials/social"
    = render "partials/newsletter_form" 