-#     Chicago Ideas Week
-#     events/affiliate_event.html.haml
-#     01/03/2012


-# Banner Image
%section.banner.container-fluid
  .banner_wrapper{:style => "background: url(#{asset_path "application/affilliate_events_banner.jpg"}) top center no-repeat;"}


-# Main Affiliate Event content
%section.container#main_content

  #page_header
    #page_title.left
      %h1 Affiliate Events
    = render "partials/share"
    
  -# Left column, main content
  .box.double.left

    #affilliate_events.column_row.divided_row
      .column.column_double
        %p Chicago Ideas Week is an inclusive experience for the thinkers and doers of Chicago and the greater Midwest area.

        %p A CIW Affiliate Event is independently produced and programmed, exhibits an innovative theme, and takes place during Chicago Ideas Week (October 14-20, 2013).  As it gets closer to CIW 2013, please revisit the site to view our exciting Affiliate Event schedule.
        
        %p 
          For more information on Affiliate Events, please email 
          = link_to "kelly@chicagoideas.com.", "mailto:kelly@chicagoideas.com" 
    

  -# Include Sidebar Items
  #sidebar
    = render "partials/sponsors"
    = render "partials/social"
    = render "partials/newsletter_form"
    

:javascript
  $( function() {
    $('.back_to_top a').click( function() {
      window.scrollTo(0, 0);
      if('pushState' in history) {
        history.pushState('', document.title, window.location.pathname + window.location.search);
      } else {
        window.location.hash = '';
      }
      
      
      return false;
    });  
  });
