-#     Chicago Ideas Week
-#     events/index.html.haml
-#     01/018/2012


%section.banner.container-fluid
  .banner_wrapper{:style => "background: url(#{asset_path "application/temp/speaker_landing_banner.jpg"}) top center no-repeat;"}


-# Main Talk content
%section.container#main_content
  
  -# Introduction
  #intro
    %h1 Discover Ideas That Move You
  
  #events_section
    %ul
      %li
        .img_frame
          = link_to image_tag('application/events/talks_new.jpg'), talks_path
        %h3= link_to "CIW Talks & Mega Talks", talks_path
      %li
        .img_frame
          = link_to image_tag('application/events/labs_new.jpg'), labs_events_path
        %h3= link_to "CIW Labs", labs_events_path
      %li
        .img_frame
          = link_to image_tag('application/events/partner_programs_new.jpg'), partner_programs_events_path
        %h3= link_to "Partner Programs", partner_programs_events_path
        

  -# Left column, main content
  .box.double.left

    .column_row#about_description
      .column.column_double        
        - if @talks.present?
          .column.column_double#homepage_talks
            %span.column_header CIW Talks
            %ul.preview_list.double_rows
              = render "partials/talks_loop", :talks => @talks
            = link_to "view all talks →", talks_path, :class => "view_all blue"



  -# Include Sidebar Items
  #sidebar
    = render "partials/sponsors"
    = render "partials/social"
    = render "partials/newsletter_form"