-#     Chicago Ideas Week
-#     events/index.html.haml
-#     01/018/2012


%section.banner.container-fluid
  .banner_wrapper{:style => "background: url(#{asset_path "application/temp/speaker_landing_banner.jpg"}) top center no-repeat;"}


-# Main Talk content
%section.container#main_content
  
  -# Introduction
  #intro
    %h1 Discover Ideas That Move You
  
  #events_section
    %ul
      %li
        .img_frame
          = link_to image_tag('application/events/talks_new.jpg'), year_talks_path(@current_year), :rel => "bookmark", :title => "View all CIW Talks"
        %h3= link_to "CIW Talks & Mega Talks", year_talks_path(@current_year), :rel => "bookmark", :title => "View all CIW Talks"
      %li
        .img_frame
          = link_to image_tag('application/events/labs_new.jpg'), year_events_labs_path(@current_year), :rel => "bookmark", :title => "View all CIW Labs"
        %h3= link_to "CIW Labs", year_events_labs_path(@current_year), :rel => "bookmark", :title => "View all CIW Labs"
      %li
        .img_frame
          = link_to image_tag('application/events/partner_programs_new.jpg'), year_events_partner_programs_path(@current_year), :rel => "bookmark", :title => "View all Partner Programs"
        %h3= link_to "Partner Programs", year_events_partner_programs_path(@current_year), :rel => "bookmark", :title => "View all Partner Programs"
        

  -# Left column, main content
  .box.double.left

    .column_row#about_description
      .column.column_double        
        - if @events.present?
          .column.column_double
            %span.column_header CIW Events
            %ul.preview_list.double_rows
              = render "partials/events_loop", :events => @events



  -# Include Sidebar Items
  #sidebar
    = render "partials/sponsors"
    = render "partials/social"
    = render "partials/newsletter_form"
