-# - @labs.each do |lab|
-#  = link_to lab.name, event_lab_path(lab)


-#     Chicago Ideas Week
-#     events/labs.html.haml
-#     01/03/2012


-# Main Labs content
%section.container#main_content

  #page_header
    #page_title.left
      %h1 CIW Labs
    = render "partials/share"

  -# Left column, main content
  .box.double.left

    .talk_gallery
      -#- @talk.talk_photos.each do |photo|
      -#  = image_tag(photo.photo_file_name)
      = image_tag("application/temp/asdf.jpg")
      = image_tag("application/temp/asdffff.jpg")
      = image_tag("application/temp/asdfasdf.jpg")



    - if @labs.present?
      #labs_list
        - @labs.each do |lab|
          .column_row.divided_row{:id => "lab_#{lab.id}"}
            %a{:name => "lab_#{lab.id}"}
            .column.column_double
              %h3= lab.name
              %pre= lab.description
              %a{:class => "back_top", :href => "javascript:scroll(0,0)"} back top
        
        
          
  .box.right#labs_list
    .box_header
      %span Labs Quicklinks
    .column_row
      %ul.filter_list.labs_filter
        -#%li= %a.lab_top "Top"
        - @labs.each do |lab|
          %li
            %a{:class => "lab_#{lab.id}", :href => "#lab_#{lab.id}"}= lab.name


  -# Include Sidebar Items
  #sidebar
    = render "partials/sponsors"
    = render "partials/social"
    = render "partials/newsletter_form"