-#     Chicago Ideas Week
-#     events/labs.html.haml
-#     01/03/2012


-# Breadcrumbs and Explore button
%section#header_toolbar.container-fluid
  .container
    #breadcrumbs
      %ul
        %li= link_to "Home", "/"
        %li= link_to "Events", events_path
        - if @current_year.id == @year_id
          %li
            %span CIW Labs
        - else
          %li
            %span #{@year_id} CIW Labs
    = render "partials/explore_dropdown"



-# Main Labs content
%section.container#main_content

  #page_header
    #page_title.left
      - if @current_year.id == @year_id
        %h1 CIW Labs
      - else
        %h1 #{@year_id} CIW Labs
    = render "partials/share"

  -# Left column, main content
  .box.double.left

    - if @current_year.id == @year_id
      .talk_gallery
        - @event_photos.each do |photo|
          = image_tag(photo.photo(:album))


      -# Labs introduction
      .column_row#labs_intro
        .column.column_double
          %p Go Behind-the-Scenes in Chicago with Chicago Ideas Week Labs! 
          %p CIW Labs offer opportunities for participants to experience and explore the best of Chicago like never before.  Exclusive, behind-the-scenes experiences give participants a unique glimpse into the inner workings of businesses and institutions that are otherwise unavailable to the public.  Small groups will explore what it’s like for business leaders in the boardroom, go behind the curtain at leading theaters and venues, and discover “how-it-works” in hands-on workshops.
        
    
    -# Labs List
    - if @labs.present?
      .column_row.divided_row#labs_overview
        .column.column_double
          %ul.lab_list
            - @labs.each do |lab|
              %li{:id => "lab_item_#{lab.id}", :class => "lab_item lab_item_#{lab.id}"}
                %a{:name => "lab_#{lab.id}"}
                %h3= link_to lab.name, event_path(lab)
                .lab_description
                  %pre= lab.description
                  %a{:class => "back_top", :href => "javascript:scroll(0,0)"} back top
    
    - if @current_year.id == @year_id
      .column_row
        .column.column_double
          = link_to "Check out our lab hosts from CIW 2011", "/years/2011/events/labs"


  -# Include Sidebar Items
  #sidebar
    = render "partials/member_program_callout"
    .box.right.yellow_box#bhs_link
      .column_row
        %a{:href => "#{labs_host_form_path}", :class => "callout_link"}
          %span Become a 2012 CIW Lab Host!
          %span.call_out Apply Today!
    = render "partials/sponsors"
    = render "partials/social"
    = render "partials/newsletter_form"
