-#     Chicago Ideas Week
-#     events/show.html.haml
-#     01/25/2012


-# Breadcrumbs and Explore button
%section#header_toolbar.container-fluid
  .container
    #breadcrumbs
      %ul
        %li= link_to "Home", "/"
        %li= link_to "Events", events_path
        %li= link_to @event.name
    = render "partials/explore_dropdown"


-# Main Talk content
%section.container#main_content

  #page_header
    #page_title.left
      %h1= @event.name
    = render "partials/share"
      

  -# Left column, main content: Gallery, details, speakers, etc.
  .box.double.left
    
    - if @event.event_photos.present?
      .talk_gallery
        - @event.event_photos.each do |photo|
          = image_tag photo.photo(:album)
        

    .column_row.divided_row#talks_description
      .column.column_double
        - if @event.event_brand
          %span.column_header About this #{@event.event_brand.name}
        - else
          %span.column_header About this Event
        %pre= @event.description
        
        - if @event.is_current? && @event.ticket_url.present?
          %a{:href => "#{@event.ticket_url}", :class => "btn blue_btn buy_your_tickets", :target => "_blank"}Buy Your Tickets
        
    .column_row#talks_location
      .column
        %span.column_header
          Date &amp; Location
          - if !@event.is_current?
            %span.expired_date Event Passed
        %table.talk_venue_details
          %tr
            %td.venue_label{:width => "85"} Date
            %td= @event.formatted_date
          %tr
            %td.venue_label Time
            %td= @event.formatted_time
          %tr
            %td.venue_label Venue
            %td
              - if @event.venue.name == '--Venue TBD--'
                Venue TBD
              - else
                = @event.venue.name
                %address= @event.venue.address
      - if @event.venue.name != '--Venue TBD--'
        .column.right
          .venue_map
            - if @event.venue.present?
              = image_tag @event.venue.bing_maps_src(300,145,zoom=15)
  
    
  -# Include Sidebar Items
  #sidebar
    = render "partials/member_program_callout"
    = render "partials/sponsors"
    = render "partials/social"
    = render "partials/newsletter_form"
