-#     Chicago Ideas Week
-#     sponsors/index.html.haml
-#     01/03/2012


%section.banner.container-fluid
  .banner_wrapper{:style => "background: url(#{asset_path "application/community.jpg"}) top center no-repeat;"}


-# Main Talk content
%section.container#main_content

  #page_header
    #page_title.left
      %h1 CIW Sponsors
    = render "partials/share"

  -# Left column, main content: About Us information
  .box.double.left#sponsors_list
  
    .column_row.divided_row
      .column.column_double
        %p Thanks to all of our partners! Chicago Ideas Week would not be possible without their outstanding and generous support.
    
    - if @sponsorshipLevels.present?
      - @sponsorshipLevels.each do |sl|
        - if sl.sponsors.present?
          .column_row.divided_row
            .column.column_double
              %h2= sl.name
              %ul.sponsors_list
                - sl.sponsors.each do |s|
                  %li
                    - if s.url.present?
                      = link_to image_tag(s.logo), s.url, :alt => s.name
                    - else
                      = image_tag(s.logo, :alt => s.name)


  -# Include Sidebar Items
  #sidebar
    .box.right.yellow_box
      .column_row
        %span.small_callout
          = mail_to "jessica@chicagoideas.com, mary@chicagoideas.com", "Interested in Sponsorship? Click here", :class => "callout_link"        
    = render "partials/social"
    = render "partials/newsletter_form"