- content_for :breadcrumbs do
  = breadcrumbs @venue
  .crumb.end= section_title   

- content_for :top_links do
  = new_model_link Note, @venue

- @active_tab = 'venues'

- content_for :content_navigation do
  %h2 Venues
  %ul
    %li{:class => active_for('index')}= icon_link_to "Search", admin_venues_path, 'search'
  %h2= @venue.name
  %ul
    %li{:class => active_for('show')}= icon_link_to "Detail", admin_venue_path(@venue), 'circle-zoomin'
    %li{:class => active_for('notes')}= icon_link_to "Notes", notes_admin_venue_path(@venue), 'comment'
