= render 'collection_controls'

- content_for :top_links do
  = new_model_link Venue

= ssp_search_form Venue

.table_section
  %h3 
    Venues
    = new_model_link Venue
  .table_wrapper
    = render 'admin/venues/table.html.haml', :venues => @venues
  = paginate @venues

