= render 'member_controls'

- content_for :top_links do
  = edit_model_link @venue, true
  = destroy_model_link @venue, true

%h1
  = @venue.name
  = icon_link_to 'notes', notes_admin_venue_path(@venue), 'script'
  = new_model_link Note, @venue
  
#model_detail
  %h4 Name
  %p= @venue.name

  %h4 Address1
  %p= @venue.address1

  %h4 Address2
  %p= @venue.address2

  %h4 City
  %p= @venue.city

  %h4 State
  %p= @venue.state

  %h4 Zipcode
  %p= @venue.zipcode

  %h4 Country
  %p= @venue.country

  %h4 Map
  %p= image_tag @venue.google_maps_src


