= render 'collection_controls'

- content_for :top_links do
  = new_model_link SponsorshipLevel

= ssp_search_form SponsorshipLevel

.table_section
  %h3 
    Sponsorship Levels
    = new_model_link SponsorshipLevel
  .table_wrapper
    = render 'admin/sponsorship_levels/table.html.haml', :sponsorship_levels => @sponsorship_levels

