= f.inputs :class => 'inputs chapter_photo' do
  = f.input :photo, :as => :file, :label => "Photo", :hint => "photo must be at least #{ChapterPhoto.photo_dimensions_string}"
  = f.input :caption 
  = link_to_remove_fields "remove photo", f
