- content_for :breadcrumbs do
  = breadcrumbs @sponsor
  .crumb.end= section_title   

- content_for :top_links do
  = new_model_link Note, @sponsor

- @active_tab = 'sponsors'

- content_for :content_navigation do
  %h2 Sponsors
  %ul
    %li{:class => active_for('index')}= icon_link_to "Search", admin_sponsors_path, 'search'
  %h2= @sponsor.name
  %ul
    %li{:class => active_for('show')}= icon_link_to "Detail", admin_sponsor_path(@sponsor), 'circle-zoomin'
    %li{:class => active_for('notes')}= icon_link_to "Notes", notes_admin_sponsor_path(@sponsor), 'comment'
