%tr{:sponsor => sponsor.id}
  %td.name= link_to sponsor.name, admin_sponsor_path(sponsor)
  %td.description= sponsor.description
  %td.sponsorship_level_id= sponsor.sponsorship_level.name
  %td.options
    = edit_model_link sponsor
    = destroy_model_link sponsor
 