= render 'admin/admin/collection_controls'

- content_for :top_links do
  = new_model_link Sponsor

= ssp_search_form Sponsor

.table_section
  %h3 
    Sponsors
    = new_model_link Sponsor
  .table_wrapper
    = render 'admin/sponsors/table.html.haml', :sponsors => @sponsors

