= f.inputs do
  = f.input :user
  = f.input :postcode 
  = f.input :employed 
  = f.input :why 
  = f.input :what 
  = f.input :availability 
  = f.input :street_team 
  = f.input :avail_mon 
  = f.input :avail_tue 
  = f.input :avail_wed 
  = f.input :avail_thu 
  = f.input :avail_fri 
  = f.input :avail_sat 
  = f.input :avail_sun 
  = f.input :avail_time_1 
  = f.input :avail_time_2 
  = f.input :avail_time_3 
  = f.input :avail_time_4 
  = f.input :avail_time_5 
  = f.input :avail_time_6 
  = f.input :hours 
