- content_for :breadcrumbs do
  = breadcrumbs @volunteer
  .crumb.end= section_title   

- content_for :content_navigation do
  %h2 Volunteers
  %ul
    %li{:class => active_for('index')}= icon_link_to "Search", admin_volunteers_path, 'search'
  %h2 This Volunteer
  %ul
    %li{:class => active_for('show')}= icon_link_to "Detail", admin_volunteer_path(@volunteer), 'circle-zoomin'
    %li{:class => active_for('notes')}= icon_link_to "Notes", notes_admin_volunteer_path(@volunteer), 'comment'
