%table#volunteers
  %tr
    %th.user_id= ssp_sort_link :user_id
    %th.postcode= ssp_sort_link :postcode
    %th.email= ssp_sort_link :email
    %th.phone= ssp_sort_link :phone
    %th.interests_volunteering= ssp_sort_link :interests_volunteering
    %th.skills= ssp_sort_link :skills
    %th.why= ssp_sort_link :why
    
    %th 
  = render :partial => 'admin/volunteers/volunteer.html.haml', :collection => volunteers
