%table#volunteers
  %tr
    %th.user_id= ssp_sort_link :user_id
    %th.postcode= ssp_sort_link :postcode
    %th.employed= ssp_sort_link :employed
    %th.why= ssp_sort_link :why
    %th.what= ssp_sort_link :what
    %th.availability= ssp_sort_link :availability
    %th.street_team= ssp_sort_link :street_team
    %th.available_days Available Days
    %th.available_times Available Times
    %th.hours= ssp_sort_link :hours
    %th 
  = render :partial => 'admin/volunteers/volunteer.html.haml', :collection => volunteers
