= render '/admin/admin/collection_controls'
- content_for :breadcrumbs do
  .crumb.end Volunteers

- content_for :top_links do
  = export_model_link Volunteer, "csv"

= ssp_search_form Volunteer

.table_section
  %h3 
    Volunteers
    = new_model_link Volunteer
  .table_wrapper
    = render 'admin/volunteers/table.html.haml', :volunteers => @volunteers
  = paginate @volunteers

