= render '/admin/admin/collection_controls'
- content_for :breadcrumbs do
  = breadcrumbs @volunteer
  .crumb.end= section_title   

- content_for :top_links do
  = edit_model_link @volunteer, true
  = destroy_model_link @volunteer, true
  = link_to "pdf", admin_volunteer_path(@volunteer, :format => :pdf)

%h1
  This Volunteer
  = icon_link_to 'notes', notes_admin_volunteer_path(@volunteer), 'script'
  = new_model_link Note, @volunteer

#model_detail
  %h4 User
  %p= link_to @volunteer.user.name, admin_user_path(@volunteer.user)
  %p= @volunteer.user.email
  %p= @volunteer.phone

  %h4 Postcode
  %p= @volunteer.postcode
  
  %h4 Student, Work, and Community Organiations that you belong to
  %div 
    %p
      = @volunteer.organization_name_1
      = @volunteer.organization_department_1
      = @volunteer.organization_title_1
    %p
      = @volunteer.organization_name_2
      = @volunteer.organization_department_2
      = @volunteer.organization_title_2
    %p
      = @volunteer.organization_name_3
      = @volunteer.organization_department_3
      = @volunteer.organization_title_3
  
  %h4 I am interested in volunteering:
  %p= @volunteer.interests_volunteering

  %h4 Skills
  %p= @volunteer.skills

  %h4 Why are you interested in volunteering?
  %p= @volunteer.why

  %h4 Is there anything else you would like us to know about?
  %p= @volunteer.anything_else

  

  


