= f.inputs do
  = f.input :talk_brand, :include_blank => false 
  = f.input :name 
  = f.input :description 
  = f.input :topic, :include_blank => false, :as => :select, :collection => Topic.by_name.all
  = f.input :day, :include_blank => false, :as => :select, :collection => Day.by_date.all
  = f.input :venue, :include_blank => false, :as => :select, :collection => Venue.by_name.all
  = f.input :start_time, :input_html => {:class => 'timepicker', :value => @model.start_time.present? ? @model.start_time.to_s(:time) : nil}, :as => :string 
  = f.input :end_time, :input_html => {:class => 'timepicker', :value => @model.end_time.present? ? @model.end_time.to_s(:time) : nil}, :as => :string 
  = f.input :sponsor, :hint => "use this to assign this event with a specific sponsor", :as => :select, :collection => Sponsor.by_name.all
  = f.input :banner, :as => :file, :title => "Banner Photo", :hint => "a #{@model.banner_dimensions_string} blessed photo for displaying on the site"