= f.inputs do
  = f.input :name 
  = f.input :description 
  = f.input :topic_id 
  = f.input :day_id 
  = f.input :venue_id 
  = f.input :start_time, :input_html => {:class => 'timepicker'}, :as => :string 
  = f.input :end_time, :input_html => {:class => 'timepicker'}, :as => :string 
  = f.input :sponsor_id 
  = f.input :type 
