%tr{:talk => talk.id}
  %td.name= link_to talk.name, admin_talk_path(talk)
  %td.track_id= talk.track.name
  %td.day_id= talk.day.full_name
  %td.venue_id= link_to talk.venue.name, admin_venue_path(talk.venue)
  %td.start_time= talk.start_time.to_s(:time)
  %td.end_time= talk.end_time.to_s(:time)
  %td.sponsor_id= talk.sponsor.present? ? talk.sponsor.name : 'none'
  %td.options
    = edit_model_link talk
    = destroy_model_link talk
 