= render 'collection_controls'

- content_for :top_links do
  = new_model_link Talk

= ssp_search_form Talk

.table_section
  %h3 
    Talks
    = new_model_link Talk
  .table_wrapper
    = render 'admin/talks/table.html.haml', :talks => @talks
  = paginate @talks

