- content_for :breadcrumbs do
  = breadcrumbs @performance
  .crumb.end= section_title   

- content_for :content_navigation do
  %h2 Performances
  %ul
    %li{:class => active_for('index')}= icon_link_to "Search", admin_performances_path, 'search'
  %h2 This Performance
  %ul
    %li{:class => active_for('show')}= icon_link_to "Detail", admin_performance_path(@performance), 'circle-zoomin'
    %li{:class => active_for('notes')}= icon_link_to "Notes", notes_admin_performance_path(@performance), 'comment'
