-# 		Chicago Ideas Week
-# 		Global Footer Partial
-# 		_footer.html.haml
-# 		01/02/2012

.container#footer_container

  .row.full#footer_top
    = link_to "Chicago Ideas Week", "#", :id => "footer_logo"
    %span October 8 - 14, 2012


  .row.full#footer_nav

    .footer_item
      %span{:class => "title"} 2012 Event
      %ul
        %li= link_to "Calendar", "#"
        %li= link_to "All Themes", "#"
        %li= link_to "Venues", "#"

    .footer_item
      %span{:class => "title"} Speakers
      %ul
        %li= link_to "Featured", "#"
        %li= link_to "2012 Speakers", "#"
        %li= link_to "2011 Speakers", "#"

    .footer_item
      %span{:class => "title"} Talks
      %ul
        %li= link_to "Mega Talks", "#"
        %li= link_to "Labs", "#"

    .footer_item
      %span{:class => "title"} About
      %ul
        %li= link_to "Mission", "#"
        %li= link_to "Special Programs", "#"
        %li= link_to "Awards", "#"

    .footer_item
      %span{:class => "title"} Community
      %ul
        %li= link_to "Sponsorships", "#"
        %li= link_to "Volunteer", "#"
        %li= link_to "Newsletter", "#"

    .footer_item
      %span{:class => "title"} Social
      %ul
        %li= link_to "Facebook", "#"
        %li= link_to "Twitter", "#"
        %li= link_to "YouTube", "#"


  .row.full#copyright
    %ul
      %li{:id => "copyright_notice"} &copy; 2011 Chicago Ideas Week
      %li= link_to "Privacy Policy", "#"
      %li= link_to "Terms of Use", "#"
      %li.right Lovingly created by Craig Ulliott &amp; kohactive
