-# 		Chicago Ideas Week
-# 		Global Footer Partial
-# 		_footer.html.haml
-# 		01/02/2012

.container#footer_container

  .row.full#footer_top
    = link_to "Chicago Ideas Week", "/", :id => "footer_logo"
    %span October 8 - 14, 2012


  .row.full#footer_nav

    .footer_item
      %span{:class => "title"} Speakers
      %ul
        %li= link_to "All Speakers", speakers_path
        %li.hide= link_to "2012 Speakers", "#"
        %li.hide= link_to "2011 Speakers", "#"

    .footer_item
      %span{:class => "title"} Events
      %ul
        %li= link_to "CIW Talks", talks_path
        %li= link_to "CIW Megatalks", mega_talks_talks_path
        %li= link_to "CIW Labs", labs_events_path

    .footer_item
      %span{:class => "title"} About
      %ul
        %li= link_to "Mission", about_path
        %li= link_to "Team", team_members_path
        %li= link_to "Volunteer", new_volunteer_path
        %li= link_to "Contact Us", contact_path

    .footer_item#community_footer
      %span{:class => "title"} Community
      %ul
        %li= link_to "Sponsors", sponsors_path
        %li= link_to "Community Partners", partners_path
        %li= link_to "Special Programs & Awards", special_programs_path
        %li= link_to "CIW Blog", "http://blog.chicagoideas.com"

    .footer_item
      %span{:class => "title"} Social
      %ul
        %li= link_to "News", press_clippings_path
        %li= link_to "Twitter", "http://www.twitter.com/chicagoideas", :target => "_blank"
        %li= link_to "Facebook", "http://www.facebook.com/ChicagoIdeasWeek", :target => "_blank"

  .row_full#credits
    %ul
      %li Lovingly created by <a href="http://www.craigulliott.com" target="_blank">Craig Ulliott</a>, <a href="http://www.kohactive.com" target="_blank">Justin McNally</a> &amp; <a href="http://www.johnkoht.com" target="_blank">John Koht</a>
      %li
        Photos By
        %br
        %a{:href =>"http://dearworld.me/tag/robert-fogarty/", :rel => "nofollow"}"Dear World" by Robert X. Fogarty
        %br
        Tim Klein
        %br
        Harrington College of Design: Dirk Fletcher, Danyel Duncan, Whitney Hsieh, Zak Jokela, Sarah Frankie Linder, Jade Tungjairob
        %br
        &
        %br
        Lois Bernstein, John Broughton, Liz Gilmore and Jasmin Shah
      
      %li#copyright
        &copy; 2011 The Innovation Foundation, a 501c3 non-profit organization
        = link_to "Privacy Policy", privacy_path
        = link_to "Terms of Use", terms_path
        