-# 		Chicago Ideas Week
-# 		Global Header & Navigation
-# 		_header.html.haml
-# 		12/31/2011

-# = Talk.random.name

%nav.container.row.full
  %ul#global_nav.span17

    %li#logo_container
      %h1= link_to "Chicago Ideas Week", "/", :id => "gn-logo"

    %li#gn-event.nav_section.nav_parent
      = link_to "2012 CIW", "/upcoming", :id => "gn-upcoming"
      .nav_children#temporary_
        %ul.n_column.n_featured
          %li
            2012 CIW Dates Announced: October 8 - 14, 2012
            %br
            Details coming soon

    %li.nav_parent
      = link_to "Events", "/events", :id => "gn-events"
      .nav_children
        %ul.n_column
          %li= link_to "All CIW Talks", talks_path
          %li= link_to "Mega Talks", "/talks/mega_talks"
          %li= link_to "Videos", videos_path
        
        %ul.n_column
          %li= link_to "CIW Labs", "/events/ciw-labs"
          %li= link_to "Partner Programs", "/events/partner-programs"
          %li= link_to "Affiliate Events", "/events/affiliate-events"

        %ul.n_column.n_featured
          %li
            .dd_img_container
              = link_to image_tag("application/temp/dd_temp1.png"), "/blah"
            = link_to "Titles goes here", "/blah"
            %span{:class => "small"} Author/subtext here
          %li
            .dd_img_container 
              = link_to image_tag("application/temp/dd_temp2.png"), "/blah"
            = link_to "Titles goes here", "/blah"
            %span{:class => "small"} Author/subtext here




    %li{:class => "nav_parent"}
      = link_to "Speakers", "/speakers", :id => "gn-speakers"
      .nav_children
        %ul.n_column
          %li= link_to "All Speakers", "/speakers"
          %li= link_to "2012 Speakers", "/speakers/upcoming"
          %li= link_to "Previous Speakers", "speakers/all"
          %li= link_to "see all...", "upcoming/all", :class => "blue"

        %ul.n_column.n_featured
          %li
            .dd_img_container
              = link_to image_tag("application/temp/dd_temp1.png"), "/blah"
            = link_to "Titles goes here", "/blah"
            %span{:class => "small"} Author/subtext here
          %li
            .dd_img_container 
              = link_to image_tag("application/temp/dd_temp2.png"), "/blah"
            = link_to "Titles goes here", "/blah"
            %span{:class => "small"} Author/subtext here



    %li{:class => "nav_section_end nav_parent"}
      = link_to "Community", "/community", :id => "gn-community"
      .nav_children
        %ul.n_column
          %li= link_to "Sponsors", sponsors_path
          %li= link_to "Community Partners", "/partners"
          %li= link_to "Affiliate Events", "/events/affiliate-events"

        %ul.n_column
          %li= link_to "News", "/news"
          %li= link_to "Blog", "/blog"
          %li= link_to "Newsletter", "/newsletter"
          %li= link_to "Volunteer", "/about/volunteer"



    %li{:class => "nav_parent"}
      = link_to "About", "/about", :id => "gn-community"
      .nav_children
        %ul.n_column
          %li= link_to "About CIW", "/about"
          %li= link_to "Team", "team_members"
          %li= link_to "Volunteer", "/about/volunteer"


    %li= link_to "Register", "/users/sign_up", :id => "gn-register"

    %li{:class => "nav_parent", :id => "nav_login"}
      = link_to"Login", "/users/sign_in", :id => "gn-login"
      .nav_children
        = render "partials/login_form"


    %li{:id => "nav_search"}
      #global_search_container
        %input{:type => "text", :id => "global_search", :placeholder => "search"}
        %input{:type => "submit", :id => "global_search_btn", :value => ""}






