%h1 Sign in
= semantic_form_for resource, :as => resource_name, :url => session_path(resource_name) do |f|
  = f.inputs do
    = f.input :email
    = f.input :password
    = f.input :remember_me, :as => :boolean

  = f.buttons do
    = f.commit_button :label => "Sign In"

= render "devise/shared/links"
