= f.inputs do
  = f.input :first_name 
  = f.input :last_name 
  = f.input :address1 
  = f.input :address2
  = f.input :city 
  = f.input :state
  = f.input :zip
  = f.input :phone 
  = f.input :email 
  = f.input :how_learn 
  = f.input :how_learn_extra 

  = f.input :undergraduate_institutions
  = f.input :field_major
  = f.input :minor
  = f.input :dates_attended
  = f.input :gpa
  = f.input :degree_type
  = f.input :expected_graduation_date
  
  = f.input :employment_interests
  = f.input :employment_interests_extra
  
  = f.input :honors_experience_activities
  = f.input :qualities_attributes
  = f.input :hope_to_gain
  
  = f.input :current_resume

