- content_for :breadcrumbs do
  = breadcrumbs @think_chicago_application
  .crumb.end= section_title   

- content_for :content_navigation do
  %h2 think_chicago_applications
  %ul
    %li{:class => active_for('index')}= icon_link_to "Search", admin_think_chicago_applications_path, 'search'
  =#%h2= @think_chicago_application.id
  %ul
    %li{:class => active_for('show')}= icon_link_to "Detail", admin_think_chicago_application_path(@think_chicago_application), 'circle-zoomin'
    %li{:class => active_for('notes')}= icon_link_to "Notes", notes_admin_think_chicago_application_path(@think_chicago_application), 'comment'
