#model_detail
  .section
    %h1 Affiliate Event Application
    .row.no_margin
      .column
        %strong First Name
      .column_double= @affiliate_event_application.first_name

    .row.no_margin
      .column
        %strong Last Name
      .column_double= @affiliate_event_application.last_name

    .row.no_margin
      .column
        %strong Organization Name
      .column_double= @affiliate_event_application.organization_name

    .row.no_margin
      .column
        %strong Website
      .column_double= @affiliate_event_application.website

    .row.no_margin
      .column
        %strong Job Title
      .column_double= @affiliate_event_application.job_title

    .row.no_margin
      .column
        %strong Email Address
      .column_double= @affiliate_event_application.email

    .row
      .column
        %strong Phone Number
      .column_double= @affiliate_event_application.phone_number

    .row.no_margin
      .column
        %strong Event Name (as it would be printed in promotional materials)
      .column_double= @affiliate_event_application.event_name
  
    .row.no_margin
      .column
        %strong Date/Time
      .column_double= @affiliate_event_application.event_date

    .row.no_margin
      .column
        %strong Event Location
      .column_double= @affiliate_event_application.event_location
  
    .row
      .column
        %strong Event Capacity
      .column_double= @affiliate_event_application.event_capacity
    
    .row
      %strong Event Overview
      %p= @affiliate_event_application.event_overview
  
    .row
      .column
        %strong Is this a recurring event?
      .column_double= @affiliate_event_application.recurring? ? 'yes' : 'no'
  
    .row.no_margin
      .column
        %strong Is this a paid event?
      .column_double= @affiliate_event_application.paid_event? ? 'yes' : 'no'
  
    .row
      .column
        %strong How much does it cost?
      .column_double= @affiliate_event_application.event_cost
    
    .row.no_margin
      .column
        %strong Does this event require guests to RSVP in advance?
      .column_double= @affiliate_event_application.rsvp_required? ? 'yes' : 'no'
    
    .row
      %strong How and when do guests RSVP?
      %p= @affiliate_event_application.rsvp_directions
    
    .row
      %strong Event description in 25 words or less (as it would be printed in promotional materials)
      %p= @affiliate_event_application.description_25words
    
    .row
      %strong Event description in 10 words or less (as it would be printed in promotional materials)
      %p= @affiliate_event_application.description_10words
