

#model_detail
  %h1 Part 1: About You

  %table.pdf_admibn
    %tr
      %td 
        %b First Name
      %td
        %p= @bhsi_application.first_name
    %tr
      %td
        %b Last Name
      %td
        %p= @bhsi_application.last_name
    %tr
      %td
        %b Address 1
      %td
        %p= @bhsi_application.address1
    %tr
      %td   
        %b Address 2
      %td
        %p= @bhsi_application.address2
    %tr
      %td
        %b City
      %td
        %p= @bhsi_application.city
    %tr
      %td
        %b State
      %td
        %p= @bhsi_application.state
    %tr
      %td
        %b Zipcode
      %td
        %p= @bhsi_application.zipcode
    %tr
      %td
        %b Country
      %td
        %p= @bhsi_application.country
    %tr
      %td
        %b Phone Number
      %td
        %p= @bhsi_application.phone_number
    %tr
      %td
        %b Email Address
      %td
        %p= @bhsi_application.email
    %tr
      %td
        %b Gender
      %td
        %p= @bhsi_application.gender
    %tr
      %td
        %b Birthdate
      %td
        %p= @bhsi_application.birthdate

  %b Have you applied to the Bluhm/Helfand Social Innovation Fellowship before?
  %p= @bhsi_application.applied_before

  %b Tell us a little bit about yourself. Make sure to include any previous leadership recognition or awards (100-200 words):
  %p= @bhsi_application.about_yourself
  
  %hr
  
  %h1 Part 2: About Your Venture
  
  %table.pdf_admin
    %tr
      %td
        %b Your Title
      %td
        %p= @bhsi_application.title
    %tr
      %td
        %b Social Venture Name
      %td
        %p= @bhsi_application.social_venture_name

  %b Legal Structure (501c3, LLC, Fiscally Sponsored, etc.)
  %p= @bhsi_application.legal_structure

  %table.pdf_admin
    %tr
      %td
        %b URL
      %td
        %p= @bhsi_application.url
    %tr
      %td
        %b Twitter Handle
      %td
        %p= @bhsi_application.twitter_handle
    %tr
      %td
        %b Video URL
      %td
        %p= @bhsi_application.video_url

  %b Capsule description of your social venture (50-100 words):
  %p= @bhsi_application.social_venture_description

  %table.pdf_admin
    %tr
      %td
        %b Date your social venture was officially launched:
      %td
        %p= @bhsi_application.venture_launched
    %tr
      %td
        %b Number of people you affected this year:
      %td
        %p= @bhsi_application.number_people_affected

  %b Please explain this number in a few sentences:
  %p= @bhsi_application.explain_number

  %b TPlease provide three standout statistics marking your social venture’s achievement:
  %p= @bhsi_application.three_standout_statistics
  
  
  %hr
  
  
  %h1 Part 3: Structure, Strategy &amp; Goals
  
  %b Explain your venture’s level of organizational development. Also, detail the sources of your funding and your most significant large funders (i.e., second round of VC funding, number of team members, annual budget/income, etc.) (75-200 words):
  %p= @bhsi_application.organizational_development

  %b Explain what makes your venture a social innovation (2-3 sentences):
  %p= @bhsi_application.makes_social_innovation

  %b Explain your inspiration for starting your social venture and describe your main programs and initiatives (300-600 words):
  %p= @bhsi_application.inspiration

  %b Explain your model for sustainability and share the results that prove your model is working. Also explain how you measure your social impact. (A strong response to this question should include ample data demonstrating your measurable impact.) (300-600 words)
  %p= @bhsi_application.sustainability_model

  %b What can you improve? Where is your work headed in the next two years? Where would you like to be in the long term, 10 years from now and beyond? What is your plan to achieve those goals? (300-600 words)
  %p= @bhsi_application.improvements

  %b How do you distinguish yourself in your specific field? What are you doing that no one else is doing? (A strong response should include a discussion of at least two other ventures working in this space and how you are specifically different from them.) (300-500 words)
  %p= @bhsi_application.distinguish_yourself


  %hr
  
  
  %h1 Part 4: Additional Questions
  
  %b Do you have a strong connection to the Midwest? If so, please explain (50-100 words):
  %p= @bhsi_application.strong_midwest_connections_explained

  %b Additional Comments
  %p= @bhsi_application.additional_comments
  
  
  
  %hr
  

  %h1 Part 5: Budget, Press Clippings &amp; References

  %table.pdf_admin
    %tr
      %td
        %b Reference 1 Name
      %td
        %p= @bhsi_application.reference_1_name
    %tr
      %td
        %b Reference 1 Relationship to you
      %td
        %p= @bhsi_application.reference_1_relationship
    %tr
      %td
        %b Reference 1 Phone Number
      %td
        %p= @bhsi_application.reference_1_phone
    %tr
      %td
        %b Reference 1 Email
      %td
        %p= @bhsi_application.reference_1_email
    %tr
      %td
        %b Reference 2 Name
      %td
        %p= @bhsi_application.reference_2_name
    %tr
      %td
        %b Reference 2 Relationship to you
      %td
        %p= @bhsi_application.reference_2_relationship
    %tr
      %td
        %b Reference 2 Phone Number
      %td
        %p= @bhsi_application.reference_2_phone
    %tr
      %td
        %b Reference 2 Email
      %td
        %p= @bhsi_application.reference_2_email
