-#     Chicago Ideas Week
-#     application/blum_helfand.html.haml
-#     01/25/2012


-# Breadcrumbs and Explore button
%section#header_toolbar.container-fluid
  .container
    #breadcrumbs
      %ul
        %li= link_to "Home", "/"
        %li= link_to "Special Programs & Awards", special_programs_path
        %li= link_to "Bluhm/Helfand Social Innovation Fellowship", blum_helfand_path
        %li
          %span 2012 Fellows



-# Main content
%section.container#main_content

  #page_header
    #page_title.left
      %h1 Meet the 2012 Bluhm/Helfand Social Innovation Fellows
    = render "partials/share"

  -# Left column, main content: About Us information
  .box.double.left
  
    
    .column_row.divided_row
      .column.column_double
        = image_tag('application/special_programs_awards/bhsi_2012/bhsi_logo_extended.jpg', :width => "640px", :height => "293px")
        %p Congratulations to our 2012 BHSI Fellows! 
        %p Learn about these five amazing social entrepreneurs who will attend and speak at CIW!
      
      
    .column_row.divided_row
      .column.column_double.fellow_item
        .img_frame
          = image_tag('application/special_programs_awards/bhsi_2012/mark_arnoldy.jpg')
        .fellow_content
          %h3 Mark Arnoldy, 25
          %span.location South Boston, Massachusetts
          %span.sub_title= link_to "Nyaya Health", "http://www.nyayahealth.org/"
         
          %p Mark Arnoldy is the Executive Director of Nyaya Health, an organization that delivers health care to the poor in rural Nepal. After nearly dying on his 1st trip to Nepal from lack of access to health care following a severe allergic reaction, Mark was afforded a rare glimpse of empathy with the millions of Nepalis denied care in their own country. That served as a critical incident for him, and it was the reason he committed himself to a life of building health systems for Nepal’s poorest through Nyaya Health. Prior to Nyaya Health, Mark founded NepalNUTrition to treat malnourished children and advised the creation of two blended value businesses in the United States -- Nut-rients and 5 Pound Apparel – that fund nutrition programs in Nepal. He is a graduate of Harvard’s Global Health Effectiveness Program and a former Fulbright Scholar to Nepal.
        
       
    .column_row.divided_row
      .column.column_double.fellow_item
        .img_frame
          = image_tag('application/special_programs_awards/bhsi_2012/michael_carter.jpg')
        .fellow_content
          %h3 Michael Carter, 24
          %span.location Atherton, California
          %span.sub_title= link_to "Strive for College", "http://www.striveforcollege.org/"
          
          %p Michael founded Strive for College in his freshman year of college, and since then has grown Strive into a national movement with chapters at college campuses across the country. Michael has raised over $2.2 million for Strive and helped hundreds of low-income high school students gain admission to universities across the country.He received a full-tuition merit scholarship to attend Washington University in St. Louis as an Annika Rodriguez Scholar, and graduated cum laude  in May, 2010. He also studied at Oxford University in England, and Georgetown University in Washington, D.C.. Michael's work with Strive has been featured widely in the media, including Forbes, Education Week, and the Chronicle of Higher Education, and he has spoken on various panels, including at the Brookings Institution and as a featured speaker at the Points of Light National Conference on Volunteering and Service. Michael strives for a day when college students across the country mobilize to ensure that all qualified, underserved high school students who have earned the right to go to college make it there, and achieve their dreams.
          
          
    .column_row.divided_row
      .column.column_double.fellow_item
        .img_frame
          = image_tag('application/special_programs_awards/bhsi_2012/micaela_connery.jpg')
        .fellow_content
          %h3 Micaela Connery, 25
          %span.location Hartford, Connecticut
          %span.sub_title= link_to "Unified Theater", "http://www.unifiedtheater.org/"

          %p At the age of 15, Micaela had a simple idea inspired by her cousin and friend Kelsey: harness the power of youth leaders and bring people with and without disabilities together as equals through theater.   A proud alum of Conard High School, Micaela went on to the University of Virginia where she graduated with high distinction with a self designed major in Service, Community and Social Policy. Micaela serves as a Global Shaper for the World Economic Forum. She's been invited to share her insights about inclusion, youth leadership, and social entrepreneurship in venues across the globe. Micaela was a panelist at the 2012 Annual Meeting of the World Economic Forum and keynoted the National Conference on Inclusion and National Collegiate Leadership Conference.  In 2010, Micaela was named one of the top-five young leaders by DoSomething on a nationally televised VH1 awards show. She was a Gloria T. A. Barron Young Hero, a CNN Breakthrough Woman, a Coca Cola Scholar, and named a West Hartford, Connecticut Citizen of the Arts.
          
            
    .column_row.divided_row
      .column.column_double.fellow_item
        .img_frame
          = image_tag('application/special_programs_awards/bhsi_2012/toni_maraviglia.jpg')
        .fellow_content
          %h3 Toni Maraviglia, 29
          %span.location Nairobi, Kenya
          %span.sub_title= link_to "MPrep", "http://mprep.co.ke/"

          %p Toni Maraviglia is the Founder of MPrep, an EdTech company that uses simple mobile technology to give schools in the poorest parts of the world access to quality educational materials. Toni has been a teacher/educator for over 7 years, starting as a Teach For America corps member and program director in New York City. She holds a Masters in Teaching, and in 2008 started a successful pay-for-performance educational program in rural Kenya called WISERBridge. She is a strong supporter of ICT in education, co-founding the EdTech Meetup Group in Nairobi, and she firmly believes mobile devices can change the way we teach, learn, and think.
      
    

    .column_row.divided_row
      .column.column_double
        %span.column_header Semi-Finalists
        %ul.semi_finalists
          %li
            %span.name_ David Auerbach, 31
            %span.location_ David Auerbach, 31
            %span.url= link_to "Sanergy", "http://saner.gy/", :rel => "nofollow"
          %li
            %span.name_ Dan MacCombie, 26
            %span.location_ Brooklyn, New York
            %span.url= link_to "Runa", "http://www.runa.org/", :rel => "nofollow"
          %li
            %span.name_ Elizabeth Dearborn Davis, 27
            %span.location_ Kigali, Rwanda
            %span.url= link_to "Akilah Institute for Women", "http://www.akilahinstitute.org/", :rel => "nofollow"
          %li
            %span.name_ Rustam Sengupta, 31
            %span.location_ New Delhi, India
            %span.url= link_to "Boond Engineering & Development Pvt.", "http://www.boond.net/", :rel => "nofollow"
          %li
            %span.name_ Sasha Fisher, 23
            %span.location_ New York, New York
            %span.url= link_to "Spark MicroGrants", "http://www.sparkmicrogrants.org/", :rel => "nofollow"
          %li
            %span.name_ Julia Silverman, 24
            %span.location_ New York, New York
            %span.url= link_to "Uncharted Play, Inc", "http://www.unchartedplay.com/", :rel => "nofollow"
          %li
            %span.name_ Khalil Fuller, 20
            %span.location_ Providence, Rhode Island
            %span.url= link_to "NBA Math Hoops", "http://www.nbamathhoops.org/", :rel => "nofollow"
          %li
            %span.name_ Jacob Wertz, 25
            %span.location_ Chicago, Illinois
            %span.url= link_to "Urban Prep Fellows Program", "http://www.urbanprep.org/fellows-program", :rel => "nofollow"
          %li
            %span.name_ Eric Glustrom, 27
            %span.location_ Boulder, Colorado
            %span.url= link_to "Educate!", "http://www.experienceeducate.org/", :rel => "nofollow"
          %li
            %span.name_ Jacob Wood, 29
            %span.location_ Inglewood, California
            %span.url= link_to "Team Rubicon", "http://www.teamrubiconusa.org//", :rel => "nofollow"
     
    .column_row.divided_row
      .column.column_double
        %p Do you know any young social innovators that would be a perfect fit for the BHSI Fellowship? Whether that person is you or someone you know, nominate them to apply for the BHSI Fellowship in 2013! We’ll keep them up to date on BHSI news and application dates next year.
        = link_to "Nominate candidates for the BHSI Fellowship here.", bhsi_applications_path
       
    .column_row
      .column.column_double
        %span.column_header Archive   
        %p= link_to "Meet the 2011 Bluhm/Helfand Social Innovation Fellows →", special_programs_blum_helfand_fellowship_previous_fellows_path

  -# Include Sidebar Items
  #sidebar
    = render "partials/sponsors"
    = render "partials/social"
    = render "partials/newsletter_form"
