-#     Chicago Ideas Week
-#     application/blum_helfand.html.haml
-#     01/25/2012


-# Breadcrumbs and Explore button
%section#header_toolbar.container-fluid
  .container
    #breadcrumbs
      %ul
        %li= link_to "Home", "/"
        %li= link_to "Special Programs & Awards", special_programs_path
        %li
          %span Bluhm/Helfand Social Innovation Fellowship



-# Main content
%section.container#main_content

  #page_header
    #page_title.left
      %h1 Bluhm/Helfand Social Innovation Fellowship
    = render "partials/share"

  -# Left column, main content
  .box.double.left
  
    .talk_gallery
      = image_tag('application/2012_bhsi/bhsi_1.jpg')
      = image_tag('application/2012_bhsi/bhsi_2.jpg')
      = image_tag('application/2012_bhsi/bhsi_3.jpg')
      = image_tag('application/2012_bhsi/bhsi_4.jpg')
      = image_tag('application/2012_bhsi/bhsi_5.jpg')
      = image_tag('application/2012_bhsi/bhsi_6.jpg')
      = image_tag('application/2012_bhsi/bhsi_7.jpg')
      = image_tag('application/2012_bhsi/bhsi_8.jpg')
      = image_tag('application/2012_bhsi/bhsi_9.jpg')
      = image_tag('application/2012_bhsi/bhsi_10.jpg')
      = image_tag('application/2012_bhsi/bhsi_11.jpg')

    .column_row.divided_row
      .column.column_double
        
        = image_tag('application/bluhm_helfand_logo.jpg', :class => "bhsi_logo clearfix", :width => "200px", :height => "200px")
        %p The Bluhm/Helfand Social Innovation Fellowship @ Chicago Ideas Week recognizes a group of young socially-conscious leaders who have developed sustainable ventures addressing social needs, and provides them with exposure to nationally recognized business and community leaders, funding to support their cause, and a platform for growth.
        %p The Fellowship was created by philanthropist and entrepreneurs Leslie Bluhm and David Helfand to help advance the next generation of social innovators, entrepreneurs, and change agents. In 2012, the fellowship received over 200 applications. 
     
    .column_row.divided_row
      .column.column_double
        %h2 2012 Bluhm/Helfand Social Innovation Fellows
        %ul#previous_winners_preview
          %li= image_tag('application/special_programs_awards/bhsi_2012/mark_arnoldy.jpg', :width => "100px")
          %li= image_tag('application/special_programs_awards/bhsi_2012/michael_carter.jpg', :width => "100px")
          %li= image_tag('application/special_programs_awards/bhsi_2012/micaela_connery.jpg', :width => "100px")
          %li= image_tag('application/special_programs_awards/bhsi_2012/toni_maraviglia.jpg', :width => "100px")
          
        %p= link_to "Meet the 2012 Bluhm/Helfand Social Innovation Fellows →", special_programs_bhsi_fellows_path     
    
    .column_row
      .column.column_double
          
        %h2 The Program
        %p The BHSI Fellows are hosted in Chicago for Chicago Ideas Week, in October each year, all expenses paid. Fellows gain exposure for their organization, establish a community of support, and receive a $10,000 financial contribution for their venture.
        
        -# Leaving this here in anticipation of 2012's video
        -# .video_container
        -#  %center
        -#    <iframe src="http://player.vimeo.com/video/37765551?title=0&amp;byline=0&amp;portrait=0" width="540" height="304" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          
        %h2 Fellowship Details
        %p Each of the Bluhm/Helfand Social Innovation fellows will receive $10,000 in financial support for their venture, and they'll join a group of likeminded young innovators for a week of one-of-a-kind experiences including:
        %ul
          %li The opportunity to present their ventures at Chicago Ideas Week alongside leading innovators, entrepreneurs, and thinkers, in front of an exclusive audience.
          %li Intimate breakfasts and lunches with prominent business and political leaders. Past meetings hosted by: Mayor Richard M. Daley, TIME Managing Editor Rick Stengel, Chairman of Equity Group Investments Sam Zell, and Groupon Chairman and Co-Founder Eric Lefkofsky.
          %li Participate in hands-on working sessions with top not-for-profit leaders. Past speakers include: Pencils of Promise Founder & CEO Adam Braun, Livestrong CEO Doug Ulman and charity: water Founder & CEO Scott Harrison.
          %li One-on-one meetings with potential funders, partners, and mentors relevant to their ventures. Previous mentors include: United Airline’s Managing Director of Corporate and Community Affairs Sonya Jackson, Ariel Investments President Mellody Hobson, entrepreneur and philanthropist J.B. Pritzker, GrubHub Founder Matthew Maloney, and philanthropist and civic leader Helen Zell.
          %li Access to Chicago Ideas Week speakers. Past speakers include: President Bill Clinton, General Colin Powell, Justice Sandra Day O'Connor, Mayor Michael Bloomberg, Attorney General Kamala Harris, Deepak Chopra, Edward Norton, Judith Rodin, Robert Kennedy, Jr., Tom Brokaw, Ellen Gustafson, Wes Craven, Kevin Bacon and Dean Kamen.
          %li A night rocking out a private concert with a superstar headliner. Headliners have included Third Eye Blind and Weezer!
          %li And much more!
        
        %h2 Questions?
        %p 
          For questions or more information on the BHSI Fellowship, please contact Jessica Malkin at 
          = link_to "info@bluhmhelfand.com.", "mailto:info@bluhmhelfand.com" 
        

    
      

  -# Include Sidebar Items
  #sidebar
    .box.right.yellow_box#edison_talks_callout
      .column_row
        %a{:href => "#{special_programs_bhsi_fellows_path}", :class => "callout_link"}
          %span.call_out MEET THE 2012 BHSI FELLOWS
    = render "partials/sponsors"
    = render "partials/social"
    = render "partials/newsletter_form"
