-# Videos Landing Page : Featured slider
- if @featured.present?
  .slider
    - @featured.take(10).each do |featured|
      = link_to image_tag(featured.banner(:medium), :title => "#slider_title_#{featured.id}"), video_path(featured)
  
  - @featured.take(10).each do |featured|
    .nivo-html-caption{:id => "slider_title_#{featured.id}"}
      %h2= link_to featured.title, video_path(featured)
      - featured.performances.limit(2).each do |performance|
        - if performance.speaker.present?
          %span.sub_title= link_to performance.speaker.name, video_path(featured)