-#     Chicago Ideas Week
-#     chapters/index.html.haml
-#     01/18/2012


-# Breadcrumbs and Explore button
%section#header_toolbar.container-fluid
  .container
    #breadcrumbs
      %ul
        %li= link_to "Home", "/"
        %li= link_to "Videos", videos_path
    = link_to "Explore Talks", "#", :class => "explore_btn", :id => "explore_talks"


-# Begin Main content
%section.container#main_content

  -# Featured chapter slider
  - if @featured.present?
    .slider
      - @featured.each do |featured|
        - begin
          = link_to image_tag(featured.banner.url, :title => "<span class='banner_head'>#{featured.title}</span>"), talk_path(featured)
        - rescue


  -# Left column, main content
  .box.double.left
    .column_row.divided_row#chapters
      .column.column_double
        %span.column_header Videos
        %ul.preview_list.double_rows
          - @chapters.each do |chapter|
            %li{:id => "chapter_#{chapter.id}"}
              .img_frame
                = link_to "play", video_path(chapter), :class => "play_btn"
                - begin
                  = link_to image_tag(chapter.banner.url), video_path(chapter)
                - rescue
              = link_to chapter.title, video_path(chapter)
              - chapter.performances.limit(2).each do |performance|
                - if performance.speaker.present?
                  %span= performance.speaker.name

        = paginate @chapters

    -# Speakers list
    -#= render "partials/speakers_loop", :locals => @speakers

  -# Include Sidebar Items
  #sidebar
    -#= render "partials/track_filter"
    = render "partials/sponsors"
    = render "partials/newsletter_form"
    = render "partials/social"

