-#     Chicago Ideas Week
-#     chapters/index.html.haml
-#     01/18/2012


-# Breadcrumbs and Explore button
%section#header_toolbar.container-fluid
  .container
    #breadcrumbs
      %ul
        %li= link_to "Home", "/"
        %li= link_to "Videos", videos_path
    = render "partials/explore_dropdown"

-# Begin Main content
%section.container#main_content

  -# Featured chapter slider
  = render "chapters/slider", :featured => @featured
  
  
  .box.double.left
    .column_row.divided_row
      .column.column_double
        %p= link_to "All Videos", "/videos"
        %p= link_to "2012 Videos", "/years/2012/videos"
        %p= link_to "2011 Videos", "/years/2011/videos"
        
    -# Render the chapter list
    = render "chapters/chapters", :chapters => @chapters, :top2 => @top2, :do_paginate => true


  -# Include Sidebar Items
  #sidebar
    -#= render "partials/track_filter"
    = render "partials/sponsors"
    = render "partials/newsletter_form"
    = render "partials/social"

