-#     Chicago Ideas Week
-#     talks/chapter_individual.html.haml
-#     01/12/2012


%section#main_content.row.full
  .container

    .row.talk_header#talk_header
      .span11.left
        %h1= @talk.name
        - if @talk.track.present?
          %span{:class => "sub_header"}= link_to @talk.track.name, "#"
      .span5.right
        social goes here

    .row.talk_body
      .span11#talk_content

        #player_container
          <iframe src="http://player.vimeo.com/video/#{@chapter.vimeo_id}?title=0&amp;byline=0&amp;portrait=0" width="680" height="383" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        
        .row.content_section#talk_description
          %span.row_header About this Chapter
          %h4= @chapter.title
          %pre= @chapter.description

        .row.content_section#talk_speakers
          %span.row_header Speakers in this Chapter
          %ul.list_reset.styled_thumbs
            - @chapter.performances.each do |p|
              %li
                .img_wrapper
                  = link_to image_tag("application/temp/speaker_thumb_1.jpg"), "#"
                = link_to p.speaker.name, speaker_path(p.speaker.permalink)
                %span= p.speaker.title


        .row.content_section#talk_gallery
          %span.row_header Photo Gallery
          %ul.list_reset
            %li
              = link_to image_tag("application/temp/gallery_4.jpg"), "#"
            %li
              = link_to image_tag("application/temp/gallery_3.jpg"), "#"
            %li
              = link_to image_tag("application/temp/gallery_2.jpg"), "#"
            %li
              = link_to image_tag("application/temp/gallery_1.jpg"), "#"


        .row.content_section#talk_description
          %span.row_header About this Chapter
          %pre= @talk.description



      .span5#chapter_list
        %span.row_header Other Videos in this Talk

        %ul{:class => "list_reset styled_thumbs"}
          - @chapters.each do |chapter|
            %li
              .img_wrapper
                = link_to "", "#",  :class => "play_btn"
                -#= image_tag URI.decode chapter.chapter_photos.first.photo.url(:thumb)
              = link_to chapter.title, video_path(chapter)
              %span= "#{chapter.performances.count} speakers"


<script type="text/javascript">
$('#gn-event').addClass('nav_parent_active'); // show the 2012 CIW sub menu by default
</script>