= f.inputs do
  = f.input :name 
  = f.input :organization 
  = f.input :title
  = f.input :email
  = f.input :phone 
  = f.input :passions 
  = f.input :why_come 
  = f.input :recommendation
  = f.input :invention
  = f.input :inspiration_1
  = f.input :inspiration_2
  = f.input :inspiration_3
  = f.input :comments

