- content_for :breadcrumbs do
  = breadcrumbs @edison_talks_application
  .crumb.end= section_title   

- content_for :content_navigation do
  %h2 edison_talks_applications
  %ul
    %li{:class => active_for('index')}= icon_link_to "Search", admin_edison_talks_applications_path, 'search'
  =#%h2= @edison_talks_application.id
  %ul
    %li{:class => active_for('show')}= icon_link_to "Detail", admin_edison_talks_application_path(@edison_talks_application), 'circle-zoomin'
    %li{:class => active_for('notes')}= icon_link_to "Notes", notes_admin_edison_talks_application_path(@edison_talks_application), 'comment'
