%table#users
  %tr
    %th.name= ssp_sort_link :name
    %th.email= ssp_sort_link :email
    %th.title= ssp_sort_link :title
    %th.admin= ssp_sort_link :admin
    %th.speaker= ssp_sort_link :speaker
    %th.staff= ssp_sort_link :staff
    %th.options 
  = render :partial => 'admin/users/user.html.haml', :collection => users
