%tr{:user => user.id}
  %td.name= link_to user.name, admin_user_path(user)
  %td.email= user.email
  %td.title= user.title
  %td.admin= user.admin? ? 'yes' : 'no'
  %td.speaker= user.speaker? ? 'yes' : 'no'
  %td.staff= user.staff? ? 'yes' : 'no'
  %td.options
    = edit_model_link user
    = delete_model_link user
