= render 'member_controls'

- content_for :top_links do
  = edit_model_link @user, true
  = delete_model_link @user, true

%h1
  = @user.name
  - unless @user.access_tags.empty?
    = "(#{@user.access_tags.join(', ')})"
  - if @user.deleted?
    %span.deleted (deleted)
  = icon_link_to 'notes', notes_admin_user_path(@user), 'script'
  = new_model_link Note, @user

#connectivity
  %p
    Connected to Facebook:
    = @user.connected_to_facebook? ? 'yes' : 'no'
  %p
    Connected to Twitter:
    = @user.connected_to_twitter? ? 'yes' : 'no'

#model_detail
  %p
    Signed in
    = @user.sign_in_count
    times

  - if @user.current_sign_in_at.present?
    %p
      Current Sign in:
      = @user.current_sign_in_at.to_s(:long)
      from IP
      = @user.current_sign_in_ip

  - if @user.last_sign_in_at.present?
    %p
      Previous Sign in:
      = @user.last_sign_in_at.to_s(:long)
      from IP
      = @user.last_sign_in_ip

  %h4 Title
  %p= @user.title

  %h4 Bio
  %p= @user.bio_html

  %h4 Twitter Screen Name
  %p= @user.twitter_screen_name

  %h4 Portrait
  %p= image_tag @user.portrait.url

  %h4 Portrait2
  %p= image_tag @user.portrait2.url


