- content_for :content_navigation do
  %h2 Admin home
  %ul
    %li{:class => active_for_controller('admin/admin')}= icon_link_to 'Dashboard', admin_root_path, 'home'
    %li{:class => active_for_controller('admin/volunteers')}= icon_link_to 'Volunteers', admin_volunteers_path, 'home'
    %li{:class => active_for_controller('admin/affiliate_event_application')}= icon_link_to 'Affiliate Events', admin_affiliate_event_applications_path, 'home'
    %li{:class => active_for_controller('admin/community_partner_applications')}= icon_link_to 'Community Partners', admin_community_partner_applications_path, 'home'
    %li{:class => active_for_controller('admin/bhsi_applications')}= icon_link_to 'BHSI', admin_bhsi_applications_path, 'home'
    %li{:class => active_for_controller('admin/bhsi_applications')}= icon_link_to 'ThinkChicago', admin_think_chicago_applications_path, 'home'
    %li{:class => active_for_controller('admin/jobs')}= icon_link_to 'Jobs', admin_jobs_path, 'home'

  %h2 Content
  %ul
    %li{:class => active_for_controller('admin/tracks')}= icon_link_to "Tracks", admin_tracks_path, 'tag'
    %li{:class => active_for_controller('admin/days')}= icon_link_to "Days (of the week)", admin_days_path, 'clock'
  
  %h2 Advanced
  %ul
    %li{:class => active_for_controller('admin/talk_brands')}= icon_link_to "Talk Types", admin_talk_brands_path, 'gear'
    %li{:class => active_for_controller('admin/event_brands')}= icon_link_to "Event Types", admin_event_brands_path, 'gear'
  
