- content_for :content_navigation do
  %h2 Admin home
  %ul
    %li{:class => active_for_controller('admin/admin')}= icon_link_to 'Dashboard', admin_root_path, 'home'

  %h2 Content
  %ul
    %li{:class => active_for_controller('admin/topics')}= icon_link_to "Topics (Categorization)", admin_topics_path, 'tag'
    %li{:class => active_for_controller('admin/days')}= icon_link_to "Days (of the week)", admin_days_path, 'clock'
  
  %h2 Advanced
  %ul
    %li{:class => active_for_controller('admin/talk_brands')}= icon_link_to "Talk Types", admin_talk_brands_path, 'gear'
    %li{:class => active_for_controller('admin/event_brands')}= icon_link_to "Event Types", admin_event_brands_path, 'gear'
  
