%tr{:press_clipping => press_clipping.id}
  %td.created_at= press_clipping.created_at.to_s(:wordy)
  %td.title= link_to truncate_words(press_clipping.title, 8), admin_press_clipping_path(press_clipping)
  -#%td.image= image_tag press_clipping.image
  %td.url= link_to press_clipping.url, press_clipping.url, :target => '_blank'
  %td.description= truncate_words(press_clipping.description, 8)
  %td.news_type= press_clipping.news_type
  %td.options
    = edit_model_link press_clipping
    = destroy_model_link press_clipping
 