-#     Chicago Ideas Week
-#     application/about.html.haml
-#     01/016/2012


%section.banner.container-fluid
  .banner_wrapper{:style => "background: url(#{asset_path "application/temp/speaker_landing_banner.jpg"}) top center no-repeat;"}


-# Main Talk content
%section.container#main_content

  #page_header
    #page_title.left
      %h1 About CIW
    #page_share.right
      %ul
        %li#twitter_ <a href="https://twitter.com/share" class="twitter-share-button" data-via="chicagoideas" data-count="none" data-hashtags="ciwtalks">Tweet</a>
        -#%li#facebook_ <div class="fb-like" data-href="http://www.google.com" data-send="false" data-layout="button_count" data-show-faces="true"></div>
        %li#facebook_ <div class="fb-like" data-send="false" data-layout="button_count" data-show-faces="false"></div>
        %li#gplus_ <g:plusone size="medium" annotation="none"></g:plusone>


  -# Left column, main content: About Us information
  .box.double.left

    .column_row.divided_row#about_description
      .column.column_double
        %p As one of the great American cities, Chicago has consistently found itself at the center of innovation in this country. From Daniel Burnham’s great plan to the first African American President, Chicago remains at the heart and soul of ideas in American society. Chicago Ideas Week wants to keep that tradition alive.
        %p With more than 160 speakers and 60 events—including outstanding talks, and behind-the-scenes tours at some of Chicago’s most spectacular institutions— for one week each October, CIW transforms the City of Big Shoulders into the global hub for new ideas, an ecosystem of innovation and a playground of intellectual recreation.
        %p There are plenty of ideas in the world, but real change comes from all corners. Ideas do not discriminate, and at CIW, the forum for innovation and ideas is one accessible to all. Among the ideas-based conferences throughout the world, CIW is one of the few that offers such inclusiveness, session tickets are just $15 while other conferences run into the thousands of dollars. This kind of accessibility ensures greater diversity in thought, participation and action. Now is the time for change and new ideas, and CIW has created a space where both are possible.
        %p So join us and offer your ideas and your activism to our community and the world beyond.
        %p Very truly yours,
        %p 
          Brad Keywell
          %br
          %i Founder and Co-Chairman

        %blockquote
        “Come and show me another city with lifted head singing so proud to be alive and coarse and strong and cunning…here is a tall bold slugger set vivid against the little soft cities…” Carl Sandburg, “Chicago”


    .column_row#staff_overview
      .column.column_double
        %span.column_header CIW Team
        %ul.preview_list.team_list.double_rows
          - @staff.each do |teammember|
            %li{:id => "teammember_#{teammember.id}", :class => "teammember_#{teammember.id}"}
              .img_frame
                - begin
                  = link_to image_tag(teammember.portrait.url), team_member_path(teammember)
                - rescue
              = link_to teammember.name, team_member_path(teammember);
              %span= teammember.title
      
      

  -# Include Sidebar Items
  = render "partials/sponsors"
  = render "partials/social"
  = render "partials/newsletter_form"