-#     Chicago Ideas Week
-#     application/about.html.haml
-#     01/016/2012


%section.banner.container-fluid
  .banner_wrapper{:style => "background: url(#{asset_path "application/about_new.jpg"}) top center no-repeat;"}


-# Main Talk content
%section.container#main_content

  #page_header
    #page_title.left
      %h1 About CIW
    = render "partials/share"

  -# Left column, main content: About Us information
  .box.double.left

    .column_row.divided_row#about_description
      .column.column_double
        %p Chicago Ideas Week (CIW) is about the sharing of ideas, inspiring action, and igniting change to positively impact our world. People who come to CIW are artists, engineers, technologists, inventors, scientists, musicians, economists, explorers—and, well…just innately passionate.
        %p For one week each October, CIW brings together some of the world’s most outstanding speakers to present their ideas and inspire the innovations of tomorrow at 80+ sessions across the city of Chicago. CIW aims to be the platform for sharing big ideas and making big things happen.
    
    .column_row.divided_row
      .column.column_double
        %h3 CIW Talks
        %p CIW Talks are 90-minute sessions spread throughout the week that feature 3-6 speakers presenting on various themes. Talks take a variety of forms and may incorporate interviews, conversations or performances.
        %h3 CIW Labs
        %p CIW Labs offer opportunities for participants to experience and explore the best of Chicago like never before.  Exclusive, behind-the-scenes experiences give participants a unique glimpse into the inner workings of businesses and institutions that are otherwise unavailable to the public.  Small groups will explore what it’s like for business leaders in the boardroom, go behind the curtain at leading theaters and venues, and discover “how-it-works” in hands-on workshops. 
        %h3 CIW Megatalks
        %p Megatalks are evening programs featuring distinguished and globally recognized speakers. These influential visionaries unite in order to share their genius and inspire Chicagoans, and the world, to see beyond today and create the best for tomorrow.
        %h3 CIW Partner Programs 
        %p CIW Partner Programs are official CIW events that are co-curated with our CIW Partners. All programs subscribe to the same goals of connectivity and innovation as other Chicago Ideas Week events, but provide a unique perspective based on the CIW Partner’s specific area of expertise.
        
        
        

    .column_row#staff_overview
      .column.column_double
        %span.column_header Meet the CIW Team
        %ul.preview_list.team_list.double_rows
          - @team.each do |teammember|
            %li{:id => "teammember_#{teammember.id}", :class => "teammember_#{teammember.id}"}
              .img_frame
                - begin
                  = link_to image_tag(teammember.portrait.url), team_member_path(teammember)
                - rescue
              = link_to teammember.name, team_member_path(teammember);
              %span= teammember.title
      
      

  -# Include Sidebar Items
  #sidebar
    = render "partials/sponsors"
    = render "partials/social"
    = render "partials/newsletter_form"