- if user_signed_in?
  %li= link_to 'My Account', user_root_path
  %li= link_to 'Sign Out', destroy_user_session_path
  - unless current_user.connected_to_facebook?
    %li.facebook_connect= link_to "Link with Facebook", user_omniauth_authorize_path(:facebook)
  - if current_user.admin?
    %li= link_to 'Admin', admin_root_path
  
- else
  %li= link_to 'Sign In', new_user_session_path
  %li= link_to "Create Account", new_user_registration_path
  %li.facebook_connect= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)

