-#     Chicago Ideas Week
-#     application/blum_helfand.html.haml
-#     01/25/2012


-# Breadcrumbs and Explore button
%section#header_toolbar.container-fluid
  .container
    #breadcrumbs
      %ul
        %li= link_to "Home", "/"
        %li= link_to "Special Programs & Awards", special_programs_path
        %li
          %span Bluhm/Helfand Social Innovation Fellowship



-# Main content
%section.container#main_content

  #page_header
    #page_title.left
      %h1 Bluhm/Helfand Social Innovation Fellowship
    = render "partials/share"

  -# Left column, main content: About Us information
  .box.double.left
  
    .talk_gallery
      = image_tag('application/special_programs_awards/spa_intro.jpg')
      = image_tag('application/special_programs_awards/spa_1.jpg')
      = image_tag('application/special_programs_awards/spa_2.jpg')
      = image_tag('application/special_programs_awards/spa_3.jpg')
      = image_tag('application/special_programs_awards/spa_4.jpg')
      = image_tag('application/special_programs_awards/spa_5.jpg')

    .column_row.divided_row
      .column.column_double
        %p The Bluhm/Helfand Social Innovation Fellowship @ Chicago Ideas Week will recognize three young socially-conscious leaders who have developed sustainable ventures addressing social needs, and provide them with exposure to nationally recognized business and community leaders, funding to support their cause, and a platform for growth. 
        %p The Fellowship was created by philanthropists and entrepreneurs Leslie Bluhm and David Helfand to help advance the next generation of socially-minded innovators, entrepreneurs and change agents. In 2011, the fellowship received over 200 applications and brought an outstanding group of social innovators to Chicago for the first ever Chicago Ideas Week.
        %h2 The Program
        %p The three fellowship recipients will be hosted in Chicago for Chicago Ideas Week, taking place October 8-14 2012, all expenses paid. Fellows will gain exposure for their organization, establish a community of support, and receive a $10,000 financial contribution for their venture.
        %h2 Fellowship Details
        %p Each of the Bluhm/Helfand Social Innovation fellows will receive <strong>$10,000 in financial support</strong> for their venture, and they’ll join a group of likeminded young innovators for a week of one-of-a-kind experiences including:
        %ul
          %li The opportunity to present their ventures at Chicago Ideas Week alongside leading innovators, entrepreneurs, and thinkers, in front of an exclusive audience.
          %li Intimate breakfasts and lunches with prominent business and political leaders. Past meetings have included: Mayor Richard M. Daley, Chairman of Equity Group Investments Sam Zell, and Groupon Chairman and Co-Founder Eric Lefkofsky.
          %li Participate in hands-on working sessions with top not-for-profit leaders. Past speakers include: Livestrong CEO Doug Ulman and charity: water Founder and CEO Scott Harrison.
          %li One-on-one meetings with potential funders, partners, and mentors relevant to their ventures. Previous mentors include: entrepreneur and philanthropist J.B. Pritzker, GrubHub Founder Matthew Maloney, and philanthropist and civic leader Helen Zell.
          %li Access to Chicago Ideas Week speakers. Past speakers include: President Bill Clinton, Justice Sandra Day O’Connor, Mayor Michael Bloomberg, Mayor Rahm Emanuel, writer and director Wes Craven, actor Kevin Bacon, and inventor Dean Kamen.
          %li A night rocking out a private concert with a superstar headliner. Last year’s headliner was Weezer!
          %li And much more!
        %h2 Applicant Criteria
        %p All applicants must be 35 years of age or younger (born on or before October 7, 1977)
        %p Applicants may be from anywhere in the world
        %p Ventures may be for-profit or not-for-profit entities 
        %p All ventures must demonstrate that they are social innovations, addressing compelling social need(s)
        %p All ventures must demonstrate a sustainable model with proven results
        %p Chicago Ideas Week takes place from October 8-14, 2012. The fellowship takes place from October 7-11. In order to be considered, all applicants must be available from October 7-11.*
        
        %h2 Important Dates
        %ul
          %li May 21: Deadline to apply
          %li June 19: Semi-finalists notified 
          %li June 29-July 1: Semi-finalists Interviews
          %li July 16: 2012 Bluhm/Helfand Social Innovation Fellows announced
          %li October 7-11: Bluhm/Helfand Social Innovation Fellowship @ Chicago Ideas Week

        %p *Fellows are welcome (but not required) to attend the remainder of Chicago Ideas Week (all expenses paid). All applicants must be available for a remote interview the weekend of June 29-July 1 if selected as semi-finalists.

        .btn.btn_blue
          =link_to "APPLY TODAY", new_bhsi_application_path

        %p Watch this video with highlights from the 2011 Bluhm Helfand Fellowship and interviews with the 2011 fellows.

        .video_container
          <iframe src="http://player.vimeo.com/video/37765551?title=0&amp;byline=0&amp;portrait=0" width="540" height="304" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        
      
      
    .column_row.divided_row
      .column.column_double.fellow_item
        .img_frame
          = image_tag('application/special_programs_awards/jason_aramburu.jpg')
        .fellow_content
          %h3 Jason Aramburu, 26
          %span.location Austin, TX
          %span.sub_title= link_to "re:Char", "http://http://www.re-char.com/"
          %p Jason Aramburu, re:char’s CEO, graduated from Princeton University with a degree in Ecology and Evolutionary Biology and a certificate in Environmental Studies. Before founding re:char, Jason was a founding member of Innozone, an online expertise network. Named a 2009 Social Innovation fellow by Pop!Tech and a 2010 Echoing Green fellow, Jason believes climate change and rural poverty are the two greatest global challenges and is excited to take part in solving them. Jason was named one of Business Week’s Top 25 Social Entrepreneurs in America.
        
       
    .column_row.divided_row
      .column.column_double.fellow_item
        .img_frame
          = image_tag('application/special_programs_awards/emma_.jpg')
        .fellow_content
          %h3 Emma Clippinger, 25
          %span.location Cambridge, MA
          %span.sub_title= link_to "Gardens for Health International", "http://gardensforhealth.org/"
          
          %p Emma Clippinger is co-Founder and Executive Director of Gardens for Health International, a non-profit organization equipping those who face malnutrition with the resources to feed themselves and their families. Currently operating in Rwanda, the organization serves over 4,000 individuals through its programs. Gardens for Health International has received numerous accolades, including an Echoing Green Fellowship, and the grand prize in the Dell Social Innovation Competition, JPMorgan Good Venture Competition and Ashoka/Staples Youth Social Entrepreneur Competition.
          
          
    .column_row.divided_row
      .column.column_double.fellow_item
        .img_frame
          = image_tag('application/special_programs_awards/adam_lowy.jpg')
        .fellow_content
          %h3 Adam Lowy, 25
          %span.location Neptune, NJ
          %span.sub_title= link_to "Move For Hunger", "http://www.moveforhunger.org/"

          %p Adam’s family has owned a moving company in New Jersey for over 90 years, and after seeing the amount of food wasted when people move, decided to take action and founded Move for Hunger in 2009. Move for Hunger works with moving companies to strengthen our nation’s food banks, and in just 2 years has grown to partner with over 150 movers in 35 states to provide 330,000 pounds of food.
          
            
    .column_row.divided_row
      .column.column_double.fellow_item
        .img_frame
          = image_tag('application/special_programs_awards/jeff_nelson.jpg')
        .fellow_content
          %h3 Jeff Nelson, 29
          %span.location Chicago, IL
          %span.sub_title= link_to "Urban Students Empowered", "http://www.usempowered.org/"

          %p Jeff Nelson has led US Empowered since March 2007, guiding vast programmatic expansion and strategy planning efforts. Jeff began his career as a Teach For America corps member at O’Keeffe Elementary School on Chicago’s South Side. In one year, Jeff led his sixth grade students to an average of two years’ growth in math. Jeff later served as a Teach For America Corps Member Advisor and was awarded the Sue Lehmann Award for Excellence in Teaching for the entire Chicago Region.
      
      
    .column_row.divided_row
      .column.column_double.fellow_item
        .img_frame
          = image_tag('application/special_programs_awards/jessica_posner.jpg')
        .fellow_content
          %h3 Jessica Posner, 25
          %span.location Denver, CO
          %span.sub_title= link_to "Shining Hope for Communities", "http://shininghopeforcommunities.org/"

          %p Jessica is the Co-Founder and Chief Operating Officer of Shining Hope for Communities, a non-profit that combats extreme poverty and gender inequality in Kibera—Africa’s largest slum. Shining Hope runs the Kibera School for Girls—the slum’s first free school for girls, as well as a community health clinic, clean toilet initiative, youth and community education, and economic development initiatives. Jessica won the 2010 Do Something Award and was named “America’s top-world changer 25 and under” live on VH1.

    .column_row
      .column.column_double
        %span.column_header Semi-Finalists
        %ul.semi_finalists
          %li
            %span.name_ Michael Carter, 23
            %span.location_ Atherton, CA
            %span.url= link_to "Strive for College", "http://www.striveforcollege.org/", :rel => "nofollow"
          %li
            %span.name_ Eric Glustrom, 27
            %span.location_ Boulder, CO
            %span.url= link_to "Educate!", "http://www.experienceeducate.org/", :rel => "nofollow"
          %li
            %span.name_ Jonathan Jackson, 30
            %span.location_ Charlestown, MA
            %span.url= link_to " Dimagi, Inc.", "http://www.dimagi.com/", :rel => "nofollow"
          %li
            %span.name_ Emily May, 30
            %span.location_ Brooklyn, NY
            %span.url= link_to " Hollaback!", "http://www.ihollaback.org/", :rel => "nofollow"
          %li
            %span.name_ Sami Nerenberg, 26
            %span.location_ Evanston, IL
            %span.url= link_to " Design for America", "http://www.designforamerica.com/", :rel => "nofollow"
          %li
            %span.name_ Sheel Tyle, 20
            %span.location_ Mountain, NJ
            %span.url= link_to " ReSight", "http://www.resight.org/", :rel => "nofollow"
          %li
            %span.name_ Mark Rembert, 27
            %span.location_ Wilmington, OH
            %span.url= link_to " Energize Clinton County", "http://energizecc.com/", :rel => "nofollow"
          %li
            %span.name_ Scott Warren, 24
            %span.location_ New York, NY
            %span.url= link_to " Generation Citizen", "http://www.generationcitizen.org/", :rel => "nofollow"
          %li
            %span.name_  Alejandro Velez, 24
            %span.location_ Oakland, CA
            %span.url= link_to " Back to the Roots (BTTR) Ventures", "http://www.backtotheroots.com/", :rel => "nofollow"
          %li
            %span.name_  Manuel Wiechers Banuet, 24
            %span.location_ Mexico City, Mexico
            %span.url= link_to " Iluméxico", "http://www.ilumexico.mx/", :rel => "nofollow"
            

      

  -# Include Sidebar Items
  #sidebar
    = render "partials/sponsors"
    = render "partials/social"
    = render "partials/newsletter_form"