-#     Chicago Ideas Week
-#     application/contact.html.haml
-#     01/25/2012


-# Breadcrumbs and Explore button
%section#header_toolbar.container-fluid
  .container
    #breadcrumbs
      %ul
        %li= link_to "Home", "/"
        %li
          %span Contact Us


-# Main content
%section.container#main_content

  #page_header
    #page_title.left
      %h1 Contact Us
    = render "partials/share"

  -# Left column, main content: About Us information
  .box.double.left
    .column_row
      .column.column_double
        %p 
          %strong We'd love to hear your big ideas! Share them with us.
        
        %div.clearfix
          %ul.preview_list.double_rows
            %li
              %p 
                Chicago Ideas Week
                %br
                600 West Chicago
                %br
                Suite 700
                %br
                Chicago, IL 60654
          
            %li.end
              %p
                = link_to "@chicagoideas on Twitter", "https://twitter.com/chicagoideas"
                = link_to "Like us on Facebook", "http://www.facebook.com/ChicagoIdeasWeek"
                = link_to "Find more ideas on Pinterest", "http://pinterest.com/chicagoideas/"
              
        %p Have a question? Please direct your inquiry to the appropriate CIW contact below:
        
        %p
          %strong Sponsorship Opportunities
          %br
          Leah Marshall:
          = link_to "leah@chicagoideas.com", "mailto:leah@chicagoideas.com"
        
        %p
          %strong CIW Membership Program
          %br 
          Becky Ahasic:
          = link_to "membership@chicagoideas.com", "mailto:membership@chicagoideas.com"
        
        %p
          %strong Volunteer Opportunities
          %br 
          Jennifer Nelson:
          = link_to "jennifer@chicagoideas.com", "mailto:jennifer@chicagoideas.com"
        
        %p
          %strong Ticketing & Registration
          %br 
          For all questions regarding ticket purchases, please email
          = link_to "tickets@andticketing.com", "mailto:tickets@andticketing.com"
          or call (800) 247-4360.
        
        %p
          %strong Edison Talks
          %br 
          General inquiries:
          = link_to "edisontalks@chicagoideas.com", "mailto:edisontalks@chicagoideas.com"
        
        %p
          %strong ThinkChicago Program
          %br 
          Danyelle Michelini:
          = link_to "tec@illinois.edu", "mailto:tec@illinois.edu"
        
        %p
          %strong Community Partner Program
          %br 
          Patricia Nicandro:
          = link_to "patricia@chicagoideas.com", "mailto:patricia@chicagoideas.com"
          
        %p
          %strong Bluhm/Helfand Social Innovation Fellowship
          %br 
          General inquiries:
          = link_to "info@bluhmhelfand.com", "mailto:info@bluhmhelfand.com"
        
        %p
          For all other questions or comments, please connect with us at info@chicagoideas.com
          = link_to "info@chicagoideas.com.", "mailto:info@chicagoideas.com"
  


  -# Include Sidebar Items
  #sidebar
    = render "partials/member_program_callout"
    = render "partials/sponsors"
    = render "partials/social"
    = render "partials/newsletter_form"
