%h1 Contact Us

#thank_you{:style => "display:none;"}
  Thank You, your message has been sent.

= semantic_form_for(:contact, :url => send_contact_url, :remote => true) do |form|

  = form.inputs do
    = form.input 'name', :required => true, :label => 'Your Name'
    = form.input 'email', :required => true, :label => 'Email Address', :hint => 'So we can get back to you'
    = form.input 'message', :required => true, :label => 'Message', :as => :text

  = form.buttons do
    = form.commit_button :label => "Send Message"

