-#     Chicago Ideas Week
-#     application/blum_helfand.html.haml
-#     01/25/2012


-# Breadcrumbs and Explore button
%section#header_toolbar.container-fluid
  .container
    #breadcrumbs
      %ul
        %li= link_to "Home", "/"
        %li
          %span Contact Us



-# Main content
%section.container#main_content

  #page_header
    #page_title.left
      %h1 Contact Us
    = render "partials/share"

  -# Left column, main content: About Us information
  .box.double.left
    .column_row
      .column.column_double
      
        #thank_you{:style => "display:none;"}
          Thank You, your message has been sent.

        = semantic_form_for(:contact, :url => send_contact_url, :remote => true) do |form|

          = form.inputs do
            = form.input 'name', :required => true, :label => 'Your Name'
            = form.input 'email', :required => true, :label => 'Email Address', :hint => 'So we can get back to you'
            = form.input 'message', :required => true, :label => 'Message', :as => :text

          = form.buttons do
            = form.commit_button :label => "Send Message"

