-#     Chicago Ideas Week
-#     application/faq.html.haml
-#     08/21/2012


-# Breadcrumbs and Explore button
%section#header_toolbar.container-fluid
  .container
    #breadcrumbs
      %ul
        %li= link_to "Home", "/"
        %li
          %span CIW Frequently Asked Questions
       



-# Main content
%section.container#main_content

  #page_header
    #page_title.left
      %h1 Frequently Asked Questions
    = render "partials/share"

  -# Left column, main content
  .box.double.left
    .column_row.divided_row
      .column.column_double
        %div#faq_menu
          %strong Explore
          = link_to "General Questions", "#faq_general_questions"
          = link_to "CIW Talks", "#faq_ciw_talks"
          = link_to "Edison Talks", "#faq_edison_talks"
          = link_to "CIW Labs", "#faq_ciw_labs"
          = link_to "CIW Membership Program", "#faq_ciw_membership_program"
          = link_to "Sponsorship", "#faq_sponsorship"
          = link_to "Ticketing/Registration", "#faq_ticketing_registration"
          = link_to "Volunteering", "#faq_volunteering"
          = link_to "Press", "#faq_press"
      
      
        %h2#faq_general_questions General Questions
        
        %ul.faq_list
          %li.faq_item
            %a.faq_question 
              What is Chicago Ideas Week?
            .faq_answer
              %p Chicago Ideas Week is an annual, weeklong gathering of global thought leaders created to drive ideas into actionable results. The goal of CIW is to become a catalyst to stimulate new initiatives and ventures, creating new connections and points of collaboration designed to enhance the world we live in. 
              %p The programming for the Week is open to public and tickets are $15 for each event, unless otherwise noted.
          %li.faq_item
            %a.faq_question 
              When is Chicago Ideas Week?
            .faq_answer
              %p In 2012, Chicago Ideas Week will be held from October 8th &mdash; 14th, 2012.
          %li.faq_item
            %a.faq_question 
              Where does Chicago Ideas Week take place?
            .faq_answer
              %p 
                Chicago Ideas Week uses the entire city of Chicago as our campus, exploring many parts of the city throughout the week's events. See our full
                = link_to "schedule", schedule_path
                for individual venue listings.
          %li.faq_item
            %a.faq_question 
              Why should I attend CIW? 
            .faq_answer
              %p Attending Chicago Ideas Week allows you to become part of a diverse community of thinkers and doers from Chicago and the greater Midwest region. CIW offers a unique platform to share your ideas, hear ideas on the next big things and provides a multitude of networking/community building opportunities. You won't want to miss it!
          %li.faq_item
            %a.faq_question 
              How can I connect with CIW in the months leading up to the event?
            .faq_answer
              %p
                %p 
                As we plan for Chicago Ideas Week and specific details emerge, we will share news and updates here on our website and through email "Action Updates". Get news even faster by following us on 
                = link_to "Twitter", "https://twitter.com/chicagoideas"  
                and 
                = link_to "Facebook", "http://www.facebook.com/ChicagoIdeasWeek"  
                and our blog – 
                = link_to "The Ideasphere.", "http://blog.chicagoideas.com/"  
                We'll introduce you to CIW presenters, connect you with local thought leaders and showcase the innovations of our great city. Please check your email in the weeks and months to come for news and program updates.


    .column_row.divided_row
      .column.column_double
        %h2#faq_ciw_talks CIW Talks
        
        %ul.faq_list
          %li.faq_item
            %a.faq_question 
              What are CIW Talks?
            .faq_answer
              %p CIW Talks are 90-minute sessions spread throughout the week that feature 3-6 speakers presenting on a specific theme or subject matter. CIW Talks take a variety of forms and may incorporate short-format presentations, interviews, conversations or performances.
          %li.faq_item
            %a.faq_question 
              What are this year's themes for CIW Talks?
            .faq_answer
              %p 
                This year, CIW will feature sessions on 30 provocative, relevant themes. 
                = link_to "Please click here to view all the CIW Talks.", year_speakers_path(@current_year)
          %li.faq_item
            %a.faq_question 
              What are CIW Megatalks?
            .faq_answer
              %p Megatalks are evening programs featuring distinguished and globally recognized speakers. These evening programs will be held at the Oriental Theatre and typically begin at 7:00 p.m.

    
    .column_row.divided_row
      .column.column_double
        %h2#faq_edison_talks Edison Talks
        
        %ul.faq_list
          %li.faq_item
            %a.faq_question 
              What is the Edison Talks?
            .faq_answer
              %p Edison Talks is an invitation-only, day-long gathering of provocative presentations, performances, and interactive installations led by globally recognized visionaries created to connect and inspire leaders from across the globe. 
          %li.faq_item
            %a.faq_question 
              Can I attend the Edison Talks?
            .faq_answer
              %p 
                You may submit an application to attend the Edison Talks 
                = link_to "here.", edison_talks_applications_path
                We will accept a select few applications for the 2012 event.  Please note, once selected there is still an entrance fee of $395.

    
    .column_row.divided_row
      .column.column_double
        %h2#faq_ciw_labs CIW Labs
        
        %ul.faq_list
          %li.faq_item
            %a.faq_question 
              What are CIW Labs?
            .faq_answer
              %p CIW Labs offer opportunities for participants to experience and explore the best of Chicago like never before.  Exclusive, behind-the-scenes experiences give participants a unique glimpse into the inner workings of businesses and institutions that are otherwise unavailable to the public.  Small groups will explore what it's like for business leaders in the boardroom, go behind the curtain at leading theaters and venues, and discover "how-it-works" in hands-on workshops. 
          %li.faq_item
            %a.faq_question 
              How can I host a CIW Lab?
            .faq_answer
              %p Applications for 2012 Labs have closed. Please look out for information on the 2012 Labs program on our website post Chicago Ideas Week!
    
    
    .column_row.divided_row
      .column.column_double
        %h2#faq_ciw_membership_program CIW Membership Program
        
        %ul.faq_list
          %li.faq_item
            %a.faq_question 
              Why should I become a CIW Member?
            .faq_answer
              %p As a CIW Member, you join an invaluable group of supporters who believe the most powerful thing on earth is an idea. Thanks to the annual support of our members, Chicago Ideas Week continues to deliver on our core mission of turning ideas into actionable results. By joining, you enjoy unparalleled access, advanced tickets and invitations to insider parties (at select levels). 
          %li.faq_item
            %a.faq_question 
              Where can I find more information on the Member Program levels?
            .faq_answer
              %p 
                Membership Program levels are outlined in full on our website. 
                = link_to "Please click here", member_program_path
                to view the benefit packages of each membership level.
          %li.faq_item
            %a.faq_question 
              I already a purchased a CIW Membership, but when can I start purchasing my tickets?
            .faq_answer
              %p Priority membership ticketing opens August 1-September 3, 2012. General ticketing will open on September 4, 2012. Be sure to take advantage of the early access to secure your tickets!
              
          %li.faq_item
            %a.faq_question 
              Who can I contact about my CIW Membership purchase?
            .faq_answer
              %p
                That's easy! Please send your inquires about your CIW Membership to 
                = link_to "membership@chicagoideas.com", "mailto:membership@chicagoideas.com" 
                or give us a call at 312-999-5809. 

                
    .column_row.divided_row
      .column.column_double
        %h2#faq_sponsorship Sponsorship
        
        %ul.faq_list
          %li.faq_item
            %a.faq_question 
              How do I become a sponsor? 
            .faq_answer
              %p 
                Interested in helping Chicago Ideas Week become a reality from year to year? Our sponsorship platform is just the place to show your impact. Please contact Director of Development, Leah Marshall, for inquiries:
                = link_to "leah@chicagoideas.com", "mailto:leah@chicagoideas.com" 
          %li.faq_item
            %a.faq_question 
              Does sponsorship guarantee a speaking opportunity for a representative from my organization?
            .faq_answer
              %p Though we greatly appreciate the many speaker suggestions we receive, we are unable to guarantee speaking opportunities to any individual – even if suggested by a sponsor. 

    
    .column_row.divided_row
      .column.column_double
        %h2#faq_ticketing_registration Ticketing/Registration
        
        %ul.faq_list
          %li.faq_item
            %a.faq_question 
              When will ticket sales for CIW be open?
            .faq_answer
              %p Public ticket sales for Chicago Ideas Week will open September 4th.  Please sign up for our newsletter for the most up to date announcements on ticket registration.
          %li.faq_item
            %a.faq_question
              Who should I contact if I’m having problems with my account or buying tickets?
            .faq_answer
              If you are having problems buying tickets, logging into your account, or ticket delivery, please contact And-Ticketing at 1.800.247.4360 or 
              = link_to "tickets@andticketing.com.", "mailto:tickets@andticketing.com"
          %li.faq_item
            %a.faq_question 
              How can I receive a discount code?
            .faq_answer
              %p Discount codes are <strong>not</strong> available by request and have been pre-distributed to our generous Ideas Week Partners. 
          %li.faq_item
            %a.faq_question 
              Is my ticket purchase refundable?
            .faq_answer
              %p No, all ticket purchases for CIW are final and non-refundable.   
    
    
    .column_row.divided_row
      .column.column_double
        %h2#faq_volunteering Volunteering
        
        %ul.faq_list
          %li.faq_item
            %a.faq_question 
              I volunteered last year for Chicago Ideas Week and would like to volunteer again. What should I do?
            .faq_answer
              %p We are happy to have returning volunteers! You are currently in our volunteer database and you do not need to resubmit another volunteer application. In August, we will send you an invitation to register for specific volunteer opportunities. You will need to submit a new Volunteer Agreement and Release Form for 2012 and attend one of the 2012 volunteer training sessions. Thank you for your continued support of CIW!
          %li.faq_item
            %a.faq_question 
              I am new to Chicago Ideas Week and I would like to volunteer. What should I do?
            .faq_answer
              %p Thank you so much for your interest! Please submit an application for consideration. You can find the volunteer application here. You will create a CIW profile and then will be able to complete and submit the volunteer application form. Any individuals that you would like to refer should submit an online application as well. Once we receive your entry, we will contact you to schedule a phone screening. The phone screening will take 10-15 minutes and is a time when we will get to know you and your interests, and answer any of your questions about volunteering for CIW.
          %li.faq_item
            %a.faq_question 
              As a new volunteer, how do I register to volunteer for specific events?
            .faq_answer
              %p Once you complete our online registration form, you will receive a call from one of our Volunteer Coordinators. The Volunteer Coordinator will send you a schedule of events and available volunteer positions to review before the call. Once you interview with one of our Coordinators, provided that we have volunteer shifts to offer you, you will be able to sign-up to volunteer at specific events.
          %li.faq_item
            %a.faq_question 
              How many events can I volunteer for?
            .faq_answer
              %p Chicago Ideas Week 2012 runs from Monday, October 8th through Sunday, October 14th. We are comfortable with individuals volunteering for four of the seven days, depending on individual availability. We welcome and value all volunteers- those who can only assist with one event and those who are available to assist with multiple events.
          %li.faq_item
            %a.faq_question 
              How do I confirm that I will be volunteering for CIW on the dates and times I selected on the schedule?
            .faq_answer
              %p You will be sent an email confirming your participation and any shifts for which you were scheduled. Please respond to the email to confirm that you will indeed volunteer on the dates and times for which we have scheduled you.
          %li.faq_item
            %a.faq_question 
              How do I change my volunteer schedule or cancel a volunteer shift for which I have been scheduled?
            .faq_answer
              %p 
                To request a schedule change, please send an email with the subject line "Schedule Change" to 
                = link_to "volunteers@chicagoideas.com.", "mailto:volunteers@chicagoideas.com"
                We will try to accommodate schedule change requests; however, we cannot guarantee that the new shifts you request will be available.   

              %p 
                To cancel a volunteer shift for which you were scheduled, please send an email with the subject line "Shift Cancellation" to 
                = link_to "volunteers@chicagoideas.com.", "mailto:volunteers@chicagoideas.com" 
                Please let us know the shift or shifts for which you are no longer able to commit. We respectfully ask that no person cancel participation in an event that will execute within the next 48 hours.
          %li.faq_item
            %a.faq_question 
              How do I sign up to be a Registration Manager?
            .faq_answer
              %p
                There will be a Registration Manager present at every event during CIW. The Registration Manager will be responsible for making sure the greeting and reception areas run smoothly and that our volunteer effort is well-coordinated onsite. Registration Managers can volunteer for one event or more, depending on their individual availability. If you are interested in this position, email your resume and contact information to 
                = link_to "jennifer@chicagoideas.com.", "mailto:jennifer@chicagoideas.com"
                Please make the subject line of your email, "Registration Manager Application." A Volunteer Coordinator will contact you with specific details should we have a Registration Manager position to offer you.
          %li.faq_item
            %a.faq_question 
              I will be out of town during CIW. Is there any way I can assist before the event week?
            .faq_answer
              %p 
                Thank you for your interest in CIW! Please email 
                = link_to "volunteers@chicagoideas.com", "mailto:volunteers@chicagoideas.com"
                with your interests and areas of expertise. A Volunteer Coordinator will respond to your email should there be a need for your assistance prior to the event.
    

    .column_row.divided_row
      .column.column_double
        %h2#faq_press Press
        
        %ul.faq_list
          %li.faq_item
            %a.faq_question 
              How can I obtain a press pass?
            .faq_answer
              %p 
                You can request a press pass by 
                = link_to "completing this short form", "/media/inquiry"  
                outlining you interest. For all press related inquiries, please contact Patricia Nicandro: 
                = link_to "patricia@chicagoideas.com.", "mailto:patricia@chicagoideas.com"

  -# Include Sidebar Items
  #sidebar
    = render "partials/buy_tickets_now"
    = render "partials/sponsors"
    = render "partials/social"
    = render "partials/newsletter_form"
