-#     Chicago Ideas Week
-#     Index.html.haml
-#     01/12/2012


-# Featured Section/Banner Area
= render "partials/banner"


%section.container#main_content

  -# Left column, main content: Videos, speakers, etc.
  .box.double.left
    
    .column_row.divided_row#talks
      .column
        %span.column_header Talks
        %ul.preview_list
          %li
            .img_frame
              = link_to "play", "#", :class => "play_btn"
              = link_to image_tag('application/temp/temp_1.jpg'), "#"
            = link_to "Innovation & Influence", "#"
            %span Technology
          
          %li
            .img_frame
              = link_to "play", "#", :class => "play_btn"
              = link_to image_tag('application/temp/temp_2.jpg'), "#"
            = link_to "Web & Tech", "#"
            %span Technology
        
          %li
            .img_frame
              = link_to "play", "#", :class => "play_btn"
              = link_to image_tag('application/temp/temp_1.jpg'), "#"
            = link_to "Innovation & Influence", "#"
            %span Technology

          %li
            .img_frame
              = link_to "play", "#", :class => "play_btn"
              = link_to image_tag('application/temp/temp_2.jpg'), "#"
            = link_to "Web & Tech", "#"
            %span Technology
        
          %li
            .img_frame
              = link_to "play", "#", :class => "play_btn"
              = link_to image_tag('application/temp/temp_1.jpg'), "#"
            = link_to "Innovation & Influence", "#"
            %span Technology

          %li
            .img_frame
              = link_to "play", "#", :class => "play_btn"
              = link_to image_tag('application/temp/temp_2.jpg'), "#"
            = link_to "Web & Tech", "#"
            %span Technology
        
        = link_to "view all talks →", talks_path, :class => "view_all blue"
          
          
      .column.right
        %span.column_header Videos
        %ul.preview_list
          %li
            .img_frame
              = link_to "play", "#", :class => "play_btn"
              = link_to image_tag('application/temp/temp_1.jpg'), "#"
            = link_to "Innovation & Influence", "#"
            %span Technology
          
          %li
            .img_frame
              = link_to "play", "#", :class => "play_btn"
              = link_to image_tag('application/temp/temp_2.jpg'), "#"
            = link_to "Web & Tech", "#"
            %span Technology
        
          %li
            .img_frame
              = link_to "play", "#", :class => "play_btn"
              = link_to image_tag('application/temp/temp_1.jpg'), "#"
            = link_to "Innovation & Influence", "#"
            %span Technology

          %li
            .img_frame
              = link_to "play", "#", :class => "play_btn"
              = link_to image_tag('application/temp/temp_2.jpg'), "#"
            = link_to "Web & Tech", "#"
            %span Technology
        
          %li
            .img_frame
              = link_to "play", "#", :class => "play_btn"
              = link_to image_tag('application/temp/temp_1.jpg'), "#"
            = link_to "Innovation & Influence", "#"
            %span Technology

          %li
            .img_frame
              = link_to "play", "#", :class => "play_btn"
              = link_to image_tag('application/temp/temp_2.jpg'), "#"
            = link_to "Web & Tech", "#"
            %span Technology
        
        
        
    = render "partials/speakers_loop", :locals => @speakers
  
  -# Include Sidebar Items
  = render "partials/sponsors"
  = render "partials/social"
  = render "partials/newsletter_form"
      

  