-#     Chicago Ideas Week
-#     Index.html.haml
-#     01/12/2012


-# Featured Section/Banner Area
= render "partials/banner_static"


%section.container#main_content
  
  
  -# Left column, main content: Videos, speakers, etc.
  .box.full.left#intro

    .column_row.divided_row
      .column.column_full
        
        %h1 Welcome to Chicago Ideas Week
        %p Chicago Ideas Week brings together hundreds of the world’s brightest thought leaders to inspire, connect and activate the city of Chicago and the world. Since 2010, CIW has become a global hub for new ideas, an ecosystem for innovation and a playground of intellectual recreation. Join us.
        
        %span
          %strong TALKS: 
          90-minute sessions focused on a single theme (ie: architecture, design, technology)
        %span
          %strong LABS: 
          Behind-the-scenes experiences at Chicago’s leading businesses and institutions
        %span
          %strong EDISON TALKS: 
          Daylong gathering of provocative presentations for a highly curated audience
        %span
          %strong MASTERCLASS: 
          Dynamic dialogs featuring two industry leaders exploring opposing perspectives
        %span
          %strong RECEPTIONS: 
          Intimate gatherings for speakers and attendees to engage and connect
        
        %p{:style => "text-align:right;"}
          = link_to "Learn more about our programs →", programs_path
        
        = image_tag('application/homepage/photo1.jpg', :width => "1000px", :height => "450px")
            
    .column_row
      .column.column_left
        = image_tag('application/homepage/photo2.jpg', :width => "310px", :height => "192px")
        %p{:style => "padding:4px 12px;"}
          %strong Get Priority Access as a CIW Member: 
          Join our Member Program and connect with our growing community of leaders, innovators and game-changers – all while reserving your CIW priority tickets before the public. Tickets up to 65% off!
        %p{:style => "padding:4px 12px;"}
          = link_to "Become a Member →", member_program_path
      
      .column.column_middle
        = image_tag('application/homepage/photo3.jpg', :width => "310px", :height => "192px")
        %p{:style => "padding:4px 12px;"}
          %strong Become a Sponsor: 
          Chicago Ideas Week would not be possible without the support of our partners. Our integrated partnerships offer a variety of benefits including promotion & branding, speaking opportunities, and media coverage.
        %p{:style => "padding:4px 12px;"}
          = link_to "Partner with us →", support_path
      
      .column.column_right
        = image_tag('application/homepage/photo4.jpg', :width => "310px", :height => "192px")
        %p{:style => "padding:4px 12px;"}
          %strong Get inspired by our CIW Talks: 
          Missed a session at CIW? Don’t worry – watch all of the CIW Talks online on your time. Get inspired by the world-class leaders who’ve shared their ideas on the CIW stage.
        
        %p{:style => "padding:4px 12px;"}
          = link_to "Watch CIW Talks →", year_videos_path(@current_year)

    
  

  
