-#     Chicago Ideas Week
-#     Index.html.haml
-#     01/12/2012


-# Featured Section/Banner Area
= render "partials/banner"


%section.container#main_content

  -# Left column, main content: Videos, speakers, etc.
  .box.double.left
    .column_row.divided_row#talks
    
      - if @talks.present?
        .column#homepage_talks
          %span.column_header Talks
          %ul.preview_list
            - @talks.each do |talk|
              %li{:id => "talk_#{talk.id}"}
                .img_frame
                  = link_to "play", talk_path(talk), :class => "play_btn"
                  = link_to image_tag(talk.banner.url), talk_path(talk)
                = link_to talk.name, talk_path(talk)
                - if talk.track.present?
                  %span= talk.track.name
                %span= talk.chapters.count > 1 ? "#{talk.chapters.count} videos" : "#{talk.chapters.count} video"
        
          = link_to "view all talks →", talks_path, :class => "view_all blue"
          
      - if @chapters.present?
        .column.right#homepage_videos
          %span.column_header Videos
          %ul.preview_list
            - @chapters.each do |video|
              - if video.present?
                %li{:id => "video_#{video.id}"}
                  .img_frame
                    = link_to "play", video_path(video), :class => "play_btn"
                    = link_to image_tag(talk.banner.url), video_path(video)
                  = link_to video.title, video_path(video)
                  - if video.performances.present?
                    - video.performances.limit(2).each do |performance|
                      - if performance.speaker.present?
                        %span= performance.speaker.name
                    
          = link_to "view all videos →", videos_path, :class => "view_all blue"

        
    = render "partials/speakers_loop", :locals => @speakers
  
  -# Include Sidebar Items
  #sidebar
    = render "partials/sponsors"
    = render "partials/social"
    = render "partials/newsletter_form"
      

  