-#     Chicago Ideas Week
-#     Index.html.haml
-#     01/01/2012


-# Featured Section/Banner Area
= render "application/partials/banner"

-# Turning Ideas into action Section
%section#intro.row.full

  .container
    %h2 How is CIW <strong>Turning IDeas into Action</strong>?
    
    %ul#intro_boxes
      %li.yellow.featured
        %span.intro_regular Great Idea
        %span.intro_large #153
        %span.intro_regular= link_to "Clean Drinking Water Everywhere", "#"
        %span.intro_link= link_to "Learn More +", "#"

      %li.yellow
        %span.intro_regular By Connecting
        %span.intro_regular People From Over
        %span.intro_large Fifty
        %span.intro_medium Countries
        %span.intro_link= link_to "Learn More +", "#"

      %li.yellow
        %span.intro_regular Our community
        %span.intro_regular Has shared
        %span.intro_large 157
        %span.intro_medium Links
        %span.intro_link= link_to "Learn More +", "#"

      %li.yellow
        %span.intro_regular This Month
        %span.intro_regular CIW Has Posted
        %span.intro_large 267
        %span.intro_medium Tweets
        %span.intro_link= link_to "Learn More +", "#"

      %li.blue
        %span.intro_regular 2012 Event
        %span.intro_regular Begins in
        %span.intro_large 195
        %span.intro_medium Days
        %span.intro_link= link_to "Register Now! +", "/users/sign_up"

%section#main_content.row.full

  .container

    .span-one-third.entry_column#videos

      %h2 Videos

      %article.entry.featured_video
        .img_wrapper
          = image_tag(asset_path "application/temp/thumb_large.jpg")
        = link_to "", "#", :class => "play_btn"

        %h3= link_to "CIW Megatalk: International Mayor Evening", "#"
        %p A star-powered evening featuring Mayor Emanuel and Richard Stengel of Time Magazine. The event will include innovative city leaders from around the country in a fascinating analysis of what makes our cities great.

      %article.entry
        .img_wrapper= link_to image_tag(asset_path "application/temp/thumb_1.jpg"), "#"
        %h3= link_to "6 Degrees of Kevin Bacon", "#"
        %p Actor, Philosopher, Icon

      %article.entry
        .img_wrapper= link_to image_tag(asset_path "application/temp/thumb_1.jpg"), "#"
        %h3= link_to "6 Degrees of Kevin Bacon", "#"
        %p Actor, Philosopher, Icon



    .span-one-third.entry_column#blog

      %h2 Blog

      %article.entry
        %h3= link_to "Chicago Ideas Week 2011 Recap, Review and Photos", "#"
        .img_wrapper= link_to image_tag(asset_path "application/temp/blog_thumb.jpg"), "#"
        %p
          = link_to "Category", "#", :class => "category_" 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris quam, malesuada sit amet dapibus eget...

          %span.datestamp 3 hours ago by #{link_to "John Koht", "#"}

      %article.entry
        %h3= link_to "Chicago Ideas Week 2011 Recap, Review and Photos", "#"
        .img_wrapper= link_to image_tag(asset_path "application/temp/blog_thumb.jpg"), "#"
        %p
          = link_to "Category", "#", :class => "category_" 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris quam, malesuada sit amet dapibus eget...

          %span.datestamp 3 hours ago by #{link_to "John Koht", "#"}

      %article.entry
        %h3= link_to "Chicago Ideas Week 2011 Recap, Review and Photos", "#"
        .img_wrapper= link_to image_tag(asset_path "application/temp/blog_thumb.jpg"), "#"
        %p
          = link_to "Category", "#", :class => "category_" 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris quam, malesuada sit amet dapibus eget...

        %span.datestamp 3 hours ago by #{link_to "John Koht", "#"}



    .span-one-third.entry_column.sidebar#community

      %h2 Community

      = render "application/partials/sponsors"
      = render "application/partials/newsletter_form"
      = render "application/partials/volunteer_info"
      = render "application/partials/social"
      = render "application/partials/tweets"




  <script type="text/javascript">
  $('#gn-event').addClass('nav_parent_active'); // show the 2012 CIW sub menu by default
  </script>    



