-#     Chicago Ideas Week
-#     member_program/index.html.haml
-#     07/12/2012




%section.container#main_content

  %div#member_program_header
    %h1 CIW Member Program
    
    %h2 
      %p Enjoy Unparalleled Access, 
      %p Advanced Tickets, 
      %p & Invitations to Insider Parties!
    
    = render "partials/share"
    
    %div#member_program_header_content
      %a.download{:href => "/files/Letter_from_Brad_Keywell.pdf", :target => "_blank"}
        Download the Letter from<br /> Founder Brad Keywell
      %p
        %strong Chicago Ideas Week started with a simple belief: big ideas should be accessible to big communities.
        
     
  
  %div#member_program_content.clearfix
    %div#member_program_levels.clearfix
      
      %h2 2013 Details Coming Soon!
        
      %p{:style => "width:700px;margin:0 auto;"}
        If you are interested in joining the Member Program, please revisit the site in January for more information on how to become a CIW 2013 Member, or contact Becky at 312.999.5809 or 
        = mail_to "membership@chicagoideas.com", "membership@chicagoideas.com."  

    
      
    
    %p.non_profit
      The Innovation Foundation (d/b/a Chicago Ideas Week) is a 501c3 organization
    
        
    
    %div.column_three
      %div.column
        = render "partials/newsletter_form"
      %div.column
        = render "partials/sponsors"
      %div.column
        = render "partials/community"
