-#     Chicago Ideas Week
-#     member_program/index.html.haml
-#     07/12/2012




%section.container#main_content

  %div#member_program_header
    %h1 CIW Member Program
    
    %h2 
      %p Enjoy Unparalleled Access, 
      %p Advanced Tickets, 
      %p & Invitations to Insider Parties!
    
    = render "partials/share"
    
    %div#member_program_header_content
      %a.download{:href => "/files/Letter_from_Brad_Keywell.pdf", :target => "_blank"}
        Download the Letter from<br /> Founder Brad Keywell
      %p
        %strong Chicago Ideas Week started with a simple belief: big ideas should be accessible to big communities.
        
      %p.left Join our CIW Member Program today and connect with our growing community of leaders, innovators and game-changers—all while reserving your Chicago Ideas Week priority tickets before the public.
      %p.right
        %strong 
          CIW memberships include: 
        Priority Ticketing, All Access Menlo Passes good for all Talks and Megatalks*, invitations to the exclusive Edison Talks*, attendance at CIW private parties*, and more. Join today!
        %span
          *At select levels
  
  %div#member_program_content.clearfix
    %h2 Join the CIW Member Program – Levels from $100 to $5,000
    
    %div#member_program_levels.clearfix
      %div.left
        
        %h3 Friends: Gift of $100
        %p Enjoy exciting benefits while supporting Chicago Ideas Week production and programming.
        %ul
          %li 10% discount on all ticket sales
          %li Advanced ticket sales (4 ticket limit per event)
          %li CIW 2012 T-shirt
          %li Member recognition on badges
        %a.btn_level{:target => "_blank", :href => "https://andticketing.com/chicagoideasweek/Online/miscItemDetail.asp?doWork::WSmiscItem::load=Load&createBO::WSmiscItem=1&BOparam::WSmiscItem::load::item=8C749EA0-9D61-4DC1-816F-749268EAC183&sessionlanguage="}
          Become a Friend
      
      %div.right  
        %h3 Patron: Gift of $500
        %p Support Chicago Ideas Week programming while you enjoy greater access to the week’s events and special benefits that give you greater involvement throughout the week.
        %ul
          %li 10% discount on all ticket sales
          %li 20 event tickets redeemable at Megatalks, Talks and Labs throughout the week (4 ticket limit per event).
          %li Advanced ticket sales on additional tickets (4 ticket limit per event)
          %li Name on CIW website
          %li CIW 2012 T-shirt
          %li Insider updates
          %li Member recognition on badges
        %a.btn_level{:target => "_blank", :href => "https://andticketing.com/chicagoideasweek/Online/miscItemDetail.asp?doWork::WSmiscItem::load=Load&createBO::WSmiscItem=1&BOparam::WSmiscItem::load::item=A3C45E47-F443-4A4B-BB56-16651932E372&sessionlanguage="}
          Become a Patron
      
      %div.left.clearfix
        %h3 Benefactor: Gift of $1,500
        %p Discover a deeper relationship with Chicago Ideas Week and receive priority tickets and access to invitation-only performances and special events.
        %ul
          %li 10% discount on all ticket sales
          %li 1 Menlo Pass (provides access to all Talks and Megatalks, transferrable)
          %li 1 ticket to the Edison Talks
          %li Advanced ticket sales on additional tickets (4 ticket limit per event)
          %li Name on event program and CIW website
          %li CIW 2012 T-Shirt
          %li Insider updates
          %li Preferred seating
          %li Member recognition on badges
        %a.btn_level{:target => "_blank", :href => "https://andticketing.com/chicagoideasweek/Online/miscItemDetail.asp?doWork::WSmiscItem::load=Load&createBO::WSmiscItem=1&BOparam::WSmiscItem::load::item=1E69D12C-6185-44E2-B333-1D5D2BA44D8B&sessionlanguage="}
          Become a Benefactor
      
      %div.right  
        %h3 Pillar: Gift of $5,000
        %p Members of this group will engage with Chicago Ideas Week in a unique way, experiencing unparalleled access to the Week’s events.
        %ul
          %li 10% discount on all ticket sales
          %li 2 Menlo Passes (provides access to all Talks and Megatalks, transferrable)
          %li 2 tickets to the Edison Talks
          %li Advanced ticket sales on additional tickets
          %li Name in official CIW Show Guide and CIW website
          %li 2 invitations to CIW private party
          %li CIW 2012 T-shirt
          %li Insider updates
          %li Commemorative photo book
          %li Preferred seating
          %li Member recognition on badges
        %a.btn_level{:target => "_blank", :href => "https://andticketing.com/chicagoideasweek/Online/miscItemDetail.asp?doWork::WSmiscItem::load=Load&createBO::WSmiscItem=1&BOparam::WSmiscItem::load::item=A97B1C55-BA84-403A-9ED7-CAE2950DDB3D&sessionlanguage="}
          Become a Pillar
    
    %p.note
      *Please note: Buying a CIW Membership is not the equivalent to purchasing your tickets to Chicago Ideas Week. Joining the membership program allows you early access to tickets. Priority membership ticketing opens August 1-September 3, 2012. General ticketing will open on September 4, 2012.
    
    %p.non_profit
      The Innovation Foundation (d/b/a Chicago Ideas Week) is a 501c3 organization
    
        
    %div.questions 
      %p Questions? Call us at 312-999-5809 or 
      %p 
        email us at 
        = mail_to "membership@chicagoideas.com", "membership@chicagoideas.com."
    
    %div.column_three
      %div.column
        = render "partials/buy_tickets_now"
      %div.column
        = render "partials/sponsors"
      %div.column
        = render "partials/community"
