-#     Chicago Ideas Week
-#     application/about.html.haml
-#     01/016/2012


-# Breadcrumbs and Explore button
%section#header_toolbar.container-fluid
  .container
    #breadcrumbs
      %ul
        %li= link_to "Home", "/"
        %li
          %span Programs

-# Main Talk content
%section.container#main_content

  #page_header
    #page_title.left
      %h1 Programs
    = render "partials/share"

  -# Left column, main content: Programs
  .box.double.left

    .column_row.divided_row
      .column.column_double
        %span.column_header Engagement and Programming at Chicago Ideas Week
        %h3= link_to "Talks", videos_path
        %p 
          CIW Talks are 90-minute sessions that feature 4-6 speakers giving short form talks on topics ranging from the creative process, to healthcare, the military to art, finance, and many others. With the intention to inspire, connect, and help turn attendee’s ideas into action, Talks are a cradle for creativity, originality and inspiration to extend beyond the boundaries of Chicago Ideas Week.
          = link_to "Suggest a speaker for Chicago Ideas Week 2013 →", "https://docs.google.com/spreadsheet/viewform?formkey=dHM4WVBSUXFsOFlTWWVaeDd1alRXb1E6MQ", :target => "_blank"

        %h3= link_to "Edison Talks", edison_path
        %p Edison Talks is an invitation-only, day-long gathering of provocative presentations, performances, and interactive installations held during CIW and led by globally recognized visionaries, created to connect and inspire hundreds of top leaders from across the globe.

        %h3= link_to "Labs", labs_events_path
        %p CIW Labs offer exclusive, behind the scenes experiences that give participants a unique glimpse into the inner workings of businesses and institutions that are otherwise unavailable to the public. Small groups will explore what it’s like for business leaders in the boardroom, go behind the curtain at leading theatres and venues, and discover "how-it-works" in hands-on workshops.


  -# Include Sidebar Items
  #sidebar
    = render "partials/sponsors"
    = render "partials/social"
    = render "partials/newsletter_form"
