-#     Chicago Ideas Week
-#     application/special_programs_awards.html.haml
-#     01/016/2012


%section.banner.container-fluid
  .banner_wrapper{:style => "background: url(#{asset_path "application/special_programs_awards.jpg"}) top center no-repeat;"}


-# Main Talk content
%section.container#main_content

  #page_header
    #page_title.left
      %h1 Special Programs &amp; Awards
    = render "partials/share"

  -# Left column, main content: About Us information
  .box.double.left

    .column_row#about_description
      .column.column_double
        %p Chicago Ideas Week wants to provide extraordinary opportunities to extraordinary people. To accomplish this, CIW has developed Programs and Awards of Distinction for students, educators, and community leaders to develop, learn, and collaborate as participants of Chicago Ideas Week.
        
        %h2 ThinkChicago
        %p 
          Join us in Chicago for a chance to visit and meet with the leaders of some of today’s most diverse and innovative tech companies! You could become one of 100 students that will lucky enough to meet industry leaders and venture capitalists, visit business headquarters, and gain free admission to the second annual Chicago Ideas Week, where you will hear from some of today’s most inspiring and innovative leaders in topics ranging from architecture and design to education and technology. 
          = link_to "Read More", think_chicago_path, :rel => "bookmark", :title => "ThinkChicago"
        
        %h2 Bluhm/Helfand Social Innovation Fellowship
        %p 
          The Fellowship program hosts three young social entrepreneurs in Chicago for Chicago Ideas Week, all expenses paid, for the purposes of gaining exposure for their organization, intimate meetings with nationally recognized business and community leaders, and funding to help advance the Fellows’ social mission and goals.
          = link_to "Read More", blum_helfand_path, :rel => "bookmark", :title => "View the Bluhm/Helfand Innovation Fellowship Winners from 2011"

        %h2 The Idea Awards
        %p The Idea Awards honors Chicago-area students, educators and community leaders. These awards were created to acknowledge some of Chicago’s most innovative individuals, as distinguished by their use of new ideas and the positive, measurable impact they have in the community. Winners will receive special recognition by community leaders during Chicago Ideas Week and the best seats in the house for the Edison Talks, a highlight of Chicago Ideas Week.

        %h2 Heroes Prize
        %p A hero is a person who risks something of his or her own to improve the life of another. Chicago Ideas Week honors heroes from our community and around the globe who inspire us to do better and be better doers.
      
      

  -# Include Sidebar Items
  #sidebar
    = render "partials/sponsors"
    = render "partials/social"
    = render "partials/newsletter_form"
