= f.inputs do
  = f.input :first_name 
  = f.input :last_name 
  = f.input :organization_name 
  = f.input :website
  = f.input :job_title 
  = f.input :email 
  = f.input :phone_number 
  
  
  = f.input :event_name 
  = f.input :event_date 
  = f.input :event_location 
  = f.input :event_capacity 
  = f.input :event_overview
   
  = f.input :recurring 
  = f.input :paid_event 
  = f.input :event_cost 
  = f.input :rsvp_required 
  = f.input :rsvp_directions
  
   
  = f.input :description_25words 
  = f.input :description_10words 
  