%table#affiliate_events_application
  %tr
    %th.name= ssp_sort_link :first_name
    %th.city= ssp_sort_link :last_name
    %th.state= ssp_sort_link :organization_name
    %th.country= ssp_sort_link :email
    %th.user_id= ssp_sort_link :event_name
    %th.user_id= ssp_sort_link :user_id
    %th 
  = render :partial => 'admin/affiliate_event_applications/affiliate_event_applications.html.haml', :collection => affiliate_event_applications
