= render 'member_controls'

- content_for :top_links do
  = edit_model_link @affiliate_event_application, true
  = destroy_model_link @affiliate_event_application, true

%h1
  = @affiliate_event_application.organization_name
  = icon_link_to 'notes', notes_admin_affiliate_event_application_path(@affiliate_event_application), 'script'
  = new_model_link Note, @affiliate_event_application

#model_detail
  %h4 First Name
  %p= @affiliate_event_application.first_name

  %h4 Last Name
  %p= @affiliate_event_application.last_name

  %h4 Organization Name
  %p= @affiliate_event_application.organization_name

  %h4 Website
  %p= @affiliate_event_application.website

  %h4 Job Title
  %p= @affiliate_event_application.job_title

  %h4 Email Address
  %p= @affiliate_event_application.email

  %h4 Phone Number
  %p= @affiliate_event_application.phone_number

  %h4 vent Name (as it would be printed in promotional materials)
  %p= @affiliate_event_application.event_name
  
  %h4 Date/Time
  %p= @affiliate_event_application.event_date

  %h4 Event Location
  %p= @affiliate_event_application.event_location
  
  %h4 Event Capacity
  %p= @affiliate_event_application.event_capacity
  
  %h4 Event Overview
  %p= @affiliate_event_application.event_overview
  
  %h4 Is this a recurring event?
  %p= @affiliate_event_application.recurring
  
  %h4 Is this a paid event?
  %p= @affiliate_event_application.paid_event? ? 'yes' : 'no'
  
  %h4 WHow much does it cost
  %p= @affiliate_event_application.event_cost
  
  
  
  %h3 Does this event require guests to RSVP in advance?
  %p= @affiliate_event_application.rsvp_required? ? 'yes' : 'no'

  %h3 How and when do guests RSVP?
  %p= @affiliate_event_application.rsvp_directions

  %h3 Event description in 25 words or less (as it would be printed in promotional materials)
  %p= @affiliate_event_application.description_25words

  %h3 Event description in 10 words or less (as it would be printed in promotional materials)
  %p= @affiliate_event_application.description_10words? ? 'yes' : 'no'
