%tr{:chapter => chapter.id}
  %td.title= link_to chapter.title, admin_chapter_path(chapter)
  %td.description= chapter.description
  %td.sort= chapter.sort
  %td.options
    = edit_model_link chapter
    = destroy_model_link chapter
 