= f.inputs do
  = f.input :title 
  = f.input :vimeo_id
  = f.input :description 

= f.inputs :name => 'Speakers' do
  = link_to_add_fields "Add Speaker", f, :performances, :template => 'admin/performances/nested_fields.html.haml'
  = f.semantic_fields_for :performances do |contact_form|
    = render 'admin/performances/nested_fields.html.haml', :f => contact_form

= f.inputs :name => "Photos of this Chapter" do
  = link_to_add_fields "Add Photo", f, :chapter_photos, :template => 'admin/chapter_photos/nested_fields.html.haml'
  = f.semantic_fields_for :chapter_photos do |chapter_photo_form|
    = render 'admin/chapter_photos/nested_fields.html.haml', :f => chapter_photo_form
