= render 'member_controls'

= ssp_search_form ChapterPhoto

.table_section
  %h3 
    Chapter Photos
    = new_model_link ChapterPhoto, @chapter
  .table_wrapper
    = render 'admin/chapter_photos/table.html.haml', :chapter_photos => @chapter_photos
  = paginate @chapter_photos