= render 'member_controls'

- content_for :top_links do
  = edit_model_link @chapter, true
  = destroy_model_link @chapter, true

%h1
  This Chapter
  = icon_link_to 'notes', notes_admin_chapter_path(@chapter), 'script'
  = new_model_link Note, @chapter

#model_detail
  %h4 Sort
  %p= @chapter.sort

  %h4 Title
  %p= @chapter.title

  %h4 Description
  %p= @chapter.description

  %h4 Talk
  %p= @chapter.talk.name

  %h4 Vimeo ID
  %p= @chapter.vimeo_id

  %h4 Featured on Talk
  %p= @chapter.featured_on_talk? ? 'yes' : 'no'

  %h4 Featured on Homepage
  %p= @chapter.featured_on_homepage? ? 'yes' : 'no'

  %h4 Homepage CAPTION
  %p= @chapter.homepage_caption

  %h4 Banner
  %p= image_tag URI.decode @chapter.banner.url(:medium)


.table_section
  %h3 
    Speakers
  .table_wrapper
    = render 'admin/performances/table.html.haml', :performances => @chapter.performances
