-#     Chicago Ideas Week
-#     talks/show.html.haml
-#     01/12/2012


%section.banner.container-fluid
  .banner_wrapper{:style => "background: url(#{asset_path "application/upcoming_ciw_banner.jpg"}) top center no-repeat;"}


-# Main Talk content
%section.container#main_content
  
  - if @speakers
    #page_header
      %ul.preview_list.speaker_list.horizontal_list
        - @speakers.each do |speaker|
          %li{:id => "speaker_#{speaker.id}", :class => "speaker_#{speaker.id}"}
            .img_frame
              = link_to image_tag(speaker.portrait(:thumb)), speaker_path(speaker), :rel => "bookmark", :title => "#{speaker.name}"
            = link_to speaker.name, speaker_path(speaker), :rel => "bookmark", :title => "#{speaker.name}"
            %span= speaker.title_abbreviated
      %center
        = link_to "view more speakers →"
        

  -# Left column, main content: About Us information
  .box.double.left

    .column_row.divided_row#about_description
      .column.column_double
        - if @talks
          %ul.theme_list
            - @talks.each do |talk|
              %li= link_to talk.name, talk_path(talk)

  -# Include Sidebar Items
  #sidebar
    = render "partials/sponsors"
    = render "partials/newsletter_form"
    = render "partials/social"
      