-#     Chicago Ideas Week
-#     talks/show.html.haml
-#     01/12/2012


%section.banner.container-fluid
  .banner_wrapper{:style => "background: url(#{asset_path "application/temp/speaker_landing_banner.jpg"}) top center no-repeat;"}


-# Main Talk content
%section.container#main_content

  #intro
    %h1 CIW 2013: October 14 - 20, 2013
  
  -# Left column, main content: 
  
  
  .box.double.left
    .column_row.divided_row
      .column.column_double
        - if @talks
          %ul.theme_list
            - @talks.each do |talk|
              %li= link_to talk.name, talk_path(talk)

  -# Include Sidebar Items
  #sidebar
    = render "partials/sponsors"
    = render "partials/newsletter_form"
    = render "partials/social"
      
