- content_for :breadcrumbs do
  = breadcrumbs @quote
  .crumb.end= section_title   

- content_for :content_navigation do
  %h2 Quotes
  %ul
    %li{:class => active_for('index')}= icon_link_to "Search", admin_quotes_path, 'search'
  %h2 This Quote
  %ul
    %li{:class => active_for('show')}= icon_link_to "Detail", admin_quote_path(@quote), 'circle-zoomin'
    %li{:class => active_for('notes')}= icon_link_to "Notes", notes_admin_quote_path(@quote), 'comment'
