= render 'collection_controls'

- content_for :top_links do
  = new_model_link Quote

= ssp_search_form Quote

.table_section
  %h3 
    Quotes
    = new_model_link Quote
  .table_wrapper
    = render 'admin/quotes/table.html.haml', :quotes => @quotes

