-#     Chicago Ideas Week
-#     speakers/_speaker_tweet.html.haml
-#     01/18/2012


- if @speaker.twitter_screen_name.present?
  .box.sidebar.right#chapters
    .box_header
      %span= "Tweets by #{@speaker.name}"
    .column_row
      %ul.twitter_list
        %li
          .tweet_content
            At the National Retail Federaction conference? See us speak with @underarmour @ice @american_eagle on social wins.
          .tweet_timestamp
            =link_to "January 17, 2012 at 2:03pm", "#"
      
        %li
          .tweet_content
            At the National Retail Federaction conference? See us speak with @underarmour @ice @american_eagle on social wins.
          .tweet_timestamp
            =link_to "January 17, 2012 at 2:03pm", "#"
  
        %li.follow_speaker
          = link_to "Follow #{@speaker.name} on Twitter", "http://www.twitter.com/#{@speaker.twitter_screen_name}"