-#     Chicago Ideas Week
-#     speakers/index.html.haml
-#     01/17/2012


-# Breadcrumbs and Explore button
%section#header_toolbar.container-fluid
  .container
    #breadcrumbs
      %ul
        %li= link_to "Home", "/"
        %li
          %span= @title
    = render "partials/explore_dropdown"

-# Begin Main Speaker content
%section.container#main_content
  
  #page_header
    #page_title.left
      %h1= @title
    = render "partials/share"
      
  
  -# Left column: Speakers List
  .box.double.left
    .column_row.divided_row
      .column.column_double
        %p= link_to "All Speakers", "/speakers"
        %p= link_to "2012 Speakers", "/years/2012/speakers"
        %p= link_to "2011 Speakers", "/years/2011/speakers"
        
    = render "speakers/speakers", :speakers => @speakers
                

  -# Include Sidebar Items
  #sidebar
    = render "partials/recommend_speaker_callout"
    = render "partials/sponsors"
    = render "partials/newsletter_form"
    = render "partials/social"


