-#     Chicago Ideas Week
-#     speakers/index.html.haml
-#     01/17/2012


-# Breadcrumbs and Explore button
%section#header_toolbar.container-fluid
  .container
    #breadcrumbs
      %ul
        %li= link_to "Home", "/"
        %li= link_to "Speakers", speakers_path
    = link_to "Explore Speakers", "#", :class => "explore_btn", :id => "explore_speakers"


-# Begin Main Speaker content
%section.container#main_content
  
  #page_header
    #page_title.left
      %h1 Speakers
    = render "partials/share"
      
  
  -# Left column: Speakers List
  .box.double.left
    .column_row.speakers_filter
      .column.column_double
        %ul.filter_
          %li= link_to "A", "#"
          %li= link_to "B", "#"
          %li= link_to "C", "#"
          %li= link_to "D", "#"
          %li= link_to "E", "#"
          %li= link_to "F", "#"
          %li= link_to "G", "#"
          %li= link_to "H", "#"
          %li I
          %li= link_to "J", "#", :class => "active"
          %li= link_to "K", "#"
          %li= link_to "L", "#"
          %li= link_to "M", "#"
          %li= link_to "N", "#"
          %li= link_to "O", "#"
          %li= link_to "P", "#"
          %li Q
          %li= link_to "R", "#"
          %li= link_to "S", "#"
          %li= link_to "T", "#"
          %li= link_to "U", "#"
          %li= link_to "V", "#"
          %li= link_to "W", "#"
          %li X
          %li= link_to "Y", "#"
          %li= link_to "Z", "#"
          
    = render "partials/speakers_loop"
                

  -# Include Sidebar Items
  #sidebar
    -#= render "partials/track_filter"
    = render "partials/sponsors"
    = render "partials/newsletter_form"
    = render "partials/social"


