-#     Chicago Ideas Week
-#     speakers/recommend_speaker.html.haml
-#     03/27/2012


-# Breadcrumbs and Explore button
%section#header_toolbar.container-fluid
  .container
    #breadcrumbs
      %ul
        %li= link_to "Home", "/"
        %li= link_to "Speakers", speakers_path
        %li
          %span Recommend a Speaker



-# Main content
%section.container#main_content

  #page_header
    #page_title.left
      %h1 Speaker Recommendation Form
    = render "partials/share"

  -# Left column, main content
  .box.double.left
  
    .column_row.divided_row
      .column.column_double
        <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dFYxQ2VUak94M1BacDZyY21EQ1daQUE6MQ" width="640" height="2810" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

  -# Include Sidebar Items
  #sidebar
    = render "partials/buy_tickets_now"
    = render "partials/sponsors"
    = render "partials/social"
    = render "partials/newsletter_form"
