-#     Chicago Ideas Week
-#     speakers/show.html.haml
-#     01/15/2012


-# Breadcrumbs and Explore button
%section#header_toolbar.container-fluid
  .container
    #breadcrumbs
      %ul
        %li= link_to "Home", "/"
        %li= link_to "Speakers", speakers_path
        %li= link_to @speaker.name
    = link_to "Explore Speakers", "#", :class => "explore_btn", :id => "explore_speakers"


-# Main Speaker content
%section.container#main_content

  #page_header
    #page_title.left
      %h1= @speaker.name
      - if @speaker.title.present?
        %span.sub_header= @speaker.title
    #page_share.right
      %ul
        %li#twitter_ <a href="https://twitter.com/share" class="twitter-share-button" data-via="chicagoideas" data-count="none" data-hashtags="ciwtalks">Tweet</a>
        -#%li#facebook_ <div class="fb-like" data-href="http://www.google.com" data-send="false" data-layout="button_count" data-show-faces="true"></div>
        %li#facebook_ <div class="fb-like" data-send="false" data-layout="button_count" data-show-faces="false"></div>
        %li#gplus_ <g:plusone size="medium" annotation="none"></g:plusone>
      

  -# Left column, main content: Gallery, details, speakers, etc.
  .box.double.left
    
    -# Speaker Photo Gallery
    .talk_gallery
      -#- @talk.talk_photos.each do |photo|
      -#= image_tag(photo.photo_file_name)
      
    -# Main Speaker Content Below
    .column_row.divided_row#speaker_bio
      .column.column_double
      
        -# Speaker Quote
        -#- if @speaker.quote.present?
        %blockquote.speaker_quote
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut sem quam, fermentum accumsan nisi. 
          
        -# Speaker Overview: Sidebar with headshot, info, talks, social
        %ul#speaker_overview
          %li
            .img_frame
              = image_tag(@speaker.portrait)
          %li
            %h3= @speaker.name
            - if @speaker.title.present?
              %span.title= @speaker.title
          
          -# If the speaker has available chapters/videos
          - if @chapters.present?
            %li.divided
              %span.column_header Talks
              %ul.speaker_overview_talks
                - @chapters.each do |chapter|
                  %li= link_to chapter.talk.name, talk_path(chapter.talk)
          
        -# Speaker Bio
        %pre= @speaker.bio



    -# Related speakers
    - if @chapters.present?
      .column_row#talks_speakers
        .column.column_double
          %span.column_header Speakers
          %ul.preview_list.speaker_list.double_rows
            - @chapters.each do |c|
              - if c.present?
                - c.performances.each do |p| 
                  - if p.speaker.present?
                    %li
                      .img_frame
                        = link_to image_tag(p.speaker.portrait.url), speaker_path(p.speaker)
                      = link_to p.speaker.name, speaker_path(p.speaker)
                      %span= p.speaker.title
        
        
        
        
    
        
  

  -# Include Sidebar Items
  #sidebar
    = render "partials/chapters", :locals => @chapters
    = render "speakers/speaker_tweets"
    = render "partials/sponsors"
    = render "partials/social"
    = render "partials/newsletter_form"