-#     Chicago Ideas Week
-#     speakers/show.html.haml
-#     01/15/2012


-# Breadcrumbs and Explore button
%section#header_toolbar.container-fluid
  .container
    #breadcrumbs
      %ul
        %li= link_to "Home", "/"
        %li= link_to "Speakers", speakers_path
        %li= link_to @speaker.name
    = render "partials/explore_dropdown"

-# Main Speaker content
%section.container#main_content

  #page_header
    #page_title.left
      %h1= @speaker.name
      - if @speaker.title.present?
        %span.sub_header.speaker_title= @speaker.title
    = render "partials/share"
      

  -# Left column, main content: Gallery, details, speakers, etc.
  .box.double.left
    -# Main Speaker Content Below
    .column_row.divided_row#speaker_bio
      .column.column_double
      
        -# Speaker Quote
        - if @speaker.quotes.present?
          - @speaker.quotes.take(1).each do |quote|
            %blockquote.speaker_quote
              = quote.body
          
        -# Speaker Overview: Sidebar with headshot, info, talks, social
        %ul#speaker_overview
          %li
            .img_frame
              = image_tag(@speaker.portrait(:medium))
          %li
            %h3= @speaker.name
            - if @speaker.title.present?
              %span.title= @speaker.title
          
          -# If the speaker has available chapters/videos
          - if @chapters.present?
            %li.divided
              %span.column_header CIW Talks
              %ul.speaker_overview_talks
                - @chapters.each do |chapter|
                  %li= link_to chapter.talk.name, talk_path(chapter.talk), :rel => "bookmark", :title => "#{chapter.talk.name}"
          
        -# Speaker Bio
        %pre= @speaker.bio



    -# Related speakers
    - unless @chapters.blank?
      = render "partials/chapters_speakers", :chapters => @chapters.first.talk.chapters.all, :title => "Related Speakers", :this_speaker => @speaker
        

  -# Include Sidebar Items
  #sidebar
    = render "partials/chapters_sidebar", :chapters => @chapters, :title => "Videos", :this_chapter => "NULL"
    = render "partials/speaker_tweets", :speaker => @speaker
    = render "partials/sponsors"
    = render "partials/newsletter_form"