-#     Chicago Ideas Week
-#     speakers/top_picks.html.haml
-#     08/29/2012




%section.container#main_content

  %div#top_picks_header
    %h1 Speaker Top Picks
    
    = render "partials/share"
    
    %div#top_picks_header_content
      %p.left
        Too much to choose from? Make the process easier by purchasing a package of Talks & Labs hand-picked by some of our CIW Speakers! Use these "Top Picks" as your guide to an experience specifically selected by Mayor Rahm Emanuel, Deepak Chopra, Brad Keywell, Sharmeen Obaid-Chinoy, or Baratunde Thurston! 
        
  
  %div#top_picks_content.clearfix
    
    %div#top_picks_levels.clearfix
      %div.top_pick
        
        %h3 Deepak Chopra
        
        %div.left
          %p 
            %strong Talks
          %ul
            %li Tuesday: Giving: One Matters
            %li 
              Tuesday: 
              = link_to "Disruptive Innovation: Reinventing Our World", "/talks/34"
            %li Thursday: Scientific Breakthroughs: Quantum Leaps
            %li 
              Thursday: 
              = link_to "Meaning of Life: What's It All About?", "/talks/50"
            %li 
              Sunday: 
              = link_to "Health & Wellness: Power to the Patient", "/talks/51"
        
        %div.right
          %p 
            %strong Labs
          %ul
            %li 
              Tuesday: 
              = link_to "Argonne National Laboratory: Game Changing Science & Technology", "/events/55"
            %li 
              Friday: 
              = link_to "Fab Lab @ Museum of Science and Industry: Innovation Insider", "/events/108"
        
        %div.clearfix
          %a.btn_level{:target => "_blank", :href => "https://andticketing.com/chicagoideasweek/Online/bundleSelect.asp?createBO::WSbundlemap=1&BOset::WSbundlemap::seatmap::bundle_id=44D5F0AA-2BD3-4EC7-9E06-DB91EEFB2CE4"}
            Buy Deepak's Top Picks
      
      %div.top_pick  
        %h3 Mayor Rahm Emanuel
        
        %div.left
          %p 
            %strong Talks
          %ul
            %li 
              Monday: 
              = link_to "Social Entrepreneurship", "/talks/27"
            %li 
              Tuesday: 
              = link_to "Cities: Local Ties, Global Impact", "/talks/32"
            %li 
              Tuesday: 
              = link_to "Disruptive Innovation: Reinventing Our World", "/talks/34"
            %li 
              Thursday: 
              = link_to "Future of Chicago", "/talks/58"
            %li 
              Saturday: 
              = link_to "Education: New School", "/talks/46"
        
        %div.right
          %p
            %strong Labs
          %ul     
            %li 
              Wednesday: 
              = link_to "Chicago Children's Museum: Unboxed &mdash; Creating Adventures with Everyday Materials", "/events/60"
            %li 
              Friday: 
              = link_to "NBC 5 Chicago", "/events/78"
            %li 
              Friday: 
              = link_to "Navy Pier: Future Design", "/events/135"
            %li 
              Saturday: 
              = link_to "EMBARC: Community Social", "/events/64"
        
        %div.clearfix
          %a.btn_level{:target => "_blank", :href => "https://andticketing.com/chicagoideasweek/Online/bundleSelect.asp?createBO::WSbundlemap=1&BOset::WSbundlemap::seatmap::bundle_id=B4BAE333-831F-45E7-9791-BB89A5684B0A"}
            Buy Rahm's Top Picks
      
      %div.top_pick
        %h3 Brad Keywell
        %div.left
          %p 
            %strong Talks
          %ul
            %li 
              Monday: 
              = link_to "Social Entrepreneurship", "/talks/27"
            %li 
              Monday: 
              = link_to "Tech: Change is the Constant", "/talks/55"
            %li 
              Tuesday: 
              = link_to "Web: Life Online", "/talks/33"
            %li 
              Tuesday: 
              = link_to "Disruptive Innovation: Reinventing Our World", "/talks/34"
            %li 
              Saturday: 
              = link_to "Explorers: Seeking the Edge", "/talks/44"
        
        %div.right
          %p
            %strong Labs
          %ul 
            %li 
              Wednesday: 
              = link_to "1871: Building Startups in Chicago", "/events/76"
            %li 
              Wednesday: 
              = link_to "Design Cloud: Chicago as a Focal Point of Art + Design", "/events/63"
            %li 
              Thursday: 
              = link_to "IDEO: Chicago Make-A-Thon", "/events/70"
            %li 
              Friday: 
              = link_to "Fab Lab @ Museum of Science and Industry: Innovation Insider", "/events/108"

        %div.clearfix
          %a.btn_level{:target => "_blank", :href => "https://andticketing.com/chicagoideasweek/Online/bundleSelect.asp?createBO::WSbundlemap=1&BOset::WSbundlemap::seatmap::bundle_id=FA191E19-53E7-4330-8733-B669A9531F8B"}
            Buy Brad's Top Picks
      
      %div.top_pick  
        %h3 Sharmeen Obaid-Chinoy
        %div.left
          %p 
            %strong Talks
          %ul
            %li 
              Wednesday: 
              = link_to "Criminal Justice: Beyond The Verdict", "/talks/40"
            %li 
              Tuesday: 
              = link_to "Identity: What Makes Me", "/talks/35"
            %li 
              Thursday: 
              = link_to "Instigators: Stand for Something", "/talks/42"
            %li 
              Thursday: 
              = link_to "Scientific Breakthroughs: Quantum Leaps", "/talks/26"
        
        %div.right
          %p 
            %strong Labs
          %ul 
            %li 
              Monday: 
              = link_to "The School for Theatre Creators: The Poetic Body", "/events/86"
            %li 
              Tuesday: 
              = link_to "Tribeca Flashpoint Media Arts Academy", "/events/89"

        %div.clearfix
          %a.btn_level{:target => "_blank", :href => "https://andticketing.com/chicagoideasweek/Online/bundleSelect.asp?createBO::WSbundlemap=1&BOset::WSbundlemap::seatmap::bundle_id=54E6BD36-54CE-4F75-9F83-7268E2CCCFAD"}
            Buy Sharmeen's Top Picks
      
      %div.top_pick
        %h3 Baratunde Thurston
        %div.left
          %p 
            %strong Talks
          %ul
            %li 
              Tuesday: 
              = link_to "Web: Life Online", "/talks/33"
            %li 
              Tuesday: 
              = link_to "Disruptive Innovation: Reinventing Our World", "/talks/34"
            %li 
              Wednesday: 
              = link_to "Future of News: What's the Story?", "/talks/38"
            %li 
              Wednesday: 
              = link_to "Water: The Ripple Effect", "/talks/53"
            %li 
              Wednesday: 
              = link_to "Criminal Justice: Beyond The Verdict", "/talks/40"
            %li 
              Thursday: 
              = link_to "Instigators: Stand for Something", "/talks/42"
            %li 
              Saturday: 
              = link_to "Comedy: What's So Funny?", "/talks/57"
        
        %div.right
          %p
            %strong Labs
          %ul 
            %li 
              Monday: 
              = link_to "Interfaith Youth Core: We Are Better Together", "/events/74"
            %li 
              Wednesday: 
              = link_to "Year Up: Closing Chicago's Opportunity Divide", "/events/94"
            %li 
              Sunday: 
              = link_to "Koval Distillery: Wonders of Whiskey", "/events/119"
        
        %div.clearfix
          %a.btn_level{:target => "_blank", :href => "https://andticketing.com/chicagoideasweek/Online/bundleSelect.asp?createBO::WSbundlemap=1&BOset::WSbundlemap::seatmap::bundle_id=87D3E1B9-AD0E-4467-9F48-EFB702475399"}
            Buy Baratunde's Top Picks
      
    
    
    %div.column_three
      %div.column
        = render "partials/think_chicago"
      %div.column
        = render "partials/sponsors"
      %div.column
        = render "partials/community"
