-################################################
-#
-# 		Project		Chicago Ideas Week
-# 		Title		Application Front-End
-# 		File		Application.html.haml
-# 		Date		12/30/11
-# 		Author		John Koht
-#
-################################################

!!! 5
- conditional_html 'en'

%head
  = render "layouts/application/head"

%body{:id => body_id, :class => body_class}
  
  #fb-root
  %script
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=296852007020026";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  
  #wrapper
    -# Global Header & Navigation
    %header{:id => "main_header", :class => "container-fluid"}
      = render "layouts/application/header"

    -# Main Body Content
    = yield

  #flash_helper= flash_helper  

  %footer{:id => "footer", :class => "container-fluid"}
    = render "layouts/application/footer"
    = render 'shared/google_analytics'
  
