- content_for :breadcrumbs do
  = breadcrumbs @event_photo
  .crumb.end= section_title   

- content_for :content_navigation do
  %h2 EventPhotos
  %ul
    %li{:class => active_for('index')}= icon_link_to "Search", admin_event_photos_path, 'search'
  %h2 This Event Photo
  %ul
    %li{:class => active_for('show')}= icon_link_to "Detail", admin_event_photo_path(@event_photo), 'circle-zoomin'
    %li{:class => active_for('notes')}= icon_link_to "Notes", notes_admin_event_photo_path(@event_photo), 'comment'
